<div class="project-steps">

    <div class="project-steps-container" [perfectScrollbar]="perfectScrollbarConfig" *ngIf="project">
        <div class="steps-graph">
            <div class="steps-line"></div>
            <div class="steps-line-highlight" [ngStyle]="{'width': getProgressBarPercentage()}"></div>

            <div class="steps">
                <app-project-step [stepSeqNum]="0" [projectStatus]="project.status">
                    {{'projects.steps.draft'|translate}}
                </app-project-step>
                <app-project-step [stepSeqNum]="1" [projectStatus]="project.status">
                    {{'projects.steps.sent'|translate}}
                </app-project-step>
                <app-project-step [stepSeqNum]="2" [projectStatus]="project.status">
                    {{'projects.steps.freelancers-viewing'|translate}}
                </app-project-step>
                <app-project-step [stepSeqNum]="3" [projectStatus]="project.status">
                    {{'projects.steps.feedback'|translate}}
                    <a class="d-block mt-2"
                       (click)="jumpToFreelancerMatches.next()"
                       *ngIf="isProjectStatusFeedback()">
                        {{'projects.steps.checkoutFreelancers'|translate}}
                    </a>
                </app-project-step>
                <app-project-step [stepSeqNum]="4" [projectStatus]="project.status">
                    {{'projects.steps.meet-your-match'|translate}}
                </app-project-step>
                <app-project-step [stepSeqNum]="5" [projectStatus]="project.status">
                    {{'projects.steps.contract'|translate}}
                </app-project-step>
                <app-project-step [stepSeqNum]="6" [projectStatus]="project.status">
                    {{'projects.steps.freelancer-ready'|translate}}
                </app-project-step>
            </div>
        </div>
    </div>

</div>
