<div class="step" [class.current-step]="isCurrent()" [class.visited-step]="isVisited()" [class.unvisited-step]="isUnvisited()">
    <div class="step-circle"></div>
    <div class="step-text">
        <ng-content></ng-content>
    </div>
</div>
