<div class="big-bubble"></div>
<div class="small-bubble bubble-1"></div>
<div class="small-bubble bubble-2"></div>
<div class="small-bubble bubble-3"></div>
<div class="small-bubble bubble-4"></div>
<div class="small-bubble bubble-5"></div>
<div class="small-bubble bubble-6"></div>
<div class="small-bubble bubble-7"></div>

<div class="smartphone-container">

    <img class="smartphone-img" src="/assets/img/phone.png" alt="Smartphone preview">

    <div class="smartphone-header">
        <svg-icon name="gighouse-logo-smartphone" class="gighouse-logo-smartphone"></svg-icon>
    </div>

    <div class="smartphone-main">
        <perfect-scrollbar [config]="perfectScrollbarConfig">
            <h6 class="smartphone-project-name">{{getName()}}</h6>

            <quill-view class="smartphone-project-description" [content]="getDescription()">

            </quill-view>

            <ul class="smartphone-list smartphone-project-description">
                <li>{{getBudget()}}</li>
                <li>{{getStartDate()}}</li>
                <li>{{getDaysPerWeek()}}</li>
                <li>{{getDurationWeeks()}}</li>
                <li>{{getLocation()}}</li>
                <li *ngIf="getTeasers() != null">{{getTeasers()}}</li>

                <!-- this is shown when in project-form-->
<!--                <li *ngIf="getNeedSkills() != null">{{getNeedSkills()}}</li>-->
<!--                <li *ngIf="getNiceSkills() != null">{{getNiceSkills()}}</li>-->
<!--                <li *ngIf="getNeedTools() != null">{{getNeedTools()}}</li>-->
<!--                <li *ngIf="getNiceTools() != null">{{getNiceTools()}}</li>-->

                <!-- this is shown when in project-details-->
                <li *ngIf="getProjectPositiveSkills() != null">{{getProjectPositiveSkills()}}</li>
            </ul>

            <span class="show-more-toggle" (click)="toggleDescription()" *ngIf="showDescriptionToggle()">
                <ng-container *ngIf="!showFullDescription">{{'projects.details.description-show-more'|translate}}
                </ng-container>
                <ng-container *ngIf="showFullDescription">{{'projects.details.description-show-less'|translate}}
                </ng-container>
            </span>

            <!-- <h5 class="smartphone-your-profile-title">{{'projects.smartphone.yourProfile'|translate}}</h5>
            <ul class="smartphone-your-profile-list">
                <li>What is this?</li>
                <li>What will go here?</li>
            </ul> -->


        </perfect-scrollbar>
    </div>
</div>

<div class="smartphone-bottom-message">
    <svg-icon name="arrow-curved" class="message-arrow"></svg-icon>
    <div class="message">{{'projects.smartphone.freelancersWillSeeInApp'|translate}}</div>
</div>
