<div class="page-container timesheets-detail-page">
    <main>
        <ng-container *ngIf="timeSheet$ | async as timeSheet, else noTimeSheets">
            <div class="title-bar">
                <h3 class="page-title">
                    <svg-icon name="timesheet" style="vertical-align: .1em;"></svg-icon>
                    {{'timesheets.detail.title'|translate}}
                </h3>
<!--                <div class="ml-auto">-->
<!--                    <a class="btn btn-success btn-standard" (click)="approve(timeSheet)">{{'timesheets.confirm'|translate}}</a>-->
<!--                    <a class="text-danger size-14 ml-2" (click)="reject(timeSheet)">{{'timesheets.reject'|translate}}</a>-->
<!--                </div>-->
            </div>

            <div class="timesheets-detail-freealancer">
                <div class="name-container">
                    <div class="name">{{timeSheet.freelancer.name}}</div>
                </div>
            </div>

            <div class="gig-table timesheets-detail-table">
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <th class="name-col first-col">{{'timesheets.detail.table.header.projectName'|translate}}</th>
                        <th class="freelancer-comment-col">{{'timesheets.detail.table.header.freelancerComment'|translate}}</th>
                        <th class="status-col">{{'timesheets.detail.table.header.status'|translate}}</th>
                        <th class="start-col">{{'timesheets.detail.table.header.start'|translate}}</th>
                        <th class="stop-col">{{'timesheets.detail.table.header.stop'|translate}}</th>
                        <th class="duration-col">{{'timesheets.detail.table.header.duration'|translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <ng-container *ngFor="let entry of timeSheet.timeEntries">
                        <tr>
                            <td class="name-col first-col">
                                <a [routerLink]="['/projects', 'details', timeSheet.project.id]">{{timeSheet.project.name}}</a>
                            </td>
                            <td class="freelancer-comment-col">
                                {{entry?.freelancerComment ? entry?.freelancerComment : '-'}}
                            </td>
                            <td class="status-col">
                                {{entry?.status ? entry?.status : '-'}}
                            </td>
                            <td class="start-col">
                                {{entry?.start ? (entry?.start | date:'dd/MM/yyyy HH:mm') : '-'}}
                            </td>
                            <td class="stop-col">
                                {{entry?.end ? (entry?.end | date:'dd/MM/yyyy HH:mm') : '-'}}
                            </td>
                            <td class="duration-col">
                                {{entry?.duration ? ('timesheets.detail.table.body.entry.duration'| translate:{duration: entry.duration}) : '-'}}
                            </td>
                        </tr>

                        <tr class="spacer-row">
                            <td colspan="6"></td>
                        </tr>
                    </ng-container>
                    </tbody>
                </table>
            </div>
        </ng-container>

        <app-loading class="page-loading" *ngIf="loading"></app-loading>
        <h4 class="page-loading-failed" *ngIf="loadingFailed">{{'timesheets.timeSheetsLoadingFailed'|translate}}</h4>
        <ng-template #noTimeSheets>
            <div *ngIf="!loading">
                <h4 class="page-no-items-message">{{'timesheets.noTimeSheetsDetail'|translate}}</h4>
            </div>
        </ng-template>
    </main>
</div>

