<div class="page-container freelancer-accepted-page">

    <main>
        <h3 class="page-title">
            <svg-icon name="thumbs-up" style="vertical-align: -4px;font-size: 30px;"></svg-icon>
            {{'freelancers.acceptedTitle'|translate}}
            <ng-container *ngIf="freelancers$|async as freelancers">
                <span *ngIf="freelancersTotalCount$|async as totalCount">({{totalCount}})</span>
            </ng-container>
        </h3>

        <ng-container *ngIf="freelancers$|async as freelancers; else loadingIndicator">
            <ng-container *ngIf="freelancers.length; else noFreelancersMessage">
                <div class="row"
                     infiniteScroll
                     [infiniteScrollDistance]="2"
                     [infiniteScrollThrottle]="50"
                     (scrolled)="scrolled(freelancers)">

                    <div class="col-12 col-xl-6 col-xxl-4 col-xxxl-3" *ngFor="let freelancer of freelancers">
                        <app-freelancer-card
                            [freelancer]="freelancer"
                            [cardColorLight]="true"
                            (meetOrGreet)="meetOrGreet(freelancer)"
                            (toggleFavourite)="toggleFavourite(freelancer)">
                        </app-freelancer-card>
                    </div>
                </div>

                <div class="infinite-scroll-loading" *ngIf="loading$|async">
                    <h5 class="loading-text mb-0">{{'global.infiniteScrollLoading'|translate}}</h5>
                    <app-loading [withDelay]="false"></app-loading>
                </div>

                <div class="text-center mt-2" *ngIf="loadingFailed$|async">
                    <div class="text-danger mb-2">{{'global.infiniteScrollLoadingFailed'|translate}}</div>
                    <button class="btn btn-standard btn-success" (click)="retryLoad$.next()">{{'global.infiniteScrollLoadingRetry'|translate}}</button>
                </div>

            </ng-container>
        </ng-container>

        <ng-template #noFreelancersMessage>
            <!-- Failed to load freelancers message -->
            <h4 class="page-loading-failed" *ngIf="loadingFailed$|async">
                {{'freelancers.freelancersLoadingFailed'|translate}}
            </h4>

            <!-- No freelancers message -->
            <h4 class="page-no-items-message" *ngIf="!(loadingFailed$|async)">{{'freelancers.noAcceptedFreelancers'|translate}}</h4>
        </ng-template>

        <ng-template #loadingIndicator>
            <app-loading class="page-loading"></app-loading>
        </ng-template>




    </main>

</div>
