/**
 * ==============================================
 * Dot Falling - Animation for chat to show that another user is typing
 * ==============================================
 */
$dot-radius: 6px;
$dot-margin: 12px;
$middle-pos: 9999px;
$before-pos: $middle-pos - $dot-margin;
$after-pos: $middle-pos + $dot-margin;

.dot-falling {
  position: relative;
  left: $middle-pos * -1;
  width: $dot-radius;
  height: $dot-radius;
  border-radius: 50%;
  background-color: $red;
  color: $red;
  box-shadow: $middle-pos 0 0 0 $red;
  animation: dotFalling 1s infinite linear;
  animation-delay: .1s;
}

.dot-falling::before, .dot-falling::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-falling::before {
  width: $dot-radius;
  height: $dot-radius;
  border-radius: 50%;
  background-color: $red;
  color: $red;
  animation: dotFallingBefore 1s infinite linear;
  animation-delay: 0s;
}

.dot-falling::after {
  width: $dot-radius;
  height: $dot-radius;
  border-radius: 50%;
  background-color: $red;
  color: $red;
  animation: dotFallingAfter 1s infinite linear;
  animation-delay: .2s;
}

@keyframes dotFalling {
  0% {
    box-shadow: $middle-pos -15px 0 0 rgba(152, 128, 255, 0);
  }
  25%,
  50%,
  75% {
    box-shadow: $middle-pos 0 0 0 $red;
  }
  100% {
    box-shadow: $middle-pos 15px 0 0 rgba(152, 128, 255, 0);
  }
}

@keyframes dotFallingBefore {
  0% {
    box-shadow: $before-pos -15px 0 0 rgba(152, 128, 255, 0);
  }
  25%,
  50%,
  75% {
    box-shadow: $before-pos 0 0 0 $red;
  }
  100% {
    box-shadow: $before-pos 15px 0 0 rgba(152, 128, 255, 0);
  }
}

@keyframes dotFallingAfter {
  0% {
    box-shadow: $after-pos -15px 0 0 rgba(152, 128, 255, 0);
  }
  25%,
  50%,
  75% {
    box-shadow: $after-pos 0 0 0 $red;
  }
  100% {
    box-shadow: $after-pos 15px 0 0 rgba(152, 128, 255, 0);
  }
}
