@import 'src/scss/variables';

$chat-left-sidebar-width: 300px;

.chat-page {

  main {
    height: calc(100vh - #{$lg-header-height});
    overflow: hidden;
    padding: 0 !important;

    app-chat-window {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .chat-window-header {
      height: 55px;
      flex: 0 0 55px;
      background-color: $gray-200;
      padding: 10px 15px;
      line-height: 1.25;

      .name {
        font-weight: $font-weight-avenir-medium;
      }

      .role {
        font-size: 12px;
      }
    }

    .chat-window-main {
      flex: 1;
      overflow: auto;
      padding: 30px 40px 0 40px;
      display: flex;
      flex-direction: column;
    }

    .chat-window-footer {
      flex: 0 0 55px;
      background: transparent;
      padding: 5px 40px 20px 40px;

      .chat-input-area {
        display: flex;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 0 5px $gray-300;
        padding: 7px 7px 7px 0;

        .btn-send {
          border-radius: 50%;
        }
      }

      .chat-textarea-container {
        flex: 1;
        display: flex;
        align-items: center;

        textarea {
          padding-top: 2px;
          padding-bottom: 2px;
          outline: 0 !important;
          border: 0 !important;
          box-shadow: none !important;
          resize: none;
        }
      }

      .chat-input-area-actions {
        width: 50px;
        flex: 0 0 50px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
      }
    }
  }

  .day-row {
    text-align: center;
    font-size: 14px;
    color: $gray-500;
  }

  .typing-info {
    display: flex;
    align-items: center;

    .avatar {
      font-size: 28px;
      color: $gray-500;
    }

    .dot-falling {
      margin-left: 20px;
    }
  }

  app-chat-block {
    display: flex;
    flex-direction: column;

    .chat-block {
      width: 50%;

      .chat-block-top {
        display: flex;
        align-items: center;

        .avatar {
          font-size: 28px;
          color: $gray-500;
          margin-right: 7px;
        }

        .name {
          font-size: 14px;
          font-weight: $font-weight-avenir-heavy;
        }
      }

      .post {
        margin-bottom: 5px;

        .chat-balloon {
          background-color: #f3f3f3;
          font-size: 14px;
          padding: 7px 7px;
          border-radius: 5px;
          display: inline-block; // This is to make balloon div only as wide as the content
          white-space: pre-wrap;
        }

        .chat-message-time.tooltip.show {
          opacity: 0.6;
        }
      }

      &.your-chat-block {
        align-self: flex-end;
        text-align: right;

        .chat-block-top {
          justify-content: flex-end;

          .avatar {
            order: 1;
            margin-right: 0;
            margin-left: 7px;
          }
        }
      }

      &.their-chat-block {
        .chat-balloon {
          background-color: $gig-purple-light;
        }
      }
    }
  }

  app-chat-projects-menu, app-chat-freelancers-menu {
    .page-no-items-message, .page-loading-failed {
      margin-top: 25px;
      font-size: 18px;
    }

    .page-loading {
      margin-top: 25px;

      .loading-spinner {
        font-size: 20px;
      }
    }
  }

  app-chat-freelancers-menu {
    .page-no-items-message, .page-loading-failed {
      text-align: left;
    }

    .page-no-items-message, .page-loading-failed, .page-loading {
      margin-bottom: 25px;
    }
  }

  .project-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: $purple;
    padding: 6px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 2px;
    font-weight: $font-weight-avenir-medium;

    &:hover {
      text-decoration: none;
      color: $purple;
      transition: font-size 0.1s;

      &:not(.active) {
        font-size: 15px;
      }
    }

    &.active {
      background-color: $gig-purple-light;
      font-weight: $font-weight-avenir-black;
    }

    .project-unread-msg-indicator {
      display: block;
      flex: 0 0 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $red;
    }

  }

  .secondary-menu-h-line-box {
    margin-bottom: 25px;
  }

  .left-sidebar {
    width: $chat-left-sidebar-width;
    flex: 0 0 $chat-left-sidebar-width;
    padding: 23px 15px;
  }

  main {
    margin-left: $chat-left-sidebar-width;
  }

  .chat-participants-list {
    margin-top: 45px;
  }

  .chat-participant-row {
    display: flex;
    padding: 0 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    align-items: center;

    &.active {
      background-color: $gig-purple-light;
    }

    .avatar-container {
      $avatar-size: 30px;

      width: 40px;
      flex: 0 0 40px;
      font-size: $avatar-size;
      color: $gray-500;

      .gighouse-avatar {
        width: $avatar-size;
        height: $avatar-size;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $gray-200;
        color: $red;

        svg {
          font-size: 26px;
          vertical-align: -0.15em;
        }
      }
    }

    .chat-participant-info {
      flex: 1;

      .role {
        font-size: 12px;
      }
    }

    .chat-unread-msg-indicator {
      $dimensions: 15px;

      width: $dimensions;
      height: $dimensions;
      flex: 0 0 $dimensions;
      border-radius: 50%;
      background-color: $red;
      display: flex;
      justify-content: center;
      align-items: center;

      .unread-msg-number {
        font-size: 12px;
        color: white;
        font-weight: $font-weight-avenir-black;
      }
    }

    .rating .freelancer-rating .rating-icon {
      font-size: 13px;
    }
  }

  .chat-participant-h-separator {
    margin-top: 5px;
    margin-bottom: 5px;
  }

}
