
h1 {
  font-weight: 900; // Avenir black
}

h2 {
  font-weight: 900; // Avenir black
}

h3 {
  font-weight: 900; // Avenir black
}

h4 {
  font-weight: 900; // Avenir black
}

h5 {
  font-weight: 900; // Avenir black
}

h6 {
  font-weight: 900; // Avenir black
}


h1, h2, h3, h4, h5, h6 {
  color: $gig-purple;
}

a {
  cursor: pointer;
}

.size-12 {
  font-size: 12px;
}
.size-14 {
  font-size: 14px;
}
.size-16 {
  font-size: 16px;
}

.bg-basic-gray {
  background-color: $basic-bg-color !important;
}

.bg-white {
  background-color: #ffffff !important;
}

.gig-dropdown {
  .dropdown-toggle::after {
    display: none;
  }
}

.gig-dropdown-menu {
  font-size: 14px;
  padding: 0;

  .dropdown-item {
    padding: 0.7rem 0.75rem;
  }


  .dropdown-item-li {
    padding: 0.7rem 0.75rem;
  }

  svg-icon svg {
    font-size: 16px;
  }

  .dropdown-divider {
    margin: 0 !important;
    border: 0 !important;
    height: 1px;
    background-color: $gray-400;
    padding: 0 5px;
    background-clip: content-box;
  }
}

.account-dropdown {

  .dropdown-menu {
    font-size: 16px;
  }

  .nav-link {
    font-size: 20px;
  }

  .chevron {
    font-size: 16px;
  }
}

.account-dropdown-menu {
  font-size: 16px;

  .dropdown-item {
    padding: 7px 1rem !important;
  }
}

.chat-nav-link {
  svg {
    font-size: 27px;
    vertical-align: -0.25em;
  }

  .inbox-num-circle {
    position: absolute;
    top: -5px;
    right: 4px  ;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $red;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inbox-num {
    font-size: 12px;
    font-weight: $font-weight-avenir-black;
    color: white;
  }

  .inbox-warning {
    position: absolute;
    font-size: 16px;
    right: 3px;
    top: -2px;
    color: $red;
  }
}

.nav-item a {
  color: $primary;
}

.btn-success {
  color: #ffffff;
}

.btn {
  font-weight: 500; // Avenir medium
}

.btn-standard {
  padding: 0.55rem 0.75rem
}

.btn-no-outline {
  outline: 0 !important;
  box-shadow: none !important;
}

.close {
  color: $dark;
  opacity: 1;

  &:hover {
    color: $dark;
  }
}

/* Used on pages (centered) */
.page-loading {
  display: block;
  margin-top: 50px;
  width: 100%;
  text-align: center;

  .loading-spinner {
    font-size: 30px;
    color: $gray-500;
  }
}

.infinite-scroll-loading {
  margin-top: 15px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: $gray-500;

  .loading-text {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 15px;
    font-size: 20px;
    color: $gray-500;
  }

}

.page-no-items-message, .page-loading-failed {
  text-align: center;
  color: $gray-500;
  margin-top: 50px;
  font-size: 24px;
}

.custom-control-input ~ .custom-control-label::before {
  color: #fff;
  border-color: $gray-500 !important;
  background-color: white !important;
  width: 20px;
  height: 20px;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: $gray-500;
  background-color: white;
  width: 20px;
  height: 20px;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23DE1450'/%3e%3c/svg%3e");
  background-size: 90% 90%;
  width: 20px;
  height: 20px;
}

.custom-checkbox .custom-control-input ~ .custom-control-label::before {
  border-radius: 2px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: $red !important;
  background-color: $red !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  top: .4em;
  left: -1.4rem;
}


form label {
  font-size: 14px;
  color: $dark;
}

.form-control {
  font-size: 16px;
  color: $dark;
  height: 46px;
  padding-top: 15px;
  padding-bottom: 15px;
}

select.form-control {
  padding-top: 11px;
  padding-bottom: 11px;
}

textarea.form-control {
  height: auto;
  font-size: 14px;
}

/*
 * Show a red border on a form field when:
 *  - the form has been submitted and field is invalid or
 *  - field has been touched and is invalid
 */
form.submitted .ng-invalid:not(form),
.ng-touched.ng-invalid:not(form) {
  border: 1px solid $red;
  border-left: 5px solid $red;
}

/*
 * Show a red border on a form field with prepended or appended element (text or btn) when:
 *  - the form has been submitted and field is invalid or
 *  - field has been touched and is invalid
 */
form.submitted .invalid, .touched.invalid {

  .field-prepend {
    .input-group-text, .btn {
      border-left: 5px solid $red;
      border-color: $red;
    }

    input, select {
      border-left: 0;
    }
  }

  .field-append {
    .input-group-text, .btn {
      border-color: $red !important;
    }

    input, select {
      border-right: 0;
    }
  }

}

.clickable {
  cursor: pointer;
}

.validation-msg {
  color: $red;
  font-size: 14px;
  padding-top: 0.25rem;
}

.show-more-toggle {
  font-size: 14px;
  color: $red;
  cursor: pointer;

  &:hover {
    color: darken($red, 20);
    text-decoration: underline;
  }
}

.fake-link {
  color: $red;
  cursor: pointer;

  &:hover {
    color: darken($red, 20);
    text-decoration: underline;
  }
}

.page-title {
  font-size: 26px;
  font-weight: $font-weight-avenir-black;
}

.page-sub-title {
  font-size: 20px;
  font-weight: $font-weight-avenir-black;
}

.skill-rating {
  .star-icon {
    color: #D4D4D4;
    font-size: 20px;
    margin-right: 0.25rem;
    transition: color 0.3s;

    &.highlight {
      color: $red !important;
    }
  }

  &.editable .star-icon {
    cursor: pointer;

    &:hover, &.soft-highlight:not(.highlight) {
      color: #E67396 !important;
    }

  }
}

.gig-table {

  overflow-x: auto;

  table {
    table-layout: fixed;

    // Important because if we leave border-collapse: collapse; which is default in bootstrap, we will not be able to round borders of table elements
    border-collapse: unset;
    border-spacing: 0;
  }

  tbody {
    th, td {
      padding-top: 7px;
      padding-bottom: 7px;
      background-color: #ffffff;
      font-size: 14px;
      vertical-align: middle;
    }
  }

  tr.spacer-row {
    th, td {
      background-color: transparent;
      padding: 0;
      height: 10px;
    }
  }

}

.toast-success {
  background-color: #7CBE5A;
  color: white;

  /**
   * Background image is a check icon from assets/icons/svg/check.svg in which we changed fillColor to white,
   * encoded as url here http://www.asiteaboutnothing.net/c_decode-url.html and finally
   * added the encoded svg like this url("data:image/svg+xml,[Encoded svg goes here]");
   */
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2217.169%22%20height%3D%2212.189%22%20viewBox%3D%220%200%2017.169%2012.189%22%20fill%3D%22white%22%3E%3Cg%20transform%3D%22translate(-18.975%20-980.338)%22%3E%3Cpath%20d%3D%22M34.433%2C980.338a1.66%2C1.66%2C0%2C0%2C0-1.141.5q-3.888%2C3.9-7.782%2C7.782l-3.81-3.181a1.661%2C1.661%2C0%2C1%2C0-2.127%2C2.551l4.98%2C4.15a1.66%2C1.66%2C0%2C0%2C0%2C2.239-.1c2.949-2.955%2C5.9-5.894%2C8.854-8.854a1.66%2C1.66%2C0%2C0%2C0-1.21-2.845Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E%0A");
}
