@import 'variables';

$faded-day-background-color: #F4DEE5;
$calendar-cell-width: 35px;
$calendar-cell-height: 30px;

$datepicker-background-color: $gig-purple-lighter;

.gighouse-datepicker {
  background-color: $datepicker-background-color;
  padding: 25px 15px 15px 15px;
}

.ngb-dp-header {
  display: none !important;
}

ngb-datepicker {
  border: 0 !important;
}

.ngb-dp-weekdays {
  border-bottom: 0 !important;
  background-color: transparent !important;
}

.ngb-dp-weekday {
  font-size: 14px !important;
  font-style: normal !important;
  color: $dark !important;

  width: $calendar-cell-width !important;
  height: $calendar-cell-height !important;
  margin-bottom: 5px;
}

.ngb-dp-day {
  width: $calendar-cell-width !important;
  height: $calendar-cell-height !important;
  margin-bottom: 5px;

  outline: 0 !important; // hide default browser outline for focused cell
  /* Only important to position custom-day-mask inside */
  position: relative;
}

.custom-day {
  text-align: center;
  display: inline-block;
  height: 100%;
  width: 100%;
  outline: 0 !important; // hide default browser outline for focused cell

  color: $gig-purple;
  font-size: 14px;

  /* Only important to make custom-day in front of custom-day-mask */
  z-index: 100;
  position: relative;

  .day-value {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 6px 0.25rem 0.185rem 0.25rem;
  }

  &.outside-of-current-month {
    color: $gray-500;
  }

  &.range-from,
  &.range-to,
  &.selected:not(.selected-day-no-highlight) {
    .day-value {
      background-color: $gig-red !important;
      color: white !important;
      border-radius: 50%;
      width: 30px;
    }
  }

  &:hover:not(.faded), &.focused:not(.faded) {
    background-color: $gray-300;
    border-radius: 3px;
  }

  &.focused {
    box-shadow: inset 0 0 0 1px $gray-500;
    border-radius: 3px;
  }

  &.faded {
    background-color: $faded-day-background-color;
    color: $gig-purple;
  }
}

.custom-day-mask {
  position: absolute;
  background-color: $faded-day-background-color;
  height: 100%;
  width: 50%;
  top: 0;

  &.right {
    right: 0;
  }

  &.left {
    left: 0;
  }

}

.custom-month-selector {

  margin-bottom: 10px;

  .month-name {
    display: inline-block;
    width: 110px;
    font-size: 22px;
    color: $gig-purple;
    vertical-align: middle;
  }

  .month-nav {
    color: $red;
    font-size: 20px;
  }
}

.datepicker-popover {
  max-width: unset;

  .popover-body {
    padding: 0;
  }

  .arrow::after {
    // match popover arrow color with the datepicker
    border-bottom-color: $datepicker-background-color;
  }
}
