@font-face {
  font-family: 'Avenir';
  font-weight: $font-weight-avenir-light;
  font-style: normal;
  src: local('Avenir Light'), local('Avenir-300'),
  url('../assets/fonts/avenir/avenir-light.eot') format('embedded-opentype'),
  url('../assets/fonts/avenir/avenir-light.woff2') format('woff2'),
  url('../assets/fonts/avenir/avenir-light.woff') format('woff'),
  url('../assets/fonts/avenir/avenir-light.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir';
  font-weight: $font-weight-avenir-book;
  font-style: normal;
  src: local('Avenir Book'), local('Avenir-400'),
  /*url('../assets/fonts/avenir/avenir-ltstd-book.eot') format('embedded-opentype'),
  url('../assets/fonts/avenir/avenir-ltstd-book.woff') format('woff'),
  url('../assets/fonts/avenir/avenir-ltstd-book.ttf') format('truetype');*/
  url('../assets/fonts/avenir/avenir-ltstd-book.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir';
  font-weight: $font-weight-avenir-medium;
  font-style: normal;
  src: local('Avenir Medium'), local('Avenir-500'),
  /*url('../assets/fonts/avenir/avenir-ltstd-medium.eot') format('embedded-opentype'),
  url('../assets/fonts/avenir/avenir-ltstd-medium.woff') format('woff'),
  url('../assets/fonts/avenir/avenir-ltstd-medium.woff2') format('woff2'),
  url('../assets/fonts/avenir/avenir-ltstd-medium.ttf') format('truetype');*/
  url('../assets/fonts/avenir/avenir-ltstd-medium.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir';
  font-weight: $font-weight-avenir-heavy;
  font-style: normal;
  src: local('Avenir Heavy'), local('Avenir-700'),
    /*url('../assets/fonts/avenir/avenir-heavy.eot') format('embedded-opentype'),
    url('../assets/fonts/avenir/avenir-heavy.woff') format('woff'),
    url('../assets/fonts/avenir/avenir-heavy.woff2') format('woff2'),*/
  url('../assets/fonts/avenir/avenir-heavy.ttf') format('truetype');
}


@font-face {
  font-family: 'Avenir';
  font-weight: $font-weight-avenir-black;
  font-style: normal;
  src: local('Avenir Black'), local('Avenir-900'),
  url('../assets/fonts/avenir/avenir-black.eot') format('embedded-opentype'),
  url('../assets/fonts/avenir/avenir-black.woff2') format('woff2'),
  url('../assets/fonts/avenir/avenir-black.woff') format('woff'),
  url('../assets/fonts/avenir/avenir-black.ttf') format('truetype');
}
