/* import what we need to override */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

/* set the overriding breakpoint variables */
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1280px, // Modified from 1200 to 1280px
  /* New custom breakpoints */
  xxl: 1600px,
  xxxl: 1920px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1220px, // Modified from 1140 to 1220px
  /* New custom max widths (not making any difference in the UI at the moment) */
  xxl: 1600px,
  xxxl: 1920px
);
