@import 'variables';

.home-page {

  .user-info-title, .gighouse-info-title {
    font-size: 18px;
    color: $purple;
  }

  .user-info-list {
    color: $gig-black;
    font-size: 14px;
    padding-left: 20px;
  }

  .update-data-link {
    font-weight: $font-weight-avenir-medium;
  }

  .gighouse-info-row {
    display: flex;
    align-items: center;

    .gig-info-check {
      color: $gig-green-alt;
      margin-right: 5px;
    }

    .gighouse-info-text {
      font-size: 12px;
      color: #6E6E6E;
    }
  }

  .actions-card, .projects-card {

    border-radius: 5px;

    .card-body {
      text-align: center;
      padding: 35px 15px 25px 15px;
    }

    .card-title-icon {
      svg {
        font-size: 64px;
      }
    }

    .total-circle {
      width: 46px;
      height: 46px;
      border-radius: 50%;
      position: absolute;
      top: 24px;
      left: calc(50% + 13px);

      display: flex;
      justify-content: center;
      align-items: center;

      .total-number {
        font-size: 27px;
        font-weight: $font-weight-avenir-black;
      }
    }

  }

  .actions-card {
    .total-circle {
      background: $red;
      color: white;
    }
  }

  .projects-card {
    .total-circle {
      background: $gig-purple-light;
    }
  }

  .action-item, .project-item {
    background: $gig-purple-light;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    color: $gig-black;

    display: flex;
    align-items: center;

    &:hover {
      text-decoration: none;
      background: darken($gig-purple-light, 5);
    }

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    .action-label, .project-label {
      flex: 1;
      text-align: left;
    }

    .arrow {
      width: 20px;
      flex: 0 0 20px;
      transform: rotate(-90deg);
    }
  }

}
