
svg-icon {
  /* Inspired by font-awesome */
  svg {
    display: inline-block;
    vertical-align: -0.125em;

    height: 1em;
    width: 1em;
  }
}

/* Apply styles to specific icons. Selectors are classes that are created in SvgIconEnhanced directive based on the icon name. */

svg.svg-icon-thumbs-down {
  font-size: 0.95em;
}

svg.svg-icon-heart, svg.svg-icon-heart-full {
  vertical-align: -0.15em;
  font-size: 0.9em;
}

svg.svg-icon-timesheet {
  vertical-align: -0.2em;
}

svg.svg-icon-hero-cape {
  font-size: 1.2em;
}

svg.svg-icon-plus {
  font-size: 0.9em;
}

svg.svg-icon-dot-circle {
  font-size: 0.9em;
}

svg.svg-icon-history {
  font-size: 0.9em;
}

svg.svg-icon-euro {
  font-size: 0.9em;
}

svg.svg-icon-home {
  font-size: 1.18em;
}

svg.svg-icon-chevron.chevron-top {
  transform: rotate(180deg);
}
svg.svg-icon-chevron.chevron-right {
  transform: rotate(270deg);
}
svg.svg-icon-chevron.chevron-left {
  transform: rotate(90deg);
  vertical-align: -3.4px;
}

svg-icon.chevron-right > svg.svg-icon-chevron {
  transform: rotate(270deg);
}
svg-icon.chevron-left > svg.svg-icon-chevron {
  transform: rotate(90deg);
  vertical-align: -3.4px;
}

svg.svg-icon-chevron-bold.chevron-top {
  transform: rotate(-90deg);
}
svg.svg-icon-chevron-bold.chevron-bottom {
  transform: rotate(90deg);
}
svg.svg-icon-chevron-bold.chevron-left {
  transform: rotate(180deg);
}
