$invoices-left-sidebar-width: 340px;

.invoices-page {

    .left-sidebar {
        width: $invoices-left-sidebar-width;
        flex: 0 0 $invoices-left-sidebar-width;
        transition: width 0.1s;
      }

    main {
        margin-left: $invoices-left-sidebar-width;
        transition: margin-left 0.1s;
      }

.invoice-loading-failed {
  font-size: 16px;
  color: $gray-500;
  margin-top: 20px;
}

    .title-bar {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
      }

    .gig-table.invoices-table {
      $number-width: 100px;
      $freelancers-width: 300px;
      $amount-width: 80px;
      $status-width: 200px;
      $open-width: 75px;
      $due-width: 200px;
      $status-icon-only-width: 80px;

      $freelancers-width-xxl: 450px;
      $status-width-xxl: 250px;

      $freelancers-width-xxxl: 600px;
      $status-width-xxxl: 300px;


      thead th {
        font-weight: $font-weight-avenir-book;
        font-size: 14px;
        padding-bottom: 8px;
      }

      tr.spacer-row {
        th, td {
          height: 7px;
        }
      }

      .number-col, .date-col {
        width: $number-width;
      }

      .due-col {
        width: $due-width
      }

      .freelancer-col {
        min-width: $freelancers-width;

        @include media-breakpoint-up(xxl) {
          min-width: $freelancers-width-xxl;
        }

        @include media-breakpoint-up(xxxl) {
          min-width: $freelancers-width-xxxl;
        }
      }

      .amount-col{
        width: $amount-width;
      }

      .amount-cell{
        text-align: right;
        font: normal normal 900 14px/20px Avenir;
        color: #151415;
        width: $amount-width;
      }

      .status-col {
        width:$status-width;
        text-align: center;
        // min-width: $status-width;
        // max-width: $status-width + 30;

        // @include media-breakpoint-up(xxl) {
        //   min-width: $status-width-xxl;
        //   max-width: $status-width-xxl + 30;
        // }

        // @include media-breakpoint-up(xxxl) {
        //   min-width: $status-width-xxxl;
        //   max-width: $status-width-xxxl + 50;
        // }

        .tooltip {
          // by default don't show tooltip (only show on smaller screens when we hide the status label)
          visibility: hidden;
        }
      }
      .open-col {
        width: $open-width;
        text-align: center;
        // min-width: $status-width;
        // max-width: $status-width + 30;

        // @include media-breakpoint-up(xxl) {
        //   min-width: $status-width-xxl;
        //   max-width: $status-width-xxl + 30;
        // }

        // @include media-breakpoint-up(xxxl) {
        //   min-width: $status-width-xxxl;
        //   max-width: $status-width-xxxl + 50;
        // }

        .tooltip {
          // by default don't show tooltip (only show on smaller screens when we hide the status label)
          visibility: hidden;
        }
      }

      .first-col {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }

      .last-col {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }

      .table {
        min-width: $number-width * 5 + $status-width;
      }
    }

    /* Statuses styles */
    .gig-table.invoices-table .status-badge {
      height: 35px;
      font-size: 14px;
      font-weight: 400;

      display: flex;
      align-items: center;
      justify-content: center;
      color: $dark;

      .status-icon {
        margin-right: 7px;
      }

      &.invoice-status-paid {
        background-color: #C9F8C1;

        .status-icon {
          color: $gig-green-alt;
          font-size: 17px;
        }
      }

      &.invoice-status-not-paid {
        background-color: #FFDEE8;

        .custom-status-icon {
          display: inline-block;
          width: 14px;
          height: 14px;
          background-color: $red;
          border-radius: 3px;
        }

        .status-label {
          margin-top: 1px;
        }
      }

    }

  .gig-table.invoices-table .open-badge {
    height: 35px;
    font-size: 14px;
    font-weight: 400;

    display: flex;
    align-items: center;
    justify-content: center;
    color: $basic-bg-color;

    background-color: $primary;

    .open-icon {
      color: $basic-bg-color;
      font-size: 17px;
    }

  }

}

.invoices-filter {
    width: $invoices-left-sidebar-width;
    padding: 25px 35px 5px 30px;

    .status-selection {
        margin-bottom: 25px;
        padding-left: 3px;
    }

    .status-icon {

    }


    /* ************************************************************ */
    .form-group-start-date {
      .input-group {
        width: 160px;
      }

      input {
        border-right: 0;
        padding-right: 0;
      }

      .input-group-append > .btn {
        color: $red;
        padding-left: 10px;
        border-left: 0;
        border-color: $gray-400;

        &:hover {
          background-color: transparent;
        }

        svg-icon {
          font-size: 18px;
        }
      }

    }
    /* ************************************************************ */



    .status-selection, .freelancers-selection {
        margin-bottom: 25px;
        .custom-control {
            margin-bottom: 8px;
          }

          .custom-control-label {
            font-size: 14px;

            span {
              position: relative;
              top: 4px;
              left: 5px;
            }
          }
    }

    .freelancer-search {
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-radius: 0;
      font-size: 14px;
      padding-left: 5px;
      padding-bottom: 0;
      padding-top: 0;
      height: 30px;
      margin-bottom: 5px;
    }

    .freelancers-selection-wrapper {
      position: relative;
      min-height: 120px;
      //height: calc(100vh - 740px); // Subtract height of everything above the selection div from the 100vh. Value to subtract is empirical (measured in GUI).
      overflow: hidden;

      .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background: rgba(0, 0, 0, 0.4);
        z-index: 100;

        .infinite-scroll-loading {
          color: #ffffff;

          .loading-text {
            color: #ffffff;
          }
        }

        .infinite-scroll-loading-failed {
          background: rgba(0, 0, 0, 0.8);
          padding: 10px;
          text-align: center;
        }
      }
    }

    .freelancers-selection {
      height: 100%;
      overflow: auto;
      padding-left: 3px;

      .avatar {
        display: inline-block;
        margin-top: -6px;
        color: $gray-500;
        font-size: 28px;
      }

      .name {
        vertical-align: top;
      }

      .custom-control {
        margin-bottom: 0;
      }

    }

    .freelancers-loading-failed, .freelancers-no-items-message {
      font-size: 16px;
      color: $gray-500;
      margin-top: 20px;
    }



}


