.modal-backdrop {
  z-index: 2000 !important;
  background-color: #ffffff;
}




.modal {
  z-index: 2000 !important;

  .row {
    display: flex;
    margin: 0px;
  }
  .cell {
    margin-left: 14px;
    flex-direction: column
  }
  .postal-code-cell {
    width: 147px;
  }
  .city-cell {
    width: 289px;
  }

  .modal-dialog {
    margin-top: 100px;
  }

  .modal-content {
    border-radius: 0;
    border: 0;
    box-shadow: 0 0 10px $gray-300;
  }

  .modal-body {
    color: $purple;
    padding: 25px 25px 35px 25px;
  }

  .close {
    font-size: 27px;
    position: absolute;
    top: 25px;
    right: 25px;
  }

  .modal-actions {
    text-align: center;

    button {
      width: 165px;
    }

    .alert {
      margin-top: 20px;
      margin-bottom: 0;
      background-color: #FFEBF1;
      color: $red;
    }
  }
}

.user-details-modal{
  .modal-dialog {
    right: 0px;
    position: absolute;
    max-width: 600;
    width: 600px;
    height: 100%;
  }

  .invalid {
    border: 1px solid $red;
    border-left: 5px solid $red;
  }

  .modal-body {
    text-align: left;
  }

  .modal-actions {
    margin-top: 30px;
  }
  /*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/

// .modal-body.left .modal-dialog,
// .modal-body.right .modal-dialog {
//   position: fixed;
//   margin: auto;
//   width: 320px;
//   height: 100%;
//   -webkit-transform: translate3d(0%, 0, 0);
//       -ms-transform: translate3d(0%, 0, 0);
//        -o-transform: translate3d(0%, 0, 0);
//           transform: translate3d(0%, 0, 0);
// }

// .modal-body.left .modal-content,
// .modal-body.right .modal-content {
//   height: 100%;
//   overflow-y: auto;
// }

// .modal.left .modal-body,
// .modal.right .modal-body {
//   padding: 15px 15px 80px;
// }

/*Left*/
// .modal-body.left.fade .modal-dialog{
//   left: -320px;
//   -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
//      -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
//        -o-transition: opacity 0.3s linear, left 0.3s ease-out;
//           transition: opacity 0.3s linear, left 0.3s ease-out;
// }

// .modal-body.left.fade.in .modal-dialog{
//   left: 0;
// }

// /*Right*/
// .modal-body.right.fade .modal-dialog {
//   right: -320px;
//   -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
//      -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
//        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
//           transition: opacity 0.3s linear, right 0.3s ease-out;
// }

// .modal-body.right.fade.in .modal-dialog {
//   right: 0;
// }

}

.error-modal {

  .modal-dialog {
    width: 480px;
  }

  .modal-body {
    text-align: center;
    padding-top: 90px;
  }

  .error-body {
    margin-bottom: 40px;
  }
}

.confirmation-modal {

  .modal-dialog {
    width: 480px;
  }

  .modal-body {
    text-align: center;
    padding-top: 90px;
  }

  .modal-actions {
    margin-top: 30px;
  }
}

.remove-confirmation-modal {

  .modal-body {
    padding-top: 65px;
  }

  .trash-icon {
    color: $red;
    display: block;
    margin-bottom: 20px;

    svg {
      font-size: 57px;
    }
  }

  .title {
    font-size: 40px;
    margin-bottom: 5px;
  }

}

.freelancer-reject-modal {

  .modal-body {
    text-align: center;
    padding-top: 50px;
  }

  .thumbs-down-icon {
    color: $red;
    display: block;
    margin-bottom: 20px;

    svg {
      font-size: 75px;
    }
  }

  .title {
    font-size: 40px;
    margin-bottom: 25px;
  }

  .let-us-know {
    margin-bottom: 25px;
  }

  .reason-field {
    margin-bottom: 20px;
  }

  .modal-actions {
    margin-top: 30px;
  }

  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    border-color: $purple !important;
    background-color: $purple !important;
  }

  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    left: -22px;
  }

  .custom-checkbox .label-text {
    position: relative;
    top: 4px;
  }

}

.project-archive-modal {

  .modal-body {
    padding-top: 65px;
  }

  .archive-icon {
    color: $red;
    display: block;
    margin-bottom: 20px;

    svg {
      font-size: 57px;
    }
  }

  .title {
    font-size: 40px;
    margin-bottom: 5px;
  }

}

.project-save-success-modal {

  .modal-body {
    padding-top: 65px;
    text-align: center;
  }

  .paper-plane-icon {
    display: block;
    margin-bottom: 20px;

    svg {
      font-size: 80px;
    }
  }

  .title {
    font-size: 40px;
    margin-bottom: 15px;
  }

  .subtitle {
    font-weight: $font-weight-avenir-heavy;
  }

  .modal-actions {
    margin-top: 30px;
  }
}

.modal-confirm-leave-project-form {
  .modal-body {
    padding-top: 65px;
    text-align: center;
  }

  .hand-warning-icon {
    display: block;
    margin-bottom: 20px;

    svg {
      font-size: 90px;
    }
  }

  .title {
    font-size: 40px;
    margin-bottom: 15px;
  }


  .modal-actions {
    margin-top: 30px;
  }
}
