.icon-container {
 width: fit-content;
  margin: auto;
}

#pending-card {
  width: 60%;
  margin: 5% auto;
  h1 {
    text-align: center;
  }
  .contact-info-container {
    padding-top : 1vh;
    width:45%;
    margin:auto;
    app-support-contact-info-card {
      p {
        font-size: 28px;
        text-align: center;
      }
      span {
        text-align: center;
      }
      li {
        margin-left: 33%;
        list-style-type: none;
        margin-top: 10px;
        a {
          padding-left: 10px;
        }
      }
      .contact-id {
        .contact-image-container {
          display: none;
        }
        .contact-name-container {
          text-align: center;
        }
      }
    }
  }
}
