
.projects-match-list {
  $projects-matches-count-width: 70px;

  font-size: 14px;
  margin-top: 2rem;

  .project-item {
    display: flex;
    background-color: #ffffff;
    color: $purple;
    padding: 0.65rem 0.75rem;
    padding-right: 0;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-bottom: 0.5rem;

    transition: box-shadow 0.5s;

    &.active {
      background-color: $red;
      color: #ffffff;
      font-weight: $font-weight-avenir-black;
      transition: background-color 0.5s, color 0.5s;
    }

    &:not(.active):hover {
      box-shadow: 0 0 8px $gray-500;
    }

    .project-name {
      flex: 1;
    }

    .project-matches-count {
      width: $projects-matches-count-width;
      text-align: center;
    }

    // arrow on active item
    &:after {
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 8px solid transparent; // transparent by default to enable the fade in effect when it becomes .active
      content: " ";
      position: absolute;
      right: 30px;
      margin-top: 3px;
    }
    &.active:after {
      border-left-color: $red;
      transition: border-color 0.5s;
    }
  }

  .projects-match-list-header {
    display: flex;
    margin-bottom: 0.25rem;

    .project-name-header {
      flex: 1;
    }

    .project-matches-count-header {
      width: $projects-matches-count-width;
      text-align: center;
    }
  }
}
