@import 'variables';

.profile-page {

  h1 {
    font-weight: $font-weight-avenir-black;
    color: #201644;
    font-size: 40px;
  }

    .actions-card {

        min-height: 340px;
        border-radius: 5px;
        margin: 5px;

        .card-body {
          text-align: left;
          padding: 18px 13px 18px 13px;
          //margin: 1em;
        }

        .card-title-icon {
          svg {
            font-size: 64px;
          }
        }

        .total-circle {
          width: 46px;
          height: 46px;
          border-radius: 50%;
          position: absolute;
          top: 24px;
          left: calc(50% + 13px);

          display: flex;
          justify-content: center;
          align-items: center;

          .total-number {
            font-size: 27px;
            font-weight: $font-weight-avenir-black;
          }
        }

      &.actions-card-other {
        min-height: 260px;
      }
    }

    .actions-card {
        .total-circle {
          background: $red;
          color: white;
        }
      }

    .ul-details {
        list-style-type:none;
        //text-align: left;
        padding: 5px;
    }

    .li-details {
        font-weight: $font-weight-avenir-book;
        color: #201644;
        font-size: 16px;
        padding: 0px;
    }

    .li-details-first {
        font-weight: $font-weight-avenir-black;
        color: #201644;
        font-size: 16px;
        padding-bottom: 14px;
    }

    .btn-edit {
        position:absolute;
        bottom: 5%;
        width: 95%;

        border: 1px solid #DE1450;
        border-radius: 5px;
        opacity: 1;
        box-shadow: 0 0 1px 0 #DE1450 inset, 0 0 1px 0 #DE1450;

        font-weight: $font-weight-avenir-medium;
        color: #DE1450;
        font-size: 16px;
    }
}
