$timesheets-left-sidebar-width: 340px;
$timesheets-left-sidebar-collapsed-width: 58px;

.timesheets-page {

  .left-sidebar {
    width: $timesheets-left-sidebar-width;
    flex: 0 0 $timesheets-left-sidebar-width;
    transition: width 0.1s;
  }

  main {
    margin-left: $timesheets-left-sidebar-width;
    transition: margin-left 0.1s;
  }

  &.sidebar-collapsed {
    .left-sidebar {
      width: $timesheets-left-sidebar-collapsed-width;
      flex: 0 0 $timesheets-left-sidebar-collapsed-width;
    }

    main {
      margin-left: $timesheets-left-sidebar-collapsed-width;
    }
  }

  .toggle-filter-bar {
    height: 58px;
    background-color: $gig-purple-light;
    color: $red;
    cursor: pointer;

    &:hover {
      background-color: darken($gig-purple-light, 5);
      color: darken($red, 5);
    }

    .icon-filter {
      display: inline-block;
      margin-top: 15px;
      margin-left: 15px;

      svg {
        font-size: 25px;
      }
    }

    .icon-chevron-bold {
      position: absolute;
      top: 22px;

      svg {
        font-size: 12px;
      }

      &.chevron-right {
        left: 32px;
      }

      &.chevron-left {
        left: 10px;
      }
    }
  }
}


.timesheets-filter {

  // Specify width here as well so the elements are not resized during the "expand" animation
  width: $timesheets-left-sidebar-width;
  padding: 25px 35px 5px 30px;

  .title-period {
    margin-bottom: 15px;
  }

  .period-selection {
    margin-bottom: 25px;
  }

  app-datepicker {
    display: block;
    margin-bottom: 30px;
  }

  .period-selection, .freelancers-selection {

    .custom-control {
      margin-bottom: 8px;
    }

    .custom-control-label {
      font-size: 14px;

      span {
        position: relative;
        top: 4px;
        left: 5px;
      }
    }
  }

  .freelancer-search {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    font-size: 14px;
    padding-left: 5px;
    padding-bottom: 0;
    padding-top: 0;
    height: 30px;
    margin-bottom: 5px;
  }

  .freelancers-selection-wrapper {
    position: relative;
    min-height: 150px;
    height: calc(100vh - 740px); // Subtract height of everything above the selection div from the 100vh. Value to subtract is empirical (measured in GUI).
    overflow: hidden;

    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      background: rgba(0, 0, 0, 0.4);
      z-index: 100;

      .infinite-scroll-loading {
        color: #ffffff;

        .loading-text {
          color: #ffffff;
        }
      }

      .infinite-scroll-loading-failed {
        background: rgba(0, 0, 0, 0.8);
        padding: 10px;
        text-align: center;
      }
    }
  }

  .freelancers-selection {
    height: 100%;
    overflow: auto;

    padding-left: 3px;

    .avatar {
      display: inline-block;
      margin-top: -6px;
      color: $gray-500;
      font-size: 28px;
    }

    .name {
      vertical-align: top;
    }

    .custom-control {
      margin-bottom: 0;
    }

  }

  .freelancers-loading-failed, .freelancers-no-items-message {
    font-size: 16px;
    color: $gray-500;
    margin-top: 20px;
  }

}

.gig-table.timesheets-table {

  $freelancer-name-width: 160px;
  $day-col-width: 55px;
  $total-n-salary-width: 60px;
  $actions-width: 130px;
  $avatar-container-width: 55px;

  $freelancer-name-width-xxl: 220px;
  $day-col-width-xxl: 58px;
  $total-n-salary-width-xxl: 65px;
  $actions-width-xxl: 140px;
  $avatar-container-width-xxl: 55px;

  $freelancer-name-width-xxxl: 340px;
  $day-col-width-xxxl: 79px;
  $total-n-salary-width-xxxl: 90px;
  $actions-width-xxxl: 140px;
  $avatar-container-width-xxxl: 55px;

  thead th {
    font-weight: $font-weight-avenir-black;
  }


  tr.time-sheet-entry-row {
    .avatar-container .fa-info-circle {
      display: none;
      font-size: 3.45em;
    }

    &:hover {
      cursor: pointer;

      .avatar-container .fa-user-circle {
        display: none;
      }

      .avatar-container .fa-info-circle {
        display: block;
      }
    }
  }

  tr.spacer-row {

    &.last-spacer-row {
      height: 40px; // 40px is a height of a header row
    }
  }

  .freelancer-name-col {
    width: $freelancer-name-width;
    border-right: 1px solid $gray-300;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

    @include media-breakpoint-up(xxl) {
      width: $freelancer-name-width-xxl;
    }

    @include media-breakpoint-up(xxxl) {
      width: $freelancer-name-width-xxxl;
    }
  }

  .day-col {
    width: $day-col-width;
    text-align: center;
    border-right: 1px solid $gray-300;
    padding-top: 0;
    padding-bottom: 0;

    @include media-breakpoint-up(xxl) {
      width: $day-col-width-xxl;
    }

    @include media-breakpoint-up(xxxl) {
      width: $day-col-width-xxxl;
    }
  }

  .total-col, .salary-col {
    width: $total-n-salary-width;
    text-align: center;
    padding: 0;
    font-weight: $font-weight-avenir-black;

    @include media-breakpoint-up(xxl) {
      width: $total-n-salary-width-xxl;
    }

    @include media-breakpoint-up(xxxl) {
      width: $total-n-salary-width-xxxl;
    }
  }

  /* Set borders on total and salary columns sides */
  .total-col, .salary-col {
    border-left: 1px solid black;
    border-right: 1px solid black;
  }

  /* Set border-top on total and salary header */
  th.total-col, th.salary-col {
    border-top: 1px solid black;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  /* Set border-bottom on a last total and salary cells */
  .last-spacer-row .total-col, .last-spacer-row .salary-col {
    border-bottom: 1px solid black;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .total-col {
    border-color: $gig-purple !important;
    color: $gig-purple;
  }

  .salary-col {
    border-color: $gig-red !important;
    color: $gig-red;
  }

  .spacer-col {
    width: 7px;
    padding: 0;
  }

  .actions-col {
    text-align: center;
    width: $actions-width;
    padding: 0 5px 0 0;

    @include media-breakpoint-up(xxl) {
      padding: 0.75rem; // default table padding
      width: $actions-width-xxl;
    }

    @include media-breakpoint-up(xxxl) {
      width: $actions-width-xxxl;
    }
  }

  .fluid-col {
    width: auto;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  th .date {
    font-weight: 400;
  }

  .avatar-container {
    display: none;
    vertical-align: top;
    width: $avatar-container-width;

    @include media-breakpoint-up(xxl) {
      display: inline-block;
      width: $avatar-container-width-xxl;
    }

    @include media-breakpoint-up(xxxl) {
      width: $avatar-container-width-xxxl;
    }

    svg {
      font-size: 48px;
      color: $gray-500;
    }
  }

  .name-container {
    display: inline-block;
    padding-left: 15px;
    width: $freelancer-name-width - $avatar-container-width - 30;

    @include media-breakpoint-up(xxl) {
      width: $freelancer-name-width-xxl - $avatar-container-width-xxl - 30;
    }

    @include media-breakpoint-up(xxxl) {
      width: $freelancer-name-width-xxxl - $avatar-container-width-xxxl - 30;
    }
  }

  .name {
    font-weight: $font-weight-avenir-black;
    font-size: 16px;
  }

  .project-name {
    font-size: 14px;
    font-weight: $font-weight-avenir-book;
  }
}

.timesheets-detail-page {
  .timesheets-detail-freealancer {
    margin: 1rem 0;

    .name-container {
      .name {
        font-weight: $font-weight-avenir-black;
        font-size: 16px;
      }
    }
  }

  .title-bar {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
}


