$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

// Copy of $font-family-sans-serif from bootstrap
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
// Override $font-family-base (first option is Avenir and fallback is $font-family-sans-serif as defined by Bootstrap)
$font-family-base: Avenir, $font-family-sans-serif;

$font-weight-avenir-light: 300;
$font-weight-avenir-book: 400;
$font-weight-avenir-medium: 500;
$font-weight-avenir-heavy: 700;
$font-weight-avenir-black: 900;

$gig-purple: #201545;
$gig-purple-light: #F5F0F5;
$gig-purple-lighter: #F7F7F7;
$gig-red: #DE1450;
$gig-green: #7CBE5A;
$gig-green-alt: #01AB76;
$gig-black: #151415;

$red: $gig-red;
$green: $gig-green;
$purple: $gig-purple;

$primary: $gig-purple;
$dark: $gig-black;
$link-color: $gig-red;

$basic-bg-color: #fafafa;


/*  Large screen variables */
$lg-main-menu-width: 54px;
$lg-secondary-menu-width: 237px;
$lg-main-menu-expanded-width: $lg-main-menu-width + $lg-secondary-menu-width;
$lg-default-left-sidebar-width: 100px;
$lg-right-sidebar-width: 375px;
$lg-header-height: 62px;

$background_color: #f5f6f7;
$background_color: #f5f6f7;
$border-color: #ced4da;
$border-radius: 0.25rem;
