@import 'variables';

$step-margin-bottom: 28px;

app-workflow-sidebar {

  display: block;
  width: $lg-right-sidebar-width;
  flex: 0 0 $lg-right-sidebar-width;
  background: #ffffff;
  border-left: 1px solid $gray-300;

  .workflow-sidebar-top {
    padding: 30px 35px;

    .panel-title {
      font-size: 26px;
    }

    ul {
      list-style: none;
      color: $purple;
      font-size: 14px;
      margin-top: 30px;
      padding-left: 0;

      li {
        display: flex;
        margin-bottom: $step-margin-bottom;

        .left {
          width: 35px;
          flex: 0 0 35px;
          position: relative;
        }

        .right {
          flex: 1;
          padding-left: 15px;
        }
      }
    }

    .step-circle {
      $step-circle-radius: 25px;

      position: absolute;
      top: calc(50% - 13px);
      margin-left: 6px;

      height: $step-circle-radius;
      width: $step-circle-radius;
      border-radius: 50%;
      box-shadow: 0 0 7px $gray-500;
    }

    .step-circle-dot {
      background-color: $purple;
      border: 5px solid #ffffff;
    }

    .step-circle-g {
      background-color: #ffffff;

      svg-icon {
        display: block;
        position: relative;
        left: 5px;
        top: 3px;
      }
    }

    li.freelancer-step {

      margin-top: 50px;
      margin-bottom: 38px;

      .hero-icon {
        display: block;
        position: relative;
        left: -10px;

        svg {
          font-size: 57px;
        }
      }

      .hero-bold {
        font-size: 18px;
        font-weight: $font-weight-avenir-medium;
        line-height: 1.1;
      }

      .right {
        padding-left: 25px;
      }
    }

    .vertical-line {
      position: absolute;
      height: calc(100% + #{$step-margin-bottom});
      width: 9px;
      background: #D4D4D4;
      top: 0;
      left: 14px;

      &.rounded-end {
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
      }

      &.after-freelancer-step, &.last {
        top: -30px;
      }

      &.after-freelancer-step {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
      }
    }
  }

  .support-contact-info-card {
    background: $gig-purple-light;
    padding: 30px 35px;

    .support-title {
      font-size: 26px;
      margin-bottom: 2px;
    }

    .support-subtitle {
      font-size: 14px;
    }

    .support-contact-info {
      display: flex;

      .contact-image-container {
        width: 80px;
        flex: 0 0 80px;

        .contact-image {
          color: $gray-500;

          svg {
            font-size: 80px;
          }
        }
      }

      .contact-list {
        flex: 1;

        ul {
          list-style: none;
          padding-left: 20px;
          font-size: 14px;

          li {
            margin-bottom: 6px;
          }
        }

        .contact-name {
          font-size: 18px;
          font-weight: $font-weight-avenir-black;
        }

        .contact-icon {
          width: 30px;
          display: inline-block;
          top: 2px;
          position: relative;

          svg {
            font-size: 19px;
          }
        }
      }
    }
  }

}
