<div class="page-container project-details-page">
    <main>
        <app-loading class="page-loading" *ngIf="loadingProject$|async"></app-loading>
        <h4 class="page-loading-failed" *ngIf="loadingProjectFailed$|async">
            {{'projects.details.projectLoadingFailed'|translate}}</h4>

        <ng-container *ngIf="project$|async as project">
            <app-project-toolbar [isReadOnlyProject]="true" [project]="project" (archiveProject)="archiveProject()"
                (removeProject)="removeProject()">
            </app-project-toolbar>

            <app-project-steps *ngIf="!isArchivedProject()" [project]="project"
                (jumpToFreelancerMatches)="jumpToFreelancerMatches()"></app-project-steps>

            <div class="project-view-main">
                <div class="project-view-left">
                    <div class="project-summary-container">
                        <div class="phone-preview-container">
                            <app-project-smartphone-preview [projectName]="project.name"
                                [projectDescription]="project.description" [projectBudget]="project.budget"
                                [projectStartDate]="project.startDate"
                                [projectDaysPerWeek]="project.requiredDaysPerWeek"
                                [projectDurationWeeks]="project.durationWeeks" [projectState]="project.location.name"
                                [projectPostcode]="project.location.postcode" [projectTeasers]="project.tags"
                                [projectCity]="project.location.city"
                                [projectPositiveSkills]="project.positiveSkills">
                            </app-project-smartphone-preview>
                        </div>

                        <div class="project-summary">
                            <app-project-details-summary [project]="project"></app-project-details-summary>
                        </div>
                    </div>
                </div>

                <div class="project-right-sidebar">
                    <app-project-details-sidebar [project]="project"></app-project-details-sidebar>
                </div>
            </div>

            <div class="freelancer-matches" id="freelancer-matches-section" *ngIf="showFreelancerMatches(project)">
                <h4 class="mb-5" *ngIf="showFreelancerMatchesTitle$|async">
                    {{'projects.freelancerMatchesTitle'|translate}}</h4>

                <app-freelancer-matches-list [selectedProject]="project"
                    [freelancerCardContainerClass]="'col-12 col-xl-6 col-xxl-4 col-xxxl-3'"
                    (loadedFreelancers)="loadedFreelancers($event)">
                </app-freelancer-matches-list>
            </div>

        </ng-container>
    </main>
</div>
