<div class="project-skills-panel" [class.mode-skills]="true">
    <div class="panel-main">
        <div class="panel-main-header">
            <h5 class="title">
                <ng-container>Add Skills</ng-container>
            </h5>

            <button class="btn btn-transparent close-btn close" (click)="triggerClose.next()">
                <svg-icon name="close"></svg-icon>
            </button>
        </div>


        <div class="skill-card">
            <app-autocomplete-search class="autocomplete"
                                     [disabled]="!canAddOptions"
                                     [suggestions]="autocompleteSuggestions$ | async"
                                     [suggestionsLoading]="autocompleteSuggestionsLoading$ | async"
                                     [addButtonText]="'Add'"
                                     (autocomplete)="handleAutocomplete($event)"
                                     (search)="handleAutocompleteSearch($event)"
                                     (addCurrentValue)="handleSelectOption($event)"
                                     (closeSuggestions)="handleCloseAutocompleteSuggestions()"
                                     (clearSuggestions)="handleClearSuggestions()"
            ></app-autocomplete-search>
            <app-selector-suggestions
                [disabled]="!canAddOptions || maxReached"
                [loading]="suggestionsLoading$ | async"
                [selectedOptions]="options"
                [suggestions]="suggestions$ | async"
                (selectOption)="handleSelectOption($event)"
            ></app-selector-suggestions>

            <app-selected-options
                [title]="'projects.skillsPanel.selectedSkills'|translate"
                [selectedOptions]="options"
                [maxCount]="maxCount"
                [loading]="optionsLoading"
                [editable]="true"
                (deleteOption)="handleDeleteOption($event)"
            ></app-selected-options>
                    <div class="panel-footer">
                        <button class="btn btn-standard btn-danger" (click)="apply()">
                            {{getApplyButtonText()}}
                        </button>
                    </div>
        </div>
    </div>
</div>

