<div class="chat-participant-row" (click)="selectChatParticipant.next(freelancer)"
    [class.active]="selectedChatParticipant && selectedChatParticipant !== specialParticipant.GIGHOUSEADMIN && selectedChatParticipant.id === freelancer.id">
    <div class="avatar-container">
        <fa-icon icon="user-circle" class="avatar"></fa-icon>
    </div>
    <div class="chat-participant-info">
        <div class="name">{{freelancer.name}}</div>
        <div class="rating" *ngIf="freelancer.type==='FREELANCER'">
            <app-freelancer-rating [rating]="freelancer.getRatingInt()"></app-freelancer-rating>
        </div>
    </div>
    <div class="chat-unread-msg-indicator" *ngIf="unreadMessagesNum$|async as unreadMessagesNum">
        <span class="unread-msg-number">{{unreadMessagesNum}}</span>
    </div>
</div>