<div [ngSwitch]="isAuthenticated()" class="header-container navbar">
    <a class="header-logo" href="/">
        <img alt="GigHouse Logo" class="header-logo-full" height="25" src="/assets/img/GigHouseLogo.png" width="170">
    </a>

    <!-- Uncomment for nav items on the left side (next to logo) -->
    <!--<ul class="nav navbar-nav">
        <li class="nav-item px-3">
            <a class="nav-link" href="/">Link 1</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="/">Link 2</a>
        </li>
    </ul>-->

    <!-- Right side nav items -->
    <ul class="nav navbar-nav ml-auto">
        <!-- Uncomment for more nav items -->
        <!--<li class="nav-item px-3">
            <a class="nav-link" href="/">Link A</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="/">Link B</a>
        </li>-->

        <!-- Uncomment for languages dropdown -->


      <!--  <li class="nav-item mr-4">
            <a class="nav-link chat-nav-link" [routerLink]="['/chat']">
                <svg-icon name="inbox"></svg-icon>

                <ng-container *ngIf="(chatService.connectionError$|async) === false">
                    <div class="inbox-num-circle" *ngIf="unreadMessagesNum$|async as unreadMessagesNum">
                        <div class="inbox-num">{{unreadMessagesNum}}</div>
                    </div>
                </ng-container>

                <ng-template #tipContent>
                    <div [innerHTML]="'chat.connectionError'|translate"></div>
                </ng-template>

                <span class="fa fa-exclamation-triangle inbox-warning"
                      *ngIf="(chatService.connectionError$|async) === true" [ngbTooltip]="tipContent"
                      placement="bottom-right" container="body">
                </span>
            </a>
        </li>-->

        <!-- User dropdown -->
        <li class="nav-item gig-dropdown account-dropdown pointer mr-4" display="dynamic" ngbDropdown
            placement="bottom-right">
            <a class="nav-link" ngbDropdownToggle role="button" tabindex="0">
                <svg-icon name="user"></svg-icon>
                <div class="d-inline-block ml-1">
                    <svg-icon class="chevron" name="chevron"></svg-icon>
                </div>
            </a>

            <ul class="dropdown-menu gig-dropdown-menu account-dropdown-menu" ngbDropdownMenu>
                <li>
                    <a [routerLink]="['/profiles']" class="dropdown-item">
                        <span jhiTranslate="global.menu.account.myProfile">My profile</span>
                    </a>
                </li>
                <li *ngIf="languages && languages.length > 1" class="nav-item pointer dropdown-item-li" display="dynamic" ngbDropdown>
                    <a class="dropdown-toggle" href="javascript:void(0);" id="languagesnavBarDropdown"
                       jhiTranslate="global.menu.language" ngbDropdownToggle>
                       Language
                    </a>
                    <ul aria-labelledby="languagesnavBarDropdown" class="dropdown-menu" ngbDropdownMenu>
                        <li *ngFor="let language of languages">
                            <a (click)="changeLanguage(language);"
                               [appActiveLangMenu]="language"
                               class="dropdown-item"
                               href="javascript:void(0);">
                                {{ language | findLanguageFromKey }}
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- <li>
                    <a class="dropdown-item" [routerLink]="['/']">
                        <span jhiTranslate="global.menu.account.myCompany">My company</span>
                    </a>
                </li> -->
                <li *ngSwitchCase="true">
                    <a (click)="logout()" class="dropdown-item">
                        <svg-icon name="power-off"></svg-icon>
                        <span class="ml-2" jhiTranslate="global.menu.account.logout">Sign out</span>
                    </a>
                </li>
                <li *ngSwitchCase="false">
                    <a (click)="login()" class="dropdown-item">
                        <fa-icon [fixedWidth]="true" icon="sign-in-alt"></fa-icon>
                        <span class="ml-2" jhiTranslate="global.menu.account.login">Sign in</span>
                    </a>
                </li>
            </ul>
        </li>

    </ul>
</div>
