<div>
    <div class="alert alert-danger">
        <span *ngIf="errorMessage">{{ errorMessage }}</span>
        <span *ngIf="!errorMessage">Unexpected error.</span>
        <a class="text-primary ml-2" style="text-decoration: underline;" href="/">Return to the app</a>
    </div>
</div>
