<div class="modal-body">

    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()"
        [disabled]="actionRunning$|async">
        <svg-icon name="close"></svg-icon>
    </button>

    <h1>{{'profiles.userProfilesModal.title'|translate}}</h1>
    <br>
    <br>

    <ng-container [formGroup]="this.form">
        <div class="form-group">
            <label for="userProfileNameControl">{{'profiles.user-profile-form.user-name'|translate}}</label>
            <input type="text" class="form-control" id="userProfileNameControl"
                formControlName="userProfileNameControl">
            <span class="validation-msg" *ngIf="this.getUserProfileNameErrorMsg() as errorMsg">
                {{errorMsg}}
            </span>
        </div>

        <div class="form-group">
            <label for="userProfileSurnameControl">{{'profiles.user-profile-form.user-surname'|translate}}</label>
            <input type="text" class="form-control" id="userProfileSurnameControl"
                formControlName="userProfileSurnameControl">
            <span class="validation-msg" *ngIf="getUserProfileSurnameErrorMsg() as errorMsg">
                {{errorMsg}}
            </span>
        </div>

        <div class="form-group">
            <label for="userProfileStreetControl">{{'profiles.user-profile-form.user-street'|translate}}</label>
            <input type="text" class="form-control" id="userProfileStreetControl"
                formControlName="userProfileStreetControl">
            <span class="validation-msg" *ngIf="getUserProfileStreetErrorMsg() as errorMsg">
                {{errorMsg}}
            </span>
        </div>

        <div class="row">
            <div class="form-group postal-code-cell">
                <label
                    for="userProfilePostalCodeControl">{{'profiles.user-profile-form.user-postal-code'|translate}}</label>
                <input type="text" class="form-control" id="userProfilePostalCodeControl"
                    formControlName="userProfilePostalCodeControl">
                <span class="validation-msg" *ngIf="getUserProfilePostalCodeErrorMsg() as errorMsg">
                    {{errorMsg}}
                </span>
            </div>

            <div class="form-group cell city-cell">
                <label for="userProfileCityControl">{{'profiles.user-profile-form.user-city'|translate}}</label>
                <input type="text" class="form-control" id="userProfileCityControl"
                    formControlName="userProfileCityControl">
                <span class="validation-msg" *ngIf="getUserProfileCityErrorMsg() as errorMsg">
                    {{errorMsg}}
                </span>
            </div>
        </div>
        <!-- <div class="form-group">
                    <label for="userProfileStateControl">{{'profiles.user-profile-form.user-state'|translate}}</label>
                    <input type="text" class="form-control" id="userProfileStateControl" formControlName="userProfileStateControl">
                    <span class="validation-msg" *ngIf="getUserProfileStateErrorMsg() as errorMsg">
                        {{errorMsg}}
                    </span>
                </div> -->

        <div class="form-group">
            <label for="userProfileStateControl">{{'profiles.user-profile-form.user-state'|translate}}</label>
            <select class="form-control" formControlName="userProfileStateControl">
                <option [ngValue]="null" disabled>Choose State</option>
                <option *ngFor="let state of states" [ngValue]="state.value" selected="userProfile.state">
                    {{state.value}}
                </option>
            </select>

        </div>

        <div class="form-group">
            <label for="userProfileEmailControl">{{'profiles.user-profile-form.user-email'|translate}}</label>
            <input type="text" class="form-control" id="userProfileEmailControl" disabled
                formControlName="userProfileEmailControl">
            <span class="validation-msg" *ngIf="getUserProfileEmailErrorMsg() as errorMsg">
                {{errorMsg}}
            </span>
        </div>

        <div class="form-group">
            <label for="userProfilePhoneControl">{{'profiles.user-profile-form.user-phone'|translate}}</label>
            <input type="text" class="form-control" id="userProfilePhoneControl"
                formControlName="userProfilePhoneControl">
            <span class="validation-msg" *ngIf="getUserProfilePhoneErrorMsg() as errorMsg">
                {{errorMsg}}
            </span>
        </div>
    </ng-container>

    <div class="modal-actions">
        <!-- <button type="button"
                        class="btn btn-standard btn-outline-danger mr-2"
                        (click)="activeModal.dismiss()"
                        [disabled]="actionRunning$|async">
                    {{'global.modalConfirm.cancel'|translate}}
                </button> -->
        <button type="button" class="btn btn-standard btn-success" (click)="confirm()"
            [disabled]="actionRunning$|async">
            <ng-container *ngIf="confirmBtnText">{{confirmBtnText}}</ng-container>
            <ng-container *ngIf="!confirmBtnText">{{'global.modalConfirm.confirm'|translate}}</ng-container>
        </button>
    </div>

</div>
