<div class="project-languages-panel-backdrop"></div>

<div class="project-languages-panel">
    <div class="panel-main">
        <div class="panel-main-header">
            <h5 class="title">
                <ng-container>{{'projects.languagesPanel.languagesTitle'|translate}}</ng-container>
            </h5>

            <button class="close" (click)="triggerClose.next()">
                <svg-icon name="close"></svg-icon>
            </button>
        </div>

        <div class="description mt-4">
            <ng-container>{{'projects.languagesPanel.languagesSubTitleText'|translate}}</ng-container>
        </div>
        <div class="language-header">
            <div class="col-language">{{'projects.languagesPanel.language'|translate}}</div>
            <div class="col-level col-level-title">{{'projects.languagesPanel.level'|translate}}</div>
        </div>

        <div *ngFor="let language of projectLanguages; let isFirst = first">

            <div class="project-language-line">
                <div class="language-name">{{language.language}}</div>
                <ng-container *ngIf="getLanguageLevels()">
                    <select #levels id="levels" class="form-control col-level" [(ngModel)]="language.level">
                        <option [ngValue]="'none'" >None</option>
                        <option *ngFor="let level of getLanguageLevels()" [ngValue]="level.label">
                            {{level.value}}
                        </option>
                    </select>
                </ng-container>
            </div>
        </div>

    </div>
    <div class="panel-footer">
        <button class="btn btn-standard btn-danger" (click)="apply()">
            {{getApplyButtonText()}}
        </button>
    </div>
</div>
