<div class="page-container invoices-page">

    <div class="left-sidebar" [perfectScrollbar]="perfectScrollbarConfig">
        <app-invoices-filter (changeFromDate)="changeFromDate($event)" (changeToDate)="changeToDate($event)"
            (changeSelectedFreelancers)="changeSelectedFreelancers($event)"
            (changeSelectedStatuses)="changeSelectedStatuses($event)">
        </app-invoices-filter>
    </div>

    <main>
        <app-invoices-main [invoices]="invoices$ |async" [loading]="loading$|async"
            [loadingFailed]="loadingFailed$|async">
        </app-invoices-main>
        <!-- <ng-container *ngIf="invoices$|async as invoices; else loadingIndicator">
            <ng-container *ngIf="invoices.length; else noInvoicesMessage">
                <div class="title-bar">
                    <h3 class="page-title mb-0" style="vertical-align: middle;">
                        <svg-icon name="contract"></svg-icon>
                        {{'invoices.title'|translate}}
                    </h3>
                </div>

                <app-invoices-main [invoices]="invoices$ |async" [loading]="loading$|async"
                [loadingFailed]="loadingFailed$|async">
                </app-invoices-main>

            </ng-container>
        </ng-container> -->

        <!-- <app-invoices-main [invoices$]="invoices$" [periodFromDate]="periodFromDate$|async">
        </app-invoices-main> -->
    </main>

    <!-- <ng-template #noInvoicesMessage>
        {{'invoices.invoicesLoadingFailed' | translate}}
    </ng-template> -->
    <!-- <ng-template #noInvoicesMessage>
        
        <h4 class="page-loading-failed" *ngIf="loadingFailed$|async">
            {{'invoices.invoicesLoadingFailed' | translate}}
        </h4>

        
        <div class="text-center" *ngIf="!(loadingFailed$|async)">
            <h1 class="mt-5 mb-4">
                {{'invoices.noActiveInvoices' | translate}}
            </h1>
        </div>
    </ng-template> -->

    <!-- <ng-template #loadingIndicator>
        <app-loading class="page-loading"></app-loading>
    </ng-template> -->
</div>