<ng-container *ngIf="freelancer">
    <h4 class="sidebar-title">{{'freelancers.profile.skillsSidebarTitle'|translate}}</h4>

    <!-- Languages card -->
    <div class="d-flex mt-4">
        <h5 class="main-card-title">{{'freelancers.profile.languagesTitle'|translate}}</h5>
        <div class="level-header">{{'freelancers.profile.levelHeader'|translate}}</div>
    </div>

    <div class="card main-card" [class.card-empty]="!freelancer.contactLanguages.length">
        <div class="card-body">

            <ng-container *ngIf="freelancer.contactLanguages.length">
                <div class="contactLanguage-line" *ngFor="let contactLanguage of freelancer.contactLanguages">
                    <!-- ToDo: Translate contactLanguage (in backend)? -->
                    <div class="contactLanguage-name">{{contactLanguage.language}}</div>
                    <!-- ToDo: Translate level? -->
                    <div class="contactLanguage-level">{{contactLanguage.level|capitalize}}</div>
                </div>
            </ng-container>

            <ng-container *ngIf="!freelancer.contactLanguages.length">
                <h4 class="empty-text">{{'freelancers.profile.noLanguages'|translate}}</h4>
            </ng-container>

        </div>
    </div>

    <!-- Skills and tools card -->
    <div class="d-flex mt-4">
        <h5 class="main-card-title">{{'freelancers.profile.skillsTitle'|translate}}</h5>
        <div class="level-header">{{'freelancers.profile.levelHeader'|translate}}</div>
    </div>

    <div class="card main-card" [class.card-empty]="!freelancer.skillsCategorised.length">
        <div class="card-body">

            <ng-container *ngFor="let skillCategory of freelancer.skillsCategorised">
                <ng-container *ngIf="{isExpanded: false} as cardState">
                    <div class="card inner-card" [class.expanded]="cardState.isExpanded">
                        <div class="card-body">
                            <div class="skill-category-line clickable" (click)="cardState.isExpanded = !cardState.isExpanded">
                                <button class="btn btn-transparent btn-no-outline p-0 mr-2 toggler">
                                    <svg-icon name="chevron"></svg-icon>
                                </button>
                                <span class="skill-category-name">{{skillCategory.freelancerSkill.skill.name}}</span>
                            </div>

                            <div class="child-skills" *ngIf="cardState.isExpanded">
                                <div class="skill-line" *ngFor="let freelancerSkill of skillCategory.children">
                                    <div class="skill-name">{{freelancerSkill.skill.name}}</div>
                                    <div class="skill-level">
                                        <app-skill-rating [rating]="freelancerSkill.rating"></app-skill-rating>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>

            <ng-container *ngIf="!freelancer.skillsCategorised.length">
                <h4 class="empty-text">{{'freelancers.profile.noSkills'|translate}}</h4>
            </ng-container>

        </div>
    </div>

    <!-- Tools card -->
    <div class="d-flex mt-4">
        <h5 class="main-card-title">{{'freelancers.profile.toolsTitle'|translate}}</h5>
        <div class="level-header">{{'freelancers.profile.levelHeader'|translate}}</div>
    </div>

    <div class="card main-card" [class.card-empty]="!freelancer.toolsCategorised.length">
        <div class="card-body">

            <ng-container *ngFor="let toolCategory of freelancer.toolsCategorised">
                <ng-container *ngIf="{isExpanded: false} as cardState">
                    <div class="card inner-card" [class.expanded]="cardState.isExpanded">
                        <div class="card-body">
                            <div class="skill-category-line clickable" (click)="cardState.isExpanded = !cardState.isExpanded">
                                <button class="btn btn-transparent btn-no-outline p-0 mr-2 toggler">
                                    <svg-icon name="chevron"></svg-icon>
                                </button>
                                <span class="skill-category-name">{{toolCategory.freelancerSkill.skill.name}}</span>
                            </div>

                            <div class="child-skills" *ngIf="cardState.isExpanded">
                                <div class="skill-line" *ngFor="let freelancerSkill of toolCategory.children">
                                    <div class="skill-name">{{freelancerSkill.skill.name}}</div>
                                    <div class="skill-level">
                                        <app-skill-rating [rating]="freelancerSkill.rating"></app-skill-rating>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>

            <ng-container *ngIf="!freelancer.toolsCategorised.length">
                <h4 class="empty-text">{{'freelancers.profile.noTools'|translate}}</h4>
            </ng-container>

        </div>
    </div>
</ng-container>
