<div class="modal-body">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()" [disabled]="actionRunning$|async">
        <svg-icon name="close"></svg-icon>
    </button>

    <svg-icon name="archive" class="archive-icon"></svg-icon>

    <h4 class="title">{{'projects.projectArchiveModal.title'|translate}}</h4>

    <!--<div class="confirmation-body">

    </div>-->

    <div class="modal-actions">
        <button type="button"
                class="btn btn-standard btn-outline-danger mr-2"
                (click)="activeModal.dismiss()"
                [disabled]="actionRunning$|async">
            {{'global.modalConfirm.cancel'|translate}}
        </button>
        <button type="button"
                class="btn btn-standard btn-danger"
                (click)="confirm()"
                [disabled]="actionRunning$|async">
            {{'projects.projectArchiveModal.confirmBtn'|translate}}
        </button>

        <div class="alert alert-danger" role="alert" *ngIf="failedText$|async as failedText">
            {{failedText}}
        </div>
    </div>
</div>
