 <perfect-scrollbar class="main-menu-container" [ngClass]="{'admin-menu': isUserAdmin()}"
    [config]="perfectScrollbarConfig" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_USER']">
    <div class="btn menu-toggler" role="button" (click)="triggerToggleMenu()">
        <div class="toggler-bar"></div>
        <div class="toggler-bar"></div>
        <div class="toggler-bar"></div>
    </div>

    <a class="menu-item" *ngFor="let navItem of appNavItems" [routerLink]="navItem.path" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: navItem.routerLinkActiveExact}" (click)="collapseMenu()"
        title="{{navItem.label|translate}}">

        <fa-icon class="menu-item-icon" [icon]="navItem.faIcon" *ngIf="navItem.faIcon"></fa-icon>
        <svg-icon class="menu-item-icon" [name]="navItem.svgIcon" *ngIf="navItem.svgIcon"></svg-icon>

        <span class="menu-item-label">{{navItem.label|translate}}</span>
    </a>

    <ng-container *jhiHasAnyAuthority="'ROLE_ADMIN'">
        <div class="menu-item admin-navs-title mt-3" [ngClass]="{'text-center': !mainMenuExpanded}">
            <span>Admin</span>
            <hr class="mt-1 mb-0 border-white">
        </div>

        <a class="menu-item sys-admin-menu-item" *ngFor="let navItem of sysAdminNavItems" [routerLink]="navItem.path"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: navItem.routerLinkActiveExact}"
            (click)="collapseMenu()" title="{{navItem.label|translate}}">

            <fa-icon class="menu-item-icon" [icon]="navItem.faIcon" *ngIf="navItem.faIcon"></fa-icon>

            <span class="menu-item-label">{{navItem.label|translate}}</span>
        </a>
    </ng-container>


</perfect-scrollbar>
