<div class="secondary-menu" [perfectScrollbar]="perfectScrollbarConfig">

    <div class="secondary-menu-top">
        <div class="secondary-menu-icon">
            <svg-icon name="inbox"></svg-icon>
        </div>

        <h4 class="secondary-menu-title">{{'chat.title'|translate}}</h4>

        <div class="secondary-menu-h-line-box">
            <div class="secondary-menu-h-line"></div>
        </div>

        <app-loading class="page-loading" *ngIf="projectsLoading"></app-loading>
        <h4 class="page-loading-failed" *ngIf="projectsLoadingFailed">{{'chat.projectsLoadingFailed'|translate}}</h4>
        <h4 class="page-no-items-message" *ngIf="projects && projects.length === 0">{{'chat.noProjects'|translate}}</h4>

        <ng-container *ngIf="projects && projects.length">
            <app-chat-project-menu-item *ngFor="let project of projects" [project]="project"
                [selectedProject]="selectedProject" (selectProject)="selectProject.next($event)">
            </app-chat-project-menu-item>
        </ng-container>
    </div>

    <ng-container *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_USER']">
        <app-support-contact-info-card></app-support-contact-info-card>
    </ng-container>

</div>