<div class="gig-table projects-table" [class.active-projects-table]="isActiveProjectsTable"
    [class.archived-projects-table]="!isActiveProjectsTable" infiniteScroll [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50" (scrolled)="scrolled()">

    <table class="table table-borderless">
        <thead>
            <tr>
                <th class="name-col first-col">{{'projects.projectsTable.projectNameHeader'|translate}}</th>
                <th class="sent-col">{{'projects.projectsTable.sentDateHeader'|translate}}</th>
                <th class="start-col" *ngIf="isActiveProjectsTable">
                    {{'projects.projectsTable.startDateHeader'|translate}}</th>
                <th class="closed-col" *ngIf="!isActiveProjectsTable">
                    {{'projects.projectsTable.closedDateHeader'|translate}}</th>
                <th class="status-col" [class.last-col]="isActiveProjectsTable">
                    {{'projects.projectsTable.statusHeader'|translate}}</th>
                <!-- <th class="reason-col" *ngIf="!isActiveProjectsTable">
                    {{'projects.projectsTable.reasonHeader'|translate}}</th> -->
                <th class="action-col last-col" *ngIf="!isActiveProjectsTable"></th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let project of projects">
                <tr>
                    <td class="name-col first-col">
                        <a [routerLink]="['/projects', 'details', project.id]">{{project.name}}</a>
                    </td>


                    <td class="sent-col" *ngIf="project.sentDate; else elseBlock1">
                        {{project.sentDate|momentToDate}}
                    </td>

                    <ng-template #elseBlock1>
                        <td class="sent-col">
                            -
                        </td>
                    </ng-template>


                    <td class="start-col" *ngIf="'isActiveProjectsTable' && 'project.requestedStartDate'">
                        {{project.requestedStartDate|momentToDate}}
                    </td>
                    <!-- <td class="start-col"
                        *ngIf="'isActiveProjectsTable' && 'project.requestedStartDate'; else elseBlock2">
                        {{project.requestedStartDate|momentToDate}}
                    </td>

                    <ng-template #elseBlock2>
                        <td class="start-col" *ngIf="isActiveProjectsTable">
                            -
                        </td>
                    </ng-template> -->


                    <td class="closed-col" *ngIf="!'isActiveProjectsTable' && 'project.archivedDate'">
                        {{project.archivedDate|momentToDate}}
                    </td>
                    <!-- <td class="closed-col" *ngIf="!'isActiveProjectsTable' && 'project.archivedDate'; else elseBlock3">
                        {{project.archivedDate|momentToDate}}
                    </td>

                    <ng-template #elseBlock3>
                        <td class="closed-col" *ngIf="!isActiveProjectsTable">
                            -
                        </td>
                    </ng-template> -->



                    <td class="status-col" [class.last-col]="isActiveProjectsTable">
                        <div class="badge status-badge {{project.statusConfig.statusCssClass}}"
                            [ngbTooltip]="project.statusConfig.translateLabel|translate">
                            <svg-icon [name]="project.statusConfig.icon" class="status-icon"
                                *ngIf="project.statusConfig.icon"></svg-icon>
                            <div class="status-icon custom-status-icon" *ngIf="!project.statusConfig.icon"></div>
                            <span class="status-label">{{project.statusConfig.translateLabel|translate}}</span>
                        </div>
                    </td>
                    <!-- <td class="reason-col text-muted" *ngIf="!isActiveProjectsTable">
                        {{project.statusMessage}}
                    </td> -->
                    <td class="action-col last-col text-danger" *ngIf="!isActiveProjectsTable">
                        <div class="gig-dropdown" ngbDropdown container="body" placement="bottom-right">
                            <a class="" tabindex="0" ngbDropdownToggle role="button">
                                <svg-icon name="ellipsis-v"></svg-icon>
                            </a>

                            <ul ngbDropdownMenu class="dropdown-menu gig-dropdown-menu">
                                <li>
                                    <a class="dropdown-item" [routerLink]="['/projects/copy', project.id]">
                                        <svg-icon name="copy"></svg-icon>
                                        <span class="ml-2">{{'projects.projectsTable.actionCopy'|translate}}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>

                <tr class="spacer-row">
                    <td colspan="{{isActiveProjectsTable ? 5 : 6}}"></td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>

<div class="infinite-scroll-loading" *ngIf="loading">
    <h5 class="loading-text mb-0">{{'global.infiniteScrollLoading'|translate}}</h5>
    <app-loading [withDelay]="false"></app-loading>
</div>

<div class="text-center mt-2" *ngIf="loadingFailed">
    <div class="text-danger mb-2">{{'global.infiniteScrollLoadingFailed'|translate}}</div>
    <button class="btn btn-standard btn-success"
        (click)="retry.next()">{{'global.infiniteScrollLoadingRetry'|translate}}</button>
</div>

<!-- Load More button in case initial data is not enough for showing a scrollbar - (scrolled) event never triggers  -->
<div *ngIf="showLoadMoreBtn(viewInitialized$|async)" class="text-center mt-2">
    <button class="btn btn-standard btn-success"
        (click)="loadMore.next()">{{'global.infiniteScrollLoadMore'|translate}}</button>
</div>