<div class="searchbar" [class.suggestions]="suggestions?.length || searchValue?.length > 1">
    <input class="form-control"
           [disabled]="disabled"
           inputmode="text"
           [placeholder]="'projects.skillsPanel.searchSkills'|translate"
           (ngModelChange)="handleAutocomplete($event)"
           [(ngModel)]="searchValue"
           (keydown.enter)="onEnter(searchValue)"/>
    <div
        class="autocomplete-suggestions"
        [class.loading]="suggestionsLoading"
        lines="none"
        *ngIf="suggestions?.length || suggestionsLoading || searchValue?.length > 1"
    >
        <fa-icon class="text-muted ml-2" icon="spinner" [spin]="true" *ngIf="suggestionsLoading"
                 style="font-size: 14px;"></fa-icon>
        <div
            class="autocomplete-suggestions__suggestion"
            *ngFor="let suggestion of suggestions"
            (click)="handleSearch(suggestion)"
        >
            <div class="test" (click)="handleSearch(suggestion)">{{ suggestion }}</div>
        </div>
    </div>
</div>
