@import 'src/scss/variables';
@mixin border {
  border-radius: $border-radius;
  border: 1px solid $border-color;
}

.searchbar {
  @mixin suggestions-border {
    border-radius: $border-radius;
  }
  @include border();
  background: #ffffff;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 16px;
  position: relative;
  &.suggestions {
    @include suggestions-border();
  }
  &:focus-within {
    border-color: var(--ion-color-primary);
  }
  input {
    flex: 1;
    height: 46px;
    background: none;
    border: 0;
  }
  ion-button {
    height: 46px;
    margin: 0;
    --padding-bottom: 0;
    --padding-start: 0;
    --padding-top: 0;
    ion-icon {
      margin-right: 8px;
    }
  }
  .autocomplete-suggestions {
    @include border();
    position: absolute;
    top: 47px;
    left: -1px;
    z-index: 1;
    max-height: 500px;
    background-color: #ffffff !important;
    border-top: 0;
    border-radius: 0 0 1px 1px;
    width: calc(100% + 2px);
    display: flex;
    flex-flow: column;
    overflow-y: scroll;
    padding: 0 8px;
    &.loading {
      align-items: center;
    }
    ion-spinner {
      margin: 8px;
    }
    &__suggestion {
      z-index: 2000;
      & > div {
        height: 40px;
        width: 100%;
        display: flex;
        align-items: center;
      }
      &.input {
        width: 100%;
      }
      &.disabled {
        opacity: 0.5;
      }
    }
  }
}
