@import 'src/scss/variables';

@mixin h1-styling {
  h1 {
    color:#d4d4d4;
    font-weight: 900;
    font-size: 16px;
    margin: 0;
    margin-bottom: 8px;
  }
}
.delete {
  height: 40px;
}
.selected-options {
  @include h1-styling();
  min-height: 32px;
  background: #ffffff;
  padding: 16px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  &__option {
    width: 100%;
    height: 40px;
    background: $background_color;
    border-radius: $border-radius;
    padding: 12px;
    padding-right: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  h1 {
    width: 100%;
    margin-bottom: 8px;
  }
}
