<!-- Layout for small screens (mobile, tablet) - not implemented for now -->
<!--<app-layout-small class="layout-small"></app-layout-small>-->

<!-- Layout for large screens (laptop, desktop) -->
<app-layout-large class="layout-large"></app-layout-large>
