<div class="workflow-sidebar-top">
    <h3 class="panel-title">{{'workflowSidebar.title'|translate}}</h3>

    <ul>
        <li>
            <div class="left">
                <div class="vertical-line"></div>
                <div class="step-circle step-circle-dot"></div>
            </div>

            <div class="right">
                {{'workflowSidebar.steps.createNewProjectPrefix'|translate}}
                <!-- Leave no space between link and suffix! -->
                <a
                    [routerLink]="['/projects', 'new']">{{'workflowSidebar.steps.createNewProjectLink'|translate}}</a>{{'workflowSidebar.steps.createNewProjectSuffix'|translate}}
            </div>
        </li>
        <li>
            <div class="left">
                <div class="vertical-line"></div>
                <div class="step-circle step-circle-g">
                    <svg-icon name="gighouse-logo-short"></svg-icon>
                </div>
            </div>

            <div class="right">
                {{'workflowSidebar.steps.contactFreelancers'|translate}}
            </div>
        </li>
        <li>
            <div class="left">
                <div class="vertical-line"></div>
                <div class="step-circle step-circle-g">
                    <svg-icon name="gighouse-logo-short"></svg-icon>
                </div>
            </div>

            <div class="right">
                {{'workflowSidebar.steps.freelancersApply'|translate}}
            </div>
        </li>
        <li>
            <div class="left">
                <div class="vertical-line"></div>
                <div class="step-circle step-circle-g">
                    <svg-icon name="gighouse-logo-short"></svg-icon>
                </div>
            </div>

            <div class="right">
                {{'workflowSidebar.steps.suggestFreelancers'|translate}}
            </div>
        </li>
        <li>
            <div class="left">
                <div class="vertical-line"></div>
                <div class="step-circle step-circle-dot"></div>
            </div>

            <div class="right">
                {{'workflowSidebar.steps.yourFeedbackPrefix'|translate}}
                <a [routerLink]="['/freelancers', 'matches']">
                    {{'workflowSidebar.steps.yourFeedbackLink'|translate}}
                </a>
                {{'workflowSidebar.steps.yourFeedbackSuffix'|translate}}
            </div>
        </li>
        <li>
            <div class="left">
                <div class="vertical-line"></div>
                <div class="step-circle step-circle-g">
                    <svg-icon name="gighouse-logo-short"></svg-icon>
                </div>
            </div>

            <div class="right">
                {{'workflowSidebar.steps.arrangeMeeting'|translate}}
            </div>
        </li>
        <li>
            <div class="left">
                <div class="vertical-line rounded-end"></div>
                <div class="step-circle step-circle-dot"></div>
            </div>

            <div class="right">
                {{'workflowSidebar.steps.signContractPrefix'|translate}}
                <!-- Todo: this should navigate to contracts [routerLink]="['/administration/contracts']" -->
                {{'workflowSidebar.steps.signContractLink'|translate}}
                {{'workflowSidebar.steps.signContractSuffix'|translate}}
            </div>
        </li>
        <li class="freelancer-step">
            <div class="left">
                <svg-icon name="hero-cape" class="hero-icon"></svg-icon>
            </div>

            <div class="right">
                <p class="hero-bold mb-1">{{'workflowSidebar.steps.freelancerStartsWorking'|translate}}</p>
                <p class="mb-0">{{'workflowSidebar.steps.completeTimesheets'|translate}}</p>
            </div>
        </li>
        <li>
            <div class="left">
                <div class="vertical-line after-freelancer-step"></div>
                <div class="step-circle step-circle-dot"></div>
            </div>

            <div class="right">
                {{'workflowSidebar.steps.validateTimesheets'|translate}}
            </div>
        </li>
        <li>
            <div class="left">
                <div class="vertical-line last"></div>
                <div class="step-circle step-circle-g">
                    <svg-icon name="gighouse-logo-short"></svg-icon>
                </div>
            </div>

            <div class="right">
                {{'workflowSidebar.steps.makePayment'|translate}}
            </div>
        </li>
    </ul>
</div>

<ng-container *ngIf="gigHouseContact$|async as gigHouseContact">
    <div class="support-contact-info-card" *ngIf="showHelpInfo">
        <h4 class="support-title">{{'workflowSidebar.supportContactTitle'|translate}}</h4>
        <p class="support-subtitle">{{'workflowSidebar.supportContactSubTitle'|translate}}</p>

        <div class="support-contact-info">
            <div class="contact-image-container">
                <fa-icon [icon]="['fas', 'user-circle']" class="contact-image"></fa-icon>
            </div>
            <div class="contact-list">
                <ul class="size-14 mb-0">
                    <li class="contact-name">
                        {{gigHouseContact.name}}
                    </li>
                    <li>
                        <fa-icon [icon]="['fas', 'phone-alt']" [fixedWidth]="true" class="contact-icon"></fa-icon>
                        <span>{{gigHouseContact.phone}}</span>
                    </li>
                    <li>
                        <svg-icon name="mail" class="contact-icon"></svg-icon>
                        <a
                            href="mailto:{{gigHouseContact.email}}">{{'workflowSidebar.supportContactSendEmail'|translate}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</ng-container>