<div class="modal-body">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <svg-icon name="close"></svg-icon>
    </button>
    <div class="error-body" [innerHTML]="errorBody"></div>

    <div class="modal-actions">
        <button type="button" class="btn btn-standard btn-outline-danger" (click)="activeModal.close()">Close</button>
    </div>

</div>
