<div class="invoices-filter">
    <h6 class="title-status">{{'invoices.statusHeader'|translate}}</h6>

    <div class="status-selection">
        <div class="custom-control custom-checkbox" *ngFor="let option of statusOptions">
            <input type="checkbox" id="customCheckbox-{{option.status}}" name="customCheckbox"
                class="custom-control-input" [value]="option.status" [checked]="isStatusSelected(option.status)"
                (change)="selectStatusOption(option.status)">
            <!-- <svg-icon [name]="option.icon" class="status-icon" *ngIf="option.icon"></svg-icon> -->
            <label class="custom-control-label clickable" for="customCheckbox-{{option.status}}"
                click="selectStatusOption(option.status)">
                <span>{{option.translateLabel|translate}}</span>
            </label>
        </div>
    </div>

    <hr class="mt-0">

    <app-invoices-freelancers-filter (changeSelectedFreelancers)="changeSelectedFreelancers.next($event)">
    </app-invoices-freelancers-filter>

    <hr class="mt-0">

    <!-- <h6 class="title-status">{{'invoices.dateFromFilter'|translate}}</h6>
    <app-datepicker [selectedDate]="selectedFromDate" (selectDate)="onSelectFromDateInCalendar($event)"
        [selectedDateNoHighlight]="selectedDateNoHighlight1">
    </app-datepicker>

    <hr>

    <h6 class="title-status">{{'invoices.dateToFilter'|translate}}</h6>
    <app-datepicker [selectedDate]="selectedToDate" (selectDate)="onSelectToDateInCalendar($event)"
        [selectedDateNoHighlight]="selectedDateNoHighlight2">
    </app-datepicker> -->

    <h6>{{'invoices.dateFilter'|translate}}</h6>

    <ng-container [formGroup]="form">

        <div class="form-group field-append">

            <label class="col-form-label col-sm-3">{{'invoices.dateFrom'|translate}}</label>

            <div class="form-group form-group-start-date form-check-inline"
                [class.invalid]="getFromDateControl().invalid" [class.touched]="getFromDateControl().touched">

                <div class="input-group field-append">
                    <input type="text" class="form-control" id="fromDate" [formControlName]="'fromDate'" ngbDatepicker
                        #startDatePicker="ngbDatepicker" [placeholder]="guiDateFormat"
                        (change)="onSelectFromDateInCalendar(getFromDateControl().value)">
                    <div class="input-group-append">
                        <ng-template #popContentFrom>
                            <app-datepicker [selectedDate]="getFromDateControl().value"
                                (selectDate)="onSelectFromDateInCalendar($event)" [popover]="fromDatePopover"
                                [selectedDateNoHighlight]="selectedDateNoHighlight1">
                            </app-datepicker>
                        </ng-template>

                        <button class="btn btn-outline-secondary" [ngbPopover]="popContentFrom" [autoClose]="'outside'"
                            placement="bottom" container="body" popoverClass="datepicker-popover"
                            #fromDatePopover="ngbPopover" [disabled]="false">
                            <svg-icon name="calendar"></svg-icon>
                        </button>
                    </div>
                </div>

                <div class="validation-msg" *ngIf="getFromDateErrorMsg() as errorMsg">
                    {{errorMsg}}
                </div>
            </div>

            <label class="col-form-label col-sm-3">{{'invoices.dateTo'|translate}}</label>

            <div class="form-group form-group-start-date form-check-inline" [class.invalid]="getToDateControl().invalid"
                [class.touched]="getToDateControl().touched">

                <div class="input-group field-append">
                    <input type="text" class="form-control" id="toDate" [formControlName]="'toDate'" ngbDatepicker
                        #startDatePicker="ngbDatepicker" [placeholder]="guiDateFormat"
                        (change)="onSelectToDateInCalendar(getToDateControl().value)">
                    <div class="input-group-append">
                        <ng-template #popContentTo>
                            <app-datepicker [selectedDate]="getToDateControl().value"
                                (selectDate)="onSelectToDateInCalendar($event)" [popover]="toDatePopover"
                                [selectedDateNoHighlight]="selectedDateNoHighlight2">
                            </app-datepicker>
                        </ng-template>

                        <button class="btn btn-outline-secondary" [ngbPopover]="popContentTo" [autoClose]="'outside'"
                            placement="bottom" container="body" popoverClass="datepicker-popover"
                            #toDatePopover="ngbPopover" [disabled]="false">
                            <svg-icon name="calendar"></svg-icon>
                        </button>
                    </div>
                </div>

                <div class="validation-msg" *ngIf="getToDateErrorMsg() as errorMsg">
                    {{errorMsg}}
                </div>
            </div>

        </div>
    </ng-container>

</div>