<div class="chat-page">
    <div class="layout-large">
        <div class="root-container secondary-menu-show" [ngClass]="{'main-menu-expanded': mainMenuExpanded}">

            <div class="root-left-container">
                <app-main-menu (toggleMenu)="toggleMenu()" [mainMenuExpanded]="mainMenuExpanded"></app-main-menu>
                <app-chat-projects-menu *ngIf="{projects: projects$|async} as context" [projects]="projects$|async"
                    [projectsLoading]="projectsLoading$|async" [projectsLoadingFailed]="projectsLoadingFailed$|async"
                    [selectedProject]="selectedProject$|async"
                    (selectProject)="selectProject($event, context.projects)">
                </app-chat-projects-menu>
            </div>

            <div class="root-right-container">
                <app-navbar></app-navbar>

                <div class="page-container">

                    <div class="left-sidebar" [perfectScrollbar]="perfectScrollbarConfig">
                        <app-chat-freelancers-menu [freelancers]="freelancers$|async"
                            [freelancersLoading]="freelancersLoading$|async"
                            [freelancersLoadingFailed]="freelancersLoadingFailed$|async"
                            [selectedChatParticipant]="selectedChatParticipant$|async"
                            [selectedProject]="selectedProject$|async"
                            (selectChatParticipant)="selectChatParticipant($event)">
                        </app-chat-freelancers-menu>
                    </div>

                    <main>
                        <ng-container *ngIf="selectedChatParticipant$|async">
                            <ng-container *ngIf="chatService.isConnected$|async; else notConnected">
                                <app-chat-window [participant]="selectedChatParticipant$|async"
                                    [project]="selectedProject$|async">
                                </app-chat-window>
                            </ng-container>

                            <!-- If not connected show either a spinner or an error text if there was a connection error -->
                            <ng-template #notConnected>
                                <h4 class="page-loading-failed" *ngIf="chatService.connectionError$|async">
                                    <span [innerHTML]="'chat.connectionError'|translate"></span>
                                </h4>
                                <app-loading class="page-loading"
                                    *ngIf="(chatService.connectionError$|async) === false"></app-loading>
                            </ng-template>
                        </ng-container>
                    </main>
                </div>

            </div>
        </div>
    </div>
</div>