<!-- Root card around Freelancer card (used to position skill matching info) -->
<div class="card bg-transparent border-0" [class.has-shadow]="!projectMatchingCard">
    <div class="card-body p-0">

        <!-- Skill matching card -->
        <!--Commented this because this will be in MVP2 -->
        <!--        <div class="skill-matching-card" *ngIf="projectMatchingCard">-->
        <!--            <h6>Matching</h6>-->
        <!--            <div class="row mb-2 size-14" *ngFor="let skillMatchInfo of skillMatches">-->
        <!--                <div class="col-6">-->
        <!--                    {{skillMatchInfo.skill}}-->
        <!--                </div>-->
        <!--                <div class="col-6 match-percentage-container">-->
        <!--                    <div class="match-progress">-->
        <!--                        <ngb-progressbar type="danger" [value]="skillMatchInfo.matchPercentage"></ngb-progressbar>-->
        <!--                    </div>-->
        <!--                    <div class="match-percentage">-->
        <!--                        {{skillMatchInfo.matchPercentage}}%-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->

        <!-- Freelancer card -->
        <div class="card freelancer-card" [class.rejected]="freelancer.isRejected()">
            <div class="card-body" [class.card-light]="cardColorLight">
                <fa-icon class="avatar" [icon]="['fas', 'user-circle']"></fa-icon>

                <div class="top-info mb-4">
                    <svg-icon
                        class="heart-icon"
                        [class.disabled]="freelancer.isFavouriteUpdating"
                        [name]="freelancer.isFavourite ? 'heart-full' : 'heart'"
                        (click)="toggleFavourite.next()">
                    </svg-icon>

                    <h5 class="freelancer-name">{{freelancer.name}}</h5>
                    <h5 class="freelancer-project" *ngIf="archive">{{freelancer.candidateProjectName}}</h5>

                    <div class="freelancer-role">{{freelancer.profileName}}</div>

                    <div class="mt-2 mb-2">
                        <app-freelancer-rating [rating]="freelancer.getRatingInt()"></app-freelancer-rating>
                    </div>

                    <div class="summary">
                        {{freelancer.cardDescription()}}
                    </div>
                </div>

                <!--                COMMENTED THIS BECAUSE THIS WILL ONLY BE AVAILABLE IN MVP2 -->
                <!--                <div class="skill-matching-card-placeholder" *ngIf="projectMatchingCard"></div>-->

                <ul class="detail-list">
                    <li *ngIf="freelancer.state">
                        <svg-icon name="home" class="detail-list-icon"></svg-icon>
                        <span class="detail-text">
                            {{freelancer.state}}
                        </span>
                    </li>
                    <li *ngIf="freelancer.availabilityDate">
                        <svg-icon name="rocket" class="detail-list-icon"></svg-icon>
                        <span class="detail-text" *ngIf="freelancer.availabilityDate">
                            {{'freelancers.availableFrom'|translate}} {{freelancer.availabilityDate}}
                        </span>
                    </li>
                    <li *ngIf="freelancer.rateRequestedByFreelancer || freelancer.rateProposedToCustomer">
                        <svg-icon name="euro" class="detail-list-icon"></svg-icon>
                        <span class="detail-text"
                              *ngIf="freelancer.rateRequestedByFreelancer && freelancer.rateProposedToCustomer">
                                    {{'freelancers.minFeeBoth'|translate:{
                            rateProposedToCustomer: freelancer.rateProposedToCustomer,
                            rateRequestedByFreelancer: freelancer.rateRequestedByFreelancer
                        } }}
                        </span>
                        <span class="detail-text"
                              *ngIf="freelancer.rateRequestedByFreelancer && !freelancer.rateProposedToCustomer">
                                    {{'freelancers.minFeeExclFee'|translate:{rateRequestedByFreelancer: freelancer.rateRequestedByFreelancer} }}
                        </span>
                        <span class="detail-text"
                              *ngIf="!freelancer.rateRequestedByFreelancer && freelancer.rateProposedToCustomer">
                                    {{'freelancers.minFeeInclFee'|translate:{rateProposedToCustomer: freelancer.rateProposedToCustomer} }}
                        </span>
                    </li>
                    <li *ngIf="freelancer.availableDaysPerWeek">
                        <svg-icon name="calendar" class="detail-list-icon"></svg-icon>
                        <span class="detail-text" *ngIf="freelancer.availableDaysPerWeek">
                            {{availableDaysPerWeek()}}
                        </span>
                    </li>
                </ul>

                <!--<div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <a [routerLink]="['/freelancers/favourites/details', freelancer.favouriteId]"
                               *ngIf="freelancer.type == 'FAVORITE'">
                                {{'freelancers.referencesLink'|translate}}
                            </a>
                            <a [routerLink]="['/freelancers/matches/details', freelancer.candidateId]"
                               *ngIf="freelancer.type == 'MATCH'">
                                {{'freelancers.referencesLink'|translate}}
                            </a>
                        </div>
                        <div class="col text-center">
                            <a [routerLink]="['/freelancers/favourites/details', freelancer.favouriteId]"
                               *ngIf="freelancer.type == 'FAVORITE'">
                                {{'freelancers.portfolioLink'|translate}}
                            </a>
                            <a [routerLink]="['/freelancers/matches/details', freelancer.candidateId]"
                               *ngIf="freelancer.type == 'MATCH'">
                                {{'freelancers.portfolioLink'|translate}}
                            </a>
                        </div>
                    </div>
                </div>-->


                <hr class="mt-2 mb-3">

                <div class="row" [class.mb-5]="projectMatchingCard">
                    <button class="btn btn-outline-danger w-100 btn-standard"
                            [routerLink]="['/freelancers/favourites/details', freelancer.favouriteId]"
                            *ngIf="freelancer.type == 'FAVORITE'"
                            [queryParams]="{from: router.url}">
                        {{'freelancers.moreInfoLink'|translate}}
                    </button>
                    <button class="btn btn-outline-danger w-100 btn-standard"
                            [routerLink]="['/freelancers/matches/details', freelancer.candidateId]"
                            *ngIf="freelancer.type == 'MATCH'"
                            [queryParams]="{from: router.url}">
                        {{'freelancers.moreInfoLink'|translate}}
                    </button>
                </div>

                <!--                TODO: Not in MVP1 -->
                <!--                <div class="mt-3" *ngIf="!projectMatchingCard">-->
                <!--                    <button class="btn btn-success w-100 btn-standard" (click)="meetOrGreet.next()">-->
                <!--                        {{'freelancers.meetOrGreet'|translate}}-->
                <!--                    </button>-->
                <!--                </div>-->

                <div class="freelancer-card-thumbs-icons" *ngIf="projectMatchingCard">
                    <div class="thumb-down-icon-circle" (click)="reject.next()"
                         [class.disabled]="freelancer.isAccepted() || freelancer.isRejected()"
                         [hidden]="freelancer.isAccepted()">
                        <svg-icon class="thumb-icon" name="thumbs-down"></svg-icon>
                    </div>
                    <div class="thumb-up-icon-circle" (click)="meet.next()"
                         [class.disabled]="freelancer.isAccepted() || freelancer.isRejected()"
                         [hidden]="freelancer.isRejected()">
                        <svg-icon class="thumb-icon" name="thumbs-up"></svg-icon>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
