<div class="project-toolbar">
    <a [routerLink]="['/projects', getOverviewRoute()]" class="back-to-projects-overview">
        <svg-icon name="arrow-left" class="mr-1"></svg-icon>
        <span>{{'projects.toolbar.back'|translate}}</span>
    </a>

    <div class="ml-auto">
        <!-- Actions for Project details screen -->
        <ng-container *ngIf="isReadOnlyProject">
            <ng-container *ngIf="saveAsConceptEnabled()">
                <a class="btn btn-standard btn-danger btn-edit-project" [routerLink]="['/projects/edit', project.id]">
                    <svg-icon name="pencil"></svg-icon>
                    {{'projects.toolbar.edit'|translate}}
                </a>
            </ng-container>
            <div class="gig-dropdown project-details-actions text-danger ml-4" ngbDropdown container="body"
                placement="bottom-right">
                <a class="" tabindex="0" ngbDropdownToggle role="button">
                    <svg-icon name="ellipsis-v"></svg-icon>
                </a>

                <ul ngbDropdownMenu class="dropdown-menu gig-dropdown-menu">
                    <li>
                        <a class="dropdown-item" [routerLink]="['/projects/copy', project.id]">
                            <svg-icon name="copy"></svg-icon>
                            <span class="ml-2">{{'projects.toolbar.copy'|translate}}</span>
                        </a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li *ngIf="!saveAsConceptEnabled() && !isArchivedProject()">
                        <a class="dropdown-item" (click)="archiveProject.next()">
                            <svg-icon name="archive"></svg-icon>
                            <span class="ml-2">{{'projects.toolbar.archive'|translate}}</span>
                        </a>
                    </li>
                    <!-- <li class="dropdown-divider"></li> -->
                    <li *ngIf="saveAsConceptEnabled()">
                        <a class="dropdown-item text-danger" (click)="removeProject.next()">
                            <svg-icon name="trash"></svg-icon>
                            <span class="ml-2">{{'projects.toolbar.remove'|translate}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </ng-container>

        <!-- Actions for Project form screen -->
        <ng-container *ngIf="!isReadOnlyProject">
            <div class="btn-group btn-save-project-group" [class.dropdown-open]="context.isDropdownOpen"
                *ngIf="{isDropdownOpen: false} as context">

                <button type="button" class="btn btn-standard btn-success btn-save-project" (click)="saveProject.next()"
                    [disabled]="isSaving">
                    <svg-icon name="paper-plane"></svg-icon>
                    {{'projects.toolbar.save'|translate}}
                </button>

                <!-- <div *ngIf="saveAsConceptEnabled()" class="btn-group gig-dropdown" ngbDropdown role="group" -->
                <div class="btn-group gig-dropdown" ngbDropdown role="group" container="body" placement="bottom-right"
                    (openChange)="context.isDropdownOpen = $event">

                    <button class="btn btn-standard btn-success dropdown-toggle-split" ngbDropdownToggle
                        [disabled]="isSaving">
                        <svg-icon name="chevron"></svg-icon>
                    </button>
                    <div class="dropdown-menu gig-dropdown-menu save-project-dropdown-menu" ngbDropdownMenu>
                        <button ngbDropdownItem (click)="saveAsDraft.next()">
                            <svg-icon name="pencil"></svg-icon>
                            <span class="ml-2">{{'projects.toolbar.saveAsDraft'|translate}}</span>
                        </button>
                    </div>
                </div>
            </div>

        </ng-container>
    </div>
</div>