<h3 class="project-name mb-0">{{project.name}}</h3>
<div class="project-description">
    <quill-view [content]="getDescription()"></quill-view>
</div>

<span class="show-more-toggle" (click)="toggleDescription()" *ngIf="showDescriptionToggle()">
    <ng-container *ngIf="!showFullDescription">{{'projects.details.description-show-more'|translate}}</ng-container>
    <ng-container *ngIf="showFullDescription">{{'projects.details.description-show-less'|translate}}</ng-container>
</span>

<ng-container *ngIf="project.tags.length">
    <h4 class="teasers-title">{{'projects.details.teasers'|translate}}</h4>

    <ul class="project-tags">
        <li *ngFor="let tag of project.tags; let index = index">
            <span class="tag-number">{{index + 1}}.</span>
            <span class="tag-text">{{tag}}</span>
        </li>
    </ul>
</ng-container>
