@import '../variables';

.projects-list-page {

  .title-bar {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  .gig-table.projects-table {

    $name-width-screen-xxxl: 350px;
    $name-width-screen-xxl: 280px;
    $name-width-screen-xl: 300px;

    $date-width: 115px;
    $status-width: 275px;
    $status-icon-only-width: 80px;

    thead th {
      font-weight: $font-weight-avenir-book;
      font-size: 14px;
      padding-bottom: 8px;
    }

    tr.spacer-row {
      th, td {
        height: 7px;
      }
    }

    .sent-col, .start-col, .closed-col {
      width: $date-width;
    }

    .status-col {
      width: $status-width;

      .tooltip {
        // by default don't show tooltip (only show on smaller screens when we hide the status label)
        visibility: hidden;
      }
    }

    .first-col {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    .last-col {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    /* Distinct styles for Active projects table */
    &.active-projects-table {


      $reason-min-width: 125px;
      $action-width: 50px;

      table {
        /* Set min-width so the "reason" column can grow if there is space (width: auto), but to prevent it shrinking below $reason-min-width  */
        //min-width: $name-width-screen-xxxl + $date-width * 2 + $status-width + $reason-min-width + $action-width;
        min-width: $name-width-screen-xl + $date-width * 2 + $status-width + $reason-min-width + $action-width;

        @include media-breakpoint-up(xxl) {
          min-width: $name-width-screen-xxl + $date-width * 2 + $status-icon-only-width + $reason-min-width + $action-width;
        }

        @include media-breakpoint-up(xxxl) {
          min-width: $name-width-screen-xxxl + $date-width * 2 + $status-icon-only-width + $reason-min-width + $action-width;
        }
      }


      .name-col {
        //min-width: 280px;
        width: $name-width-screen-xl;

        @include media-breakpoint-up(xxl) {
          width: $name-width-screen-xxl;
        }

        @include media-breakpoint-up(xxxl) {
          width: $name-width-screen-xxxl;
        }
      }


      // .status-col {
      //   @include media-breakpoint-down(xxl) {
      //     width: $status-icon-only-width;

      //     .tooltip {
      //       visibility: visible;
      //     }

      //     .status-label {
      //       // display: none;
      //     }

      //     .status-icon {
      //       margin-right: 0 !important;
      //     }
      //   }
      // }

      // Uncomment styles below and use "width" instead of "min-width" in .name-col class to make active projects table horizontally scrollable
      //$table-min-width: $name-width + $date-width * 2 + $status-width;
      //
      //table {
      //  min-width: $table-min-width;
      //}
    }

    /* Distinct styles for Archived projects table */
    &.archived-projects-table {
      $reason-min-width: 125px;
      $action-width: 50px;

      table {
        /* Set min-width so the "reason" column can grow if there is space (width: auto), but to prevent it shrinking below $reason-min-width  */
        //min-width: $name-width-screen-xxxl + $date-width * 2 + $status-width + $reason-min-width + $action-width;
        min-width: $name-width-screen-xl + $date-width * 2 + $status-width + $reason-min-width + $action-width;

        @include media-breakpoint-up(xxl) {
          min-width: $name-width-screen-xxl + $date-width * 2 + $status-icon-only-width + $reason-min-width + $action-width;
        }

        @include media-breakpoint-up(xxxl) {
          min-width: $name-width-screen-xxxl + $date-width * 2 + $status-icon-only-width + $reason-min-width + $action-width;
        }
      }

      .name-col {
        width: $name-width-screen-xl;

        @include media-breakpoint-up(xxl) {
          width: $name-width-screen-xxl;
        }

        @include media-breakpoint-up(xxxl) {
          width: $name-width-screen-xxxl;
        }
      }

      // .status-col {
      //   @include media-breakpoint-down(xxl) {
      //     width: $status-icon-only-width;

      //     .tooltip {
      //       visibility: visible;
      //     }

      //     .status-label {
      //       // display: none;
      //     }

      //     .status-icon {
      //       margin-right: 0 !important;
      //     }
      //   }
      // }

      .reason-col {
        width: auto;
      }

      td.reason-col {
        font-size: 12px;
        color: #6E6E6E;
      }

      .action-col {
        width: $action-width;
        font-size: 21px;
      }

    }

  }

  /* Statuses styles */
  .gig-table.projects-table .status-badge {
    height: 35px;
    font-size: 14px;
    font-weight: 400;

    display: flex;
    align-items: center;
    justify-content: center;
    color: $dark;

    .status-icon {
      margin-right: 7px;
    }

    &.project-status-concept {
      background-color: #D4D4D4;

      .status-icon {
        color: #6E6E6E;
        font-size: 17px;
        margin-right: 5px;
      }
    }

    &.project-status-sent {
      background-color: #C9F8C1;

      .status-icon {
        color: #00AB76;
        font-size: 17px;
      }
    }

    &.project-status-ready {
      background-color: #C9F8C1;

      .status-icon {
        color: #00AB76;
        font-size: 23px;
      }
    }

    &.project-status-draft {
      background-color: #D4D4D4;

      .status-icon {
        color: #6E6E6E;
        font-size: 17px;
      }
    }

    &.project-status-freelancers-viewing {
      background-color: #E4DCF4;

      .status-icon {
        color: #60439A;
        font-size: 17px;
      }
    }

    &.project-status-contract {
      background-color: #FFE5BA;

      .status-icon {
        color: #FF8D08;
        font-size: 18px;
      }
    }

    &.project-status-feedback {
      background-color: #FFE5BA;

      .status-icon {
        color: #F68D0B;
        font-size: 20px;
      }
    }

    &.project-status-meet {
      background-color: #BAEAFF;

      .status-icon {
        color: #2D86BE;
        font-size: 20px;
      }
    }

    &.project-status-closed {
      background-color: #FFEBF1;

      .custom-status-icon {
        display: inline-block;
        width: 14px;
        height: 14px;
        background-color: $red;
        border-radius: 3px;
      }

      .status-label {
        margin-top: 1px;
      }
    }
  }

}
