@import 'src/scss/variables';

/*
 *  Styles for Project Details view
 */
.project-details-page {

  .project-right-sidebar {
    $project-details-sidebar-width: 543px;
    $project-details-sidebar-width-1: 430px;

    width: $project-details-sidebar-width !important;
    flex: 0 0 $project-details-sidebar-width !important;

    @include media-breakpoint-down(xl) {
      width: $project-details-sidebar-width-1 !important;
      flex: 0 0 $project-details-sidebar-width-1 !important;
    }
  }

  .project-summary {
    padding: 45px 30px 0 30px;
  }

  .project-name {
    font-size: 26px;
  }

  .project-description {
    padding-top: 25px;
    padding-right: 25px;
    font-size: 14px;
    white-space: pre-wrap;
    line-height: 1.7;
  }

  .teasers-title {
    font-size: 22px;
    font-weight: $font-weight-avenir-book;
    margin-top: 25px;
  }

  .project-tags {
    list-style: none;
    padding-left: 0;

    .tag-number {
      font-size: 50px;
      line-height: 58px;
      color: #D4D4D4;
      vertical-align: middle;
    }

    .tag-text {
      font-size: 16px;
      color: $purple;
      padding-left: 15px;
      vertical-align: middle;
    }
  }

  .project-right-sidebar {

    .field-label {
      font-size: 14px;
    }

    .field-value {
      font-size: 22px;
      color: $purple;

      @include media-breakpoint-down(xxl) {
        font-size: 20px;
      }

      @include media-breakpoint-down(xl) {
        font-size: 18px;
      }
    }

    .homeworking-info {
      font-size: 14px;
    }

    .h-separator {
      margin-top: 20px;
      margin-bottom: 25px;

      &.h-separator-1 {
        margin-top: 15px;
      }
    }

    .skills-title, .tools-title {
      font-size: 22px;
      color: $purple;
      margin-bottom: 10px;

      @include media-breakpoint-down(xxl) {
        font-size: 20px;
      }

      @include media-breakpoint-down(xl) {
        font-size: 18px;
      }
    }

    .tools-title {
      margin-top: 30px;
    }

    .project-skill-line {
      display: flex;
      align-items: center;
      background-color: #F7F7F7;
      padding: 10px 20px 10px 15px;
      margin-bottom: 10px;
      border-radius: 5px;

      .skill-name {
        flex: 1;
        color: $purple;
        font-size: 16px;

        @include media-breakpoint-down(xl) {
          font-size: 15px;
        }
      }

      .skill-level {
        width: 83px;
      }

      .skill-rating .star-icon {
        font-size: 14px;
        margin-right: 0.1rem;
      }

    }
  }

  .freelancer-matches {
    border-top: 1px solid $gray-300;
    padding: 45px 40px;
  }
}
