@import 'src/scss/variables';

/*
 * Styles for Project Form view
 */
.project-form-page {

  .project-right-sidebar {
    $project-form-sidebar-width: 739px;
    $project-form-sidebar-width-1: 600px;
    $project-form-sidebar-width-2: 450px;

    width: $project-form-sidebar-width !important;
    flex: 0 0 $project-form-sidebar-width !important;

    @include media-breakpoint-down(xxl) {
      width: $project-form-sidebar-width-1 !important;
      flex: 0 0 $project-form-sidebar-width-1 !important;
    }

    @include media-breakpoint-down(xl) {
      width: $project-form-sidebar-width-2 !important;
      flex: 0 0 $project-form-sidebar-width-2 !important;
    }
  }

  .new-project-title, .edit-project-title {
    padding: 30px 35px 0 40px;
  }

  .new-project-title {
    font-size: 40px;
  }

  .smartphone-container {
    margin-top: 30px;
  }

  .project-summary {
    padding-top: 25px;
    padding-right: 35px;
    width: 100%;

    @include media-breakpoint-down(xxl) {
      padding-left: 35px;
    }
  }

  .form-section-heading {
    font-size: 20px;
    font-weight: $font-weight-avenir-heavy;
  }

  .teasers-title {
    margin-top: 35px;
    margin-bottom: 0.25rem;
  }

  .teasers-subtext {
    font-size: 14px;
  }

  .project-tags {
    list-style: none;
    padding-left: 0;

    li {
      display: flex;
    }

    .tag-number {
      font-size: 50px;
      line-height: 58px;
      color: #D4D4D4;
      width: 55px;
    }

    .tag-text {
      flex: 1;
      padding-top: 4px;
    }
  }

  .project-sidebar-hr {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .form-group-duration {
    .days-per-week {
      width: 65px;
      display: inline-block;
      margin-right: 10px;
    }

    .num-weeks {
      width: 75px;
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .form-group-start-date {
    .input-group {
      width: 160px;
    }

    input {
      border-right: 0;
      padding-right: 0;
    }

    .input-group-append > .btn {
      color: $red;
      padding-left: 10px;
      border-left: 0;
      border-color: $gray-400;

      &:hover {
        background-color: transparent;
      }

      svg-icon {
        font-size: 18px;
      }
    }

  }

  .form-group-location {
    .input-postcode {
      display: inline-block;
      width: 73px;
      margin-right: 35px;
    }

    .custom-control {
      display: inline-block;
    }

    .custom-control-label {
      padding-top: 4px;
    }

    .home-icon {
      font-size: 15px;
    }
  }

  .form-group-budget {

    .input-group {
      width: 100px;
    }

    input {
      border-left: 0;
      padding-left: 7px;
    }

    .input-group-prepend .input-group-text {
      background-color: transparent;
      color: #6E6E6E;
      padding-right: 0;
    }
  }

  .add-skills-link {
    margin-left: auto;
    font-size: 16px;
    font-weight: $font-weight-avenir-heavy;
    cursor: pointer;
  }

  .project-skills {

    .card-body {
      background-color: #F7F7F7;
      padding-top: 23px;
      padding-bottom: 13px;
    }

    .need-to-have-title, .nice-to-have-title {
      font-weight: $font-weight-avenir-heavy;
    }

    .need-to-have-title {
      flex: 1;
    }

    .level-header {
      width: 188px;
      font-size: 14px;

      @include media-breakpoint-down(xl) {
        width: 155px;
      }
    }

    .nice-to-have-title {
      margin-top: 30px;
    }

    .empty-text {
      margin-bottom: 25px;
    }
  }

  .project-skill-line {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 8px 10px 8px 15px;
    margin-bottom: 10px;
    border-radius: 5px;

    .skill-name {
      flex: 1;
      font-size: 16px;
      color: $purple;
      padding-top: 4px;
    }

    .skill-level {
      width: 155px;

      @include media-breakpoint-down(xl) {
        width: 120px;
      }

      .skill-rating .star-icon {
        font-size: 20px;
        margin-right: 3px;
      }
    }

    .skill-remove {
      width: 25px;
      text-align: right;

      svg-icon {
        font-size: 20px;
      }
    }

  }

  .project-skills-empty {
    .card-body {
      height: 295px;
      padding-top: 45px;
      padding-bottom: 45px;
      text-align: center;
    }

    svg-icon {
      font-size: 70px;
      color: $purple;
    }
  }

  .project-language-line {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 8px 10px 8px 15px;
    margin-bottom: 10px;
    border-radius: 5px;

    .language-name {
      flex: 1;
      font-size: 16px;
      color: $purple;
      padding-top: 4px;
    }

    .language-level {
      width: 155px;

      @include media-breakpoint-down(xl) {
        width: 120px;
      }

      .language-rating .star-icon {
        font-size: 20px;
        margin-right: 3px;
      }
    }

    .language-remove {
      width: 25px;
      text-align: right;

      svg-icon {
        font-size: 20px;
      }
    }

  }

  .project-languages-empty {
    .card-body {
      height: 295px;
      padding-top: 45px;
      padding-bottom: 45px;
      text-align: center;
    }

    svg-icon {
      font-size: 70px;
      color: $purple;
    }
  }

}

.project-skills-panel-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  opacity: 0.5;
  z-index: 2000;
}

.project-skills-panel {

  $skill-row-default-padding: 20px;
  $col-checkbox-width: 35px;
  $col-name-default-width: 180px;

  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 695px;
  background-color: white;
  z-index: 2000;
  border-left: 1px solid $gray-300;

  display: flex;
  flex-direction: column;

  .panel-main {
    flex: 1;
    padding: 40px 23px;
    overflow: auto;
  }

  .panel-main-header {
    position: relative;

    .title {
      font-size: 40px;
    }

    .close {
      position: absolute;
      top: -20px;
      right: 0;
      font-size: 30px;
    }
  }

  .panel-footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .description {
    font-size: 14px;
    width: 525px;
    margin-bottom: 35px;
  }

  .skill-header {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
  }

  .skill-card {
    padding: 20px 15px 15px;
    border-radius: 5px;
    background-color: $gig-purple-lighter;
    margin-bottom: 7px;
    overflow: visible;

    .top-skill-row, .nested-skill-row {
      min-height: 46px;
      padding-top: 14px;
      padding-bottom: 14px;

      display: flex;
      flex-direction: row;

      &.selected {
        background-color: $gig-purple-light;
      }
    }

    .top-skill-row {
      padding-left: $skill-row-default-padding;
      padding-right: $skill-row-default-padding;
    }

    .nested-skill-row:not(:last-child) {
      border-bottom: 1px solid $gray-300;
    }

    .top-row-bottom-border-container {
      display: none;
      padding-left: $skill-row-default-padding;
      padding-right: $skill-row-default-padding;

      hr {
        margin-top: 0;
        margin-bottom: 0;
        color: $gray-300;
      }
    }
    &.expanded .top-row-bottom-border-container {
      display: block;
    }

    .nested-skills-container {
      $col-checkbox-padding-left: 18px;

      padding-left: 48px;
      padding-right: $skill-row-default-padding;

      .col-checkbox {
        padding-left: $col-checkbox-padding-left;
        width: $col-checkbox-width + $col-checkbox-padding-left;
      }

      .col-name {
        width: $col-name-default-width - $col-checkbox-padding-left;
      }
    }

  }

  .col-toggler {
    width: 30px;

    svg-icon svg {
      transition: transform .3s ease-in-out;
    }
  }
  .skill-card.expanded .col-toggler {
    svg-icon svg {
      transform: rotate(180deg);
    }
  }

  .col-checkbox {
    width: $col-checkbox-width;

    .custom-control {
      display: inline-block;
      top: -3px;
    }

    .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
      border-color: $purple !important;
      background-color: $purple !important;
    }
  }

  .col-name {
    width: $col-name-default-width;
  }

  .col-type {
    width: 95px;
    text-align: center;
  }

  .col-level {
    flex: 1;
    padding-left: 30px;
  }

  .skill-rating {
    .star-icon {
      color: white;
    }
  }

}

.project-languages-panel-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  opacity: 0.5;
  z-index: 2000;
}
.project-languages-panel {

  $language-row-default-padding: 20px;
  $col-checkbox-width: 35px;
  $col-name-default-width: 180px;

  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 695px;
  background-color: white;
  z-index: 2000;
  border-left: 1px solid $gray-300;

  display: flex;
  flex-direction: column;

  .panel-main {
    flex: 1;
    padding: 40px 23px;
    overflow: auto;
  }

  .panel-main-header {
    position: relative;

    .title {
      font-size: 40px;
    }

    .close {
      position: absolute;
      top: -20px;
      right: 0;
      font-size: 30px;
    }
  }

  .panel-footer {
    height: 100px;
    border-top: 1px solid $gray-300;
    box-shadow: 0 0 5px $gray-300;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .description {
    font-size: 14px;
    width: 525px;
    margin-bottom: 35px;
  }

  .language-header {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
  }

  .language-card {
    border-radius: 5px;
    background-color: $gig-purple-lighter;
    margin-bottom: 7px;
    overflow: hidden;

    .top-language-row, .nested-language-row {
      min-height: 46px;
      padding-top: 14px;
      padding-bottom: 14px;

      display: flex;
      flex-direction: row;

      &.selected {
        background-color: $gig-purple-light;
      }
    }

    .top-language-row {
      padding-left: $language-row-default-padding;
      padding-right: $language-row-default-padding;
    }

    .nested-language-row:not(:last-child) {
      border-bottom: 1px solid $gray-300;
    }

    .top-row-bottom-border-container {
      display: none;
      padding-left: $language-row-default-padding;
      padding-right: $language-row-default-padding;

      hr {
        margin-top: 0;
        margin-bottom: 0;
        color: $gray-300;
      }
    }
    &.expanded .top-row-bottom-border-container {
      display: block;
    }

    .nested-languages-container {
      $col-checkbox-padding-left: 18px;

      padding-left: 48px;
      padding-right: $language-row-default-padding;

      .col-checkbox {
        padding-left: $col-checkbox-padding-left;
        width: $col-checkbox-width + $col-checkbox-padding-left;
      }

      .col-name {
        width: $col-name-default-width - $col-checkbox-padding-left;
      }
    }

  }

  .col-toggler {
    width: 30px;

    svg-icon svg {
      transition: transform .3s ease-in-out;
    }
  }
  .language-card.expanded .col-toggler {
    svg-icon svg {
      transform: rotate(180deg);
    }
  }

  .col-checkbox {
    width: $col-checkbox-width;

    .custom-control {
      display: inline-block;
      top: -3px;
    }

    .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
      border-color: $purple !important;
      background-color: $purple !important;
    }
  }

  .col-language {
    width: $col-name-default-width;
  }

  .col-type {
    width: 95px;
    text-align: center;
  }

  .col-level {
    flex: 1;
    width: 300px;
  }


  .col-level-title {
    padding-left: 120px;
  }

  .language-rating {
    .star-icon {
      color: white;
    }
  }

}
