@import 'src/scss/variables';

.project-toolbar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $gray-300;
  box-shadow: 0 0 5px $gray-300;
  padding: 13px 30px 13px 40px;
  height: 70px;
  background-color: #F7F7F7;

  .back-to-projects-overview {
    font-size: 16px;
    color: $red;
    font-weight: $font-weight-avenir-medium;

    svg-icon svg {
      font-size: 20px;
      vertical-align: -4px;
    }
  }

  .gig-dropdown.project-details-actions {
    display: inline-block;
    font-size: 21px;
    top: 4px;
  }

  .btn-save-project {
    padding-top: 9px;
    padding-bottom: 9px;

    svg-icon svg {
      font-size: 25px;
      vertical-align: -7px;
    }
  }

  .btn-save-project-group.dropdown-open {
    .btn-save-project, .dropdown-toggle-split {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

}

.save-project-dropdown-menu {
  background: $success;
  width: 201px;
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border: 0;
  overflow: hidden;

  .dropdown-item {
    color: white;
    font-size: 16px;
    font-weight: $font-weight-avenir-medium;
    padding-left: 15px;

    &:hover {
      background-color: darken($success, 7);
    }
  }
}
