@import 'src/scss/variables';

.smartphone-container {
  width: 259px;
  height: 524px;
  position: relative;
  margin-left: 75px;
  margin-top: 40px;
  overflow: hidden;

  .smartphone-img {
    position: absolute;
    top: 0;
    pointer-events: none; // Important to make image "click-through" (i.e. to be able to select text below or click elements)
  }

  .smartphone-list {
    list-style-position: inside;
    padding-left: 0;
  }

  .smartphone-header {
    height: 70px;
    background-color: $purple;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-top: 40px;
    text-align: center;

    .gighouse-logo-smartphone svg {
      width: 96.563px;
      height: 14px;
    }
  }

  .smartphone-main {
    padding: 30px 15px 30px 30px;
    height: calc(100% - 70px);
    background: #ffffff;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

    .ps-content {
      padding-right: 10px;
    }
  }

  .smartphone-project-name {
    color: $red;
    font-size: 16px;
  }

  .smartphone-project-description {
    font-size: 12px;
    margin-bottom: 5px;
    white-space: pre-wrap;
  }

  .smartphone-your-profile-title {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .smartphone-your-profile-list {
    font-size: 14px;
    padding-left: 20px;
  }

}

.phone-preview-container {
  position: relative;

  .smartphone-bottom-message {
    position: relative;
    margin-left: 135px;
    margin-top: 20px;
    width: 160px;

    .message {
      font-size: 14px;
      color: #6E6E6E;
    }

    .message-arrow {
      position: absolute;
      top: -10px;
      left: -40px;

      svg {
        font-size: 37px;
      }
    }
  }

  .big-bubble {
    position: absolute;
    border-radius: 50%;
    background-color: $red;

    width: 380px;
    height: 380px;
    top: 110px;
    left: 15px;
  }

  .small-bubble {
    position: absolute;
    border-radius: 50%;
    background-color: #F7F7F769;
    border: 1px solid $red;

    &.bubble-1 {
      width: 70px;
      height: 70px;
      top: 135px;
      left: 40px;
    }

    &.bubble-2 {
      width: 110px;
      height: 110px;
      top: 120px;
      right: 30px;
    }

    &.bubble-3 {
      width: 18px;
      height: 18px;
      top: 295px;
      left: 55px;
    }

    &.bubble-4 {
      width: 50px;
      height: 50px;
      top: 295px;
      right: 50px;
    }

    &.bubble-5 {
      width: 110px;
      height: 110px;
      top: 360px;
      left: 25px;
    }

    &.bubble-6 {
      width: 23px;
      height: 23px;
      top: 400px;
      right: 40px;
    }

    &.bubble-7 {
      width: 48px;
      height: 48px;
      top: 445px;
      right: 50px;
    }
  }
}
