@import 'src/scss/variables';

/*
 * Common layout for project details and form
 */
.project-details-page, .project-form-page {

  main {
    padding: 0 !important;
  }

  .project-view-main {
    display: flex;
  }

  .project-view-left {
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
    margin-left: 0;
    margin-right: 1px; // Should be set separately for each page
  }

  .project-right-sidebar {
    width: 1px; // Should be set separately for each page
    flex: 0 0 1px; // Should be set separately for each page
    right: 0;

    background: #ffffff;
    border-left: 1px solid $gray-300;
    padding: 40px 30px 30px 30px;
  }

  .project-summary-container {
    display: flex;
    padding-bottom: 30px;

    @include media-breakpoint-down(xxl) {
      flex-direction: column;
      align-items: center;
    }
  }

  .project-summary {
    display: block;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
  }

  .phone-preview-container {
    display: block;
    width: 410px;

    @include media-breakpoint-down(xxl) {
      order: 2;
    }
  }
}
