@import 'src/scss/variables';

$numberOfSteps: 7;
$stepWidth: 160px;

.project-steps {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #dee2e6;
}

.project-steps-container {
  $step-circle-radius: 28px;
  $step-line-height: 10px;

  position: relative; // Important for perfectScrollbar to place x-scrollbar correctly

  .steps-graph {
    position: relative;
    width: calc(#{$stepWidth} * (#{$numberOfSteps} - 1));
    height: 165px;
    padding-top: 40px;

    margin-left: 40px;
    margin-right: 85px;
  }

  .steps-line, .steps-line-highlight {
    height: $step-line-height;
    width: 100%;
    background-color: #D4D4D4;
    position: absolute;
  }

  .steps-line-highlight {
    background-color: $red;
  }

  .steps {
    display: flex;
    justify-content: space-between;

    .step {
      position: absolute;
      width: $stepWidth;
      margin-left: calc((#{$stepWidth} / 2) * -1);
      padding: 0 5px;
    }
  }

  .step-circle {
    height: $step-circle-radius;
    width: $step-circle-radius;
    border-radius: 50%;
    margin-left: calc(50% - #{$step-circle-radius} / 2);
    margin-top: calc(-#{$step-circle-radius} / 2 + #{$step-line-height} / 2);
    background-color: #ffffff;
    border: 9px solid $red;
    box-shadow: 0 0 7px $gray-500;
  }

  .current-step .step-circle {
    background-color: #ffffff;
    border: 9px solid $red;
  }

  .visited-step .step-circle {
    background-color: $red;
    border: 9px solid #ffffff;
  }

  .unvisited-step .step-circle {
    background-color: #D4D4D4;
    border: 9px solid #ffffff;
  }

  .step-text {
    font-size: 14px;
    color: $dark;
    text-align: center;
    padding: 2px;
    margin-top: 10px;
  }

  .current-step .step-text {
    font-weight: $font-weight-avenir-black;
    color: $purple;

    a {
      font-weight: $font-weight-avenir-book;
    }
  }

}
