<app-navbar xmlns="http://www.w3.org/1999/html"></app-navbar>
<div class="icon-container"><svg class="svg-icon-hero-cape" xmlns="http://www.w3.org/2000/svg" width="135.778" height="185.513" viewBox="0 0 27.778 37.513" fill="currentColor" stroke="currentColor" stroke-linecap="square" stroke-width="0.8px"><g transform="translate(0.4 0.4)"><path d="M6.966,284.83a3.036,3.036,0,1,1-2.2.869,3.036,3.036,0,0,1,2.2-.869Zm-.008.5a2.553,2.553,0,1,0,2.485,2.558A2.547,2.547,0,0,0,6.958,285.325Z" transform="translate(11.368 -284.829)"/><path d="M20.341,286.886a4.364,4.364,0,0,1,2.816,1.011l5.129,4.274a1.892,1.892,0,0,1,.35,2.521L26.1,298.4a1.686,1.686,0,0,1-1.627.716l1.439,15.929a1.892,1.892,0,0,1-3.769.341l-.769-8.521a17.39,17.39,0,0,0-2.014-.068l-.777,8.59a1.892,1.892,0,1,1-3.769-.341l.7-7.773a21.536,21.536,0,0,1-4.152.1,28.163,28.163,0,0,1-8.91-2.02.574.574,0,0,1-.033-1.057h.016a11.645,11.645,0,0,0,6.266-6.77,23.23,23.23,0,0,1,5.269-8.324,10.054,10.054,0,0,1,5.7-2.259,4.345,4.345,0,0,1,.673-.056Zm-.008.489a3.875,3.875,0,0,0-2.461.9l-5.127,4.272a1.4,1.4,0,0,0-.26,1.872l2.535,3.7A1.2,1.2,0,1,0,17,296.767l-2.025-2.959,1.778-1.48v3.214l.651.95a1.686,1.686,0,0,1-.651,2.467l-1.458,16.128a1.4,1.4,0,1,0,2.795.253l1.235-13.671a1.036,1.036,0,0,1,2.063,0l1.236,13.671a1.4,1.4,0,1,0,2.8-.253l-1.456-16.128a1.686,1.686,0,0,1-.651-2.467l.65-.95v-3.214l1.779,1.48-2.026,2.959a1.2,1.2,0,1,0,1.977,1.353l2.534-3.7a1.4,1.4,0,0,0-.259-1.872l-5.127-4.272a3.874,3.874,0,0,0-2.5-.9Zm-2.622.4a9.564,9.564,0,0,0-3.421,1.787,22.741,22.741,0,0,0-5.138,8.128,12.134,12.134,0,0,1-6.528,7.052.085.085,0,0,0,0,.156,27.676,27.676,0,0,0,8.758,1.985,21.064,21.064,0,0,0,4.166-.111l.693-7.658a1.686,1.686,0,0,1-1.627-.716l-2.535-3.7a1.892,1.892,0,0,1,.349-2.522l5.129-4.274q.075-.063.152-.123Zm6.734,5.6v1.457l.635-.926Zm-8.185,0-.635.53.635.926Zm4.083,7.846a.547.547,0,0,0-.535.5l-.416,4.592a17.9,17.9,0,0,1,1.926.062l-.421-4.655A.547.547,0,0,0,20.343,301.216Z" transform="translate(-2.087 -280.401)"/></g></svg>
</div>
<div id="pending-card">
    <h1>{{'pending.title.btwAlreadyRegistered'|translate}}</h1>
    <h1>{{'pending.title.noAccess'|translate}}</h1>
    <h1>{{'pending.title.contact'|translate}}</h1>
    <div class="contact-info-container">
        <app-support-contact-info-card></app-support-contact-info-card>
    </div>
</div>
