<app-loading class="page-loading" *ngIf="(loadingFreelancers$ && loadingAcceptedFreelancers$)|async"></app-loading>
<h4 class="page-loading-failed" *ngIf="(loadingFreelancersFailed$ && loadingAcceptedFreelancersFailed$)|async">{{'freelancers.freelancersLoadingFailed'|translate}}</h4>

<div class="no-freelancers-container" *ngIf="showNoFreelancersMessage()">
    <div class="inner">
        <svg-icon name="person" class="icon-no-freelancers"></svg-icon>
        <h4 class="page-no-items-message text-primary">{{'freelancers.matches.noFreelancersMatchesHeading'|translate}}</h4>

        <div class="inner-2">
            <p>{{'freelancers.matches.noFreelancersMatchesHeading2'|translate}}</p>

            <ul class="reasons-list">
                <li><svg-icon name="close" class="text-danger mr-1"></svg-icon> {{'freelancers.matches.noFreelancersMatchesReason1'|translate}}</li>
                <li><svg-icon name="close" class="text-danger mr-1"></svg-icon> {{'freelancers.matches.noFreelancersMatchesReason2'|translate}}</li>
                <li><svg-icon name="close" class="text-danger mr-1"></svg-icon> {{'freelancers.matches.noFreelancersMatchesReason3'|translate}}</li>
            </ul>

            <p class="mt-2">{{'freelancers.matches.updateProjectIfNecessary'|translate}}</p>

            <a class="btn btn-danger btn-standard mt-2" [routerLink]="['/projects', 'edit', project.id]">
                {{'freelancers.matches.editProjectButton'|translate}}
            </a>
        </div>
    </div>
</div>

<div class="already-accepted-freelancer-container" *ngIf="showAlreadyAFreelancerAcceptedMessage()">
    <div class="inner">
        <svg-icon name="thumbs-up-full" class="icon-already-accepted-freelancer"></svg-icon>
        <h4 class="page-no-items-message text-primary">{{'freelancers.matches.alreadyAcceptedFreelancer'|translate}}</h4>

        <div class="inner-2">
            <p>{{'freelancers.matches.viewAcceptedFreelancer'|translate}}</p>

            <a class="btn btn-danger btn-standard mt-2" [routerLink]="['/freelancers', 'accepted']">
                {{'freelancers.matches.acceptedFreelancersButton'|translate}}
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="{{freelancerCardContainerClass}}" *ngFor="let freelancer of (freelancers$|async); trackBy: trackByFn">
        <app-freelancer-card
            [freelancer]="freelancer"
            [projectMatchingCard]="true"
            (toggleFavourite)="toggleFavourite(freelancer)"
            (reject)="reject(freelancer)"
            (meet)="meet(freelancer)">
        </app-freelancer-card>
    </div>
</div>
