<div class="secondary-menu" [perfectScrollbar]="perfectScrollbarConfig">

    <div class="secondary-menu-top">
        <div class="secondary-menu-icon">
            <fa-icon [icon]="activeMainMenuNavItem.faIcon" *ngIf="activeMainMenuNavItem.faIcon"></fa-icon>
            <svg-icon [name]="activeMainMenuNavItem.svgIcon" *ngIf="activeMainMenuNavItem.svgIcon"></svg-icon>
        </div>

        <h4 class="secondary-menu-title">{{activeMainMenuNavItem.label|translate}}</h4>

        <div class="secondary-menu-h-line-box">
            <div class="secondary-menu-h-line"></div>
        </div>

        <a class="secondary-menu-item" *ngFor="let navItem of secondaryMenuNavItems" [routerLink]="navItem.path"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: navItem.routerLinkActiveExact}">

            <svg-icon [name]="navItem.svgIcon" *ngIf="navItem.svgIcon"></svg-icon>

            <span class="secondary-menu-item-label">{{navItem.label|translate}}</span>
        </a>
    </div>

    <app-support-contact-info-card></app-support-contact-info-card>
</div>