<div class="modal-body">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <svg-icon name="close"></svg-icon>
    </button>

    <svg-icon name="hand-warning" class="hand-warning-icon"></svg-icon>

    <h4 class="title">{{'projects.projectLeaveFormModal.title'|translate}}</h4>

    <div class="body-text">
        <ng-container *ngIf="reason === canDeactivateProjectFormReasons.NOT_SAVED">
            {{'projects.projectLeaveFormModal.unsaved-project-bodyText-1'|translate}}
        </ng-container>
        <ng-container *ngIf="reason === canDeactivateProjectFormReasons.UNSAVED_CHANGES">
            {{'projects.projectLeaveFormModal.unsaved-changes-bodyText-1'|translate}}
        </ng-container>
        <br>
        {{'projects.projectLeaveFormModal.bodyText-2'|translate}}
    </div>

    <div class="modal-actions">
        <button type="button"
                class="btn btn-standard btn-outline-danger mr-2"
                (click)="activeModal.dismiss()">
            {{'global.modalConfirm.cancel'|translate}}
        </button>
        <button type="button"
                class="btn btn-standard btn-danger"
                (click)="activeModal.close()">
            <ng-container>{{'global.modalConfirm.continue'|translate}}</ng-container>
        </button>
    </div>

</div>
