<ngb-datepicker class="gighouse-datepicker"
                navigation="none"
                (dateSelect)="onDateSelection($event)"
                [dayTemplate]="dayTemplate"
                [(ngModel)]="selectedDate"
                #dp>
    <ng-template ngbDatepickerContent>
        <div *ngFor="let month of dp.state.months">
            <div class="custom-month-selector text-center">
                <button type="button" class="btn btn-sm btn-transparent py-0 month-nav" (click)="navigate(-1);">
                    <svg-icon name="chevron" class="chevron-left"></svg-icon>
                </button>
                <span class="month-name">{{ ('global.months.' + month.month) | translate }}</span>
                <button type="button" class="btn btn-sm btn-transparent py-0 month-nav" (click)="navigate(1)">
                    <svg-icon name="chevron" class="chevron-right"></svg-icon>
                </button>
            </div>
            <ngb-datepicker-month [month]="month"></ngb-datepicker-month>
        </div>
    </ng-template>
</ngb-datepicker>

<ng-template #dayTemplate let-date let-focused="focused" let-selected="selected">
    <!-- custom-day-mask's only purpose is to visually connect 'from' and 'to' dates of a range with their neighbour dates -->
    <div class="custom-day-mask"
       [class.right]="isRangeFrom(date)"
       [class.left]="isRangeTo(date)"
       *ngIf="isRangeFrom(date) || isRangeTo(date)"></div>

    <span class="custom-day"
        [class.selected]="selected"
        [class.selected-day-no-highlight]="selectedDateNoHighlight"
        [class.outside-of-current-month]="isOutsideOfCurrentMonth(date)"
        [class.focused]="focused"
        [class.range]="isRange(date)"
        [class.faded]="isHovered(date) || isInside(date)"
        [class.range-from]="isRangeFrom(date)"
        [class.range-to]="isRangeTo(date)"
        (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null">
        <span class="day-value">
            {{ date.day }}
        </span>
    </span>
</ng-template>
