<div class="modal-body">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()" [disabled]="actionRunning$|async">
        <svg-icon name="close"></svg-icon>
    </button>

    <svg-icon name="trash" class="trash-icon"></svg-icon>

    <h4 class="title">{{title}}</h4>

    <div class="confirmation-body" [innerHTML]="body" *ngIf="body"></div>
    <ng-container [formGroup]="this.form">
    <div class="form-group">
        <label for="rejectMessageControl">{{'timesheets.modal.rejectMessageLabel'|translate}}</label>
        <input type="text" class="form-control" id="rejectMessageControl"
               formControlName="rejectMessageControl">
    </div>
    </ng-container>


    <div class="modal-actions">
        <button type="button"
                class="btn btn-standard btn-outline-danger mr-2"
                (click)="activeModal.dismiss()"
                [disabled]="actionRunning$|async">
            {{'global.modalConfirm.cancel'|translate}}
        </button>
        <button type="button"
                class="btn btn-standard btn-danger"
                (click)="confirm()"
                [disabled]="actionRunning$|async">
            {{confirmBtnText}}
        </button>

        <div class="alert alert-danger" role="alert" *ngIf="failedText$|async as failedText">
            {{failedText}}
        </div>
    </div>
</div>
