<app-loading class="page-loading" *ngIf="loading"></app-loading>
<h4 class="page-loading-failed" *ngIf="loadingFailed">{{'timesheets.timeSheetsLoadingFailed'|translate}}</h4>
<h4 class="page-no-items-message" *ngIf="showNoTimeSheetsByCriteria()">{{'timesheets.noTimeSheetsByCriteria'|translate}}</h4>

<ng-container *ngIf="showTimesheetsTable()">
    <h3 class="page-title">
        <svg-icon name="timesheet" style="vertical-align: .1em;"></svg-icon>
        {{'timesheets.title'|translate}}
    </h3>

    <div class="gig-table timesheets-table">
        <table class="table table-borderless">
            <thead>
            <tr>
                <th class="freelancer-name-col"></th>
                <th class="day-col" *ngFor="let day of days; let index = index">
                    <div class="day-name">{{day|translate}}</div>
                    <div class="date">{{getDate(index)}}</div>
                </th>
                <th class="spacer-col"></th>
                <th class="total-col">{{'timesheets.total'|translate}}</th>
                <th class="spacer-col"></th>
                <th class="salary-col">€</th>
                <th class="actions-col"></th>
                <th class="fluid-col"></th>
            </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let timeSheet of timeSheets; let last = last">
                    <tr class="time-sheet-entry-row" [routerLink]="['project', timeSheet.project.id, 'freelancer', timeSheet.freelancer.id]">
                        <th class="freelancer-name-col">
                            <div class="avatar-container">
                                <fa-icon icon="user-circle"></fa-icon>
                                <i class="fas fa-info-circle"></i>
                            </div>
                            <div class="name-container">
                                <div class="name">{{timeSheet.freelancer.name}}</div>
                                <div class="project-name">{{timeSheet.project.name}}</div>
                            </div>
                        </th>
                        <td class="day-col" *ngFor="let hoursWorked of timeSheet.hours">
                            {{hoursWorked}}
                        </td>
                        <td class="spacer-col"></td>
                        <td class="total-col">
                            {{timeSheet.totalHours}}
                        </td>
                        <td class="spacer-col"></td>
                        <td class="salary-col">
                            {{timeSheet.totalCharged}}
                        </td>
                        <td class="actions-col">
                            <i class="fas fa-check" *ngIf="timeSheet.status == 'Approved'"></i>
                            <i class="fas fa-times" *ngIf="timeSheet.status == 'Rejected'"></i>

                            <button class="btn btn-standard btn-success mr-2"
                                    *ngIf="timeSheet.status == 'Submitted' || timeSheet.status == 'Mixed'"
                                    (click)="approve(timeSheet)">{{'timesheets.confirm'|translate}}
                            </button>
                            <a class="text-danger size-14 mr-2"
                               *ngIf="timeSheet.status == 'Submitted' || timeSheet.status == 'Mixed'"
                            (click)="reject(timeSheet)">
                                {{'timesheets.reject'|translate}}
                            </a>
                        </td>
                        <td class="fluid-col"></td>
                    </tr>

                    <tr class="spacer-row" [class.last-spacer-row]="last">
                        <th class="freelancer-name-col"></th>
                        <td class="day-col" *ngFor="let day of days"></td>
                        <td class="spacer-col"></td>
                        <td class="total-col"></td>
                        <td class="spacer-col"></td>
                        <td class="salary-col"></td>
                        <td class="actions-col"></td>
                        <td class="fluid-col"></td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</ng-container>
