<div class="chat-input-area">
    <div class="chat-textarea-container">
        <form [formGroup]="chatForm" class="w-100">
            <textarea
                class="form-control"
                appAutoSize
                appAutoSizeMaxHeightPx="100"
                [placeholder]="'chat.textareaPlaceholder'|translate"
                formControlName="message"
                (keydown.enter)="onKeyDownEnter($event)"
                (keyup.enter)="onKeyUpEnter($event)">
            </textarea>
        </form>
    </div>
    <div class="chat-input-area-actions">
        <button class="btn btn-sm btn-danger btn-send" (click)="sendMessage()">
            <svg-icon name="paper-plane"></svg-icon>
        </button>
    </div>
</div>
