<h3 class="page-title">
    {{'chat.freelancersMenuTitle'|translate}}
    <!-- ToDo: This count will not contain GigAdmin -->
    <ng-container *ngIf="freelancers">({{freelancers.length}})</ng-container>
</h3>

<app-loading class="page-loading" *ngIf="freelancersLoading"></app-loading>
<h4 class="page-loading-failed" *ngIf="freelancersLoadingFailed">{{'chat.freelancersLoadingFailed'|translate}}</h4>
<h4 class="page-no-items-message" *ngIf="freelancers && freelancers.length === 0">{{'chat.noFreelancers'|translate}}
</h4>

<div class="chat-participants-list" *ngIf="selectedProject && !freelancersLoading">
    <ng-container *ngIf="freelancers && freelancers.length">
        <ng-container *ngFor="let freelancer of freelancers">

            <app-chat-freelancer-menu-item [freelancer]="freelancer" [selectedChatParticipant]="selectedChatParticipant"
                [selectedProject]="selectedProject" (selectChatParticipant)="selectChatParticipant.next($event)">
            </app-chat-freelancer-menu-item>

            <hr class="chat-participant-h-separator">
        </ng-container>
    </ng-container>

    <!-- ToDo: Implement a menu item for gighouse admin <in app-chat-freelancer-menu-item>
         For now gighouse admin item is disabled until it's clear how it will work e2e.
     -->
    <div class="chat-participant-row" (click)="selectChatParticipant.next(admin)"
        [class.active]="selectedChatParticipant && selectedChatParticipant === specialParticipant.GIGHOUSEADMIN"
        *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_USER']">

        <div class="avatar-container">
            <div class="gighouse-avatar">
                <svg-icon name="gighouse-stamp"></svg-icon>
            </div>
        </div>
        <div class="chat-participant-info">
            <div class="name">{{'chat.gighouseChatParticipant'|translate}}</div>
            <div class="role">{{'chat.gighouseChatParticipantRole'|translate}}</div>
        </div>
        <!--<div class="chat-unread-msg-indicator">
            <span class="unread-msg-number">?</span>
        </div>-->
    </div>

    <hr class="chat-participant-h-separator">
</div>