<div class="page-container timesheets-page" [class.sidebar-collapsed]="!filterExpanded">

    <div class="left-sidebar" [perfectScrollbar]="perfectScrollbarConfig">
        <app-timesheets-filter
            [expanded]="filterExpanded"
            (toggleExpanded)="filterExpanded = !filterExpanded"
            (changePeriodFromDate)="changePeriodFromDate($event)"
            (changeSelectedFreelancers)="changeSelectedFreelancers($event)">
        </app-timesheets-filter>
    </div>

    <main>
        <app-timesheets-main
            [timeSheets]="timeSheets$|async"
            [periodFromDate]="periodFromDate$|async"
            [loading]="loading$|async"
            [loadingFailed]="loadingFailed$|async">
        </app-timesheets-main>
    </main>

</div>
