<hr class="mt-0 mb-3">

<ng-container *ngIf="gigHouseContact$|async as gigHouseContact">
    <p class="size-14 text-muted mb-1">Your Gighouse contact</p>

    <div class="contact-id">
        <div class="contact-image-container">
            <fa-icon [icon]="['fas', 'user-circle']" class="contact-image"></fa-icon>
        </div>
        <div class="contact-name-container">
            {{gigHouseContact.name}}
        </div>
    </div>

    <ul class="size-14 mb-0">
        <li>
            <fa-icon [icon]="['fas', 'phone-alt']" [fixedWidth]="true" class="contact-icon"></fa-icon>
            <span>{{gigHouseContact.phone}}</span>
        </li>
        <li>
            <svg-icon name="mail" class="contact-icon"></svg-icon>
            <a href="mailto:{{gigHouseContact.email}}">Send email</a>
        </li>
    </ul>
</ng-container>
