<div class="modal-body">

	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()"
		[disabled]="actionRunning$|async">
		<svg-icon name="close"></svg-icon>
	</button>

	<h1>{{'profiles.companyProfilesModal.title'|translate}}</h1>
	<br>
	<br>

	<ng-container [formGroup]="this.form">
		<div class="form-group">
			<label for="companyProfileNameControl">{{'profiles.company-profile-form.company-name'|translate}}</label>
			<input type="text" class="form-control" id="companyProfileNameControl"
				formControlName="companyProfileNameControl">
			<span class="validation-msg" *ngIf="this.getCompanyProfileNameErrorMsg() as errorMsg">
				{{errorMsg}}
			</span>
		</div>

		<!-- <div class="form-group">
			<label for="companyProfileFormatControl">{{'profiles.company-profile-form.company-format'|translate}}</label>
			<input type="text" class="form-control" id="companyProfileFormatControl" formControlName="companyProfileFormatControl">
			<span class="validation-msg" *ngIf="getCompanyProfileFormatErrorMsg() as errorMsg">
				{{errorMsg}}
			</span>
		</div> -->

		<div class="form-group">
			<label
				for="companyProfileFormatControl">{{'profiles.company-profile-form.company-format'|translate}}</label>
			<select class="form-control" formControlName="companyProfileFormatControl">
				<option [ngValue]="null" disabled>Choose company format</option>
				<option *ngFor="let format of companyFormats" [ngValue]="format.value"
					selected="companyProfile.companyFormat">
					{{format.value}}
				</option>
			</select>

		</div>



		<div class="form-group">
			<label
				for="companyProfileStreetControl">{{'profiles.company-profile-form.company-street'|translate}}</label>
			<input type="text" class="form-control" id="companyProfileStreetControl"
				formControlName="companyProfileStreetControl">
			<span class="validation-msg" *ngIf="getCompanyProfileStreetErrorMsg() as errorMsg">
				{{errorMsg}}
			</span>
		</div>

		<div class="row">
			<div class="form-group postal-code-cell">
				<label
					for="companyProfilePostalCodeControl">{{'profiles.company-profile-form.company-postal-code'|translate}}</label>
				<input type="text" class="form-control" id="companyProfilePostalCodeControl"
					formControlName="companyProfilePostalCodeControl">
				<span class="validation-msg" *ngIf="getCompanyProfilePostalCodeErrorMsg() as errorMsg">
					{{errorMsg}}
				</span>
			</div>

			<div class="form-group cell city-cell">
				<label
					for="companyProfileCityControl">{{'profiles.company-profile-form.company-city'|translate}}</label>
				<input type="text" class="form-control" id="companyProfileCityControl"
					formControlName="companyProfileCityControl">
				<span class="validation-msg" *ngIf="getCompanyProfileCityErrorMsg() as errorMsg">
					{{errorMsg}}
				</span>
			</div>
		</div>
		<!-- <div class="form-group">
			<label for="companyProfileStateControl">{{'profiles.company-profile-form.company-state'|translate}}</label>
			<input type="text" class="form-control" id="companyProfileStateControl" formControlName="companyProfileStateControl">
			<span class="validation-msg" *ngIf="getCompanyProfileStateErrorMsg() as errorMsg">
				{{errorMsg}}
			</span>
		</div> -->

		<div class="form-group">
			<label for="companyProfileStateControl">{{'profiles.company-profile-form.company-state'|translate}}</label>
			<select class="form-control" formControlName="companyProfileStateControl">
				<option [ngValue]="null" disabled>Choose State</option>
				<option *ngFor="let state of states" [ngValue]="state.value" selected="companyProfile.state">
					{{state.value}}
				</option>
			</select>

		</div>

		<div class="form-group">
			<label for="companyProfileEmailControl">{{'profiles.company-profile-form.company-email'|translate}}</label>
			<input type="text" class="form-control" id="companyProfileEmailControl"
				formControlName="companyProfileEmailControl">
			<span class="validation-msg" *ngIf="getCompanyProfileEmailErrorMsg() as errorMsg">
				{{errorMsg}}
			</span>
		</div>

		<div class="form-group">
			<label for="companyProfilePhoneControl">{{'profiles.company-profile-form.company-phone'|translate}}</label>
			<input type="text" class="form-control" id="companyProfilePhoneControl"
				formControlName="companyProfilePhoneControl">
			<span class="validation-msg" *ngIf="getCompanyProfilePhoneErrorMsg() as errorMsg">
				{{errorMsg}}
			</span>
		</div>

		<div class="form-group">
			<label for="companyProfileVatControl">{{'profiles.company-profile-form.company-vat'|translate}}</label>
			<input type="text" class="form-control" id="companyProfileVatControl"
				formControlName="companyProfileVatControl">
			<span class="validation-msg" *ngIf="getCompanyProfileVatErrorMsg() as errorMsg">
				{{errorMsg}}
			</span>
		</div>
	</ng-container>

	<div class="modal-actions">
		<!-- <button type="button"
				class="btn btn-standard btn-outline-danger mr-2"
				(click)="activeModal.dismiss()"
				[disabled]="actionRunning$|async">
			{{'global.modalConfirm.cancel'|translate}}
		</button> -->
		<button type="button" class="btn btn-standard btn-success" (click)="confirm()"
			[disabled]="actionRunning$|async">
			<ng-container *ngIf="confirmBtnText">{{confirmBtnText}}</ng-container>
			<ng-container *ngIf="!confirmBtnText">{{'global.modalConfirm.confirm'|translate}}</ng-container>
		</button>
	</div>

</div>