@import '../variables';

.freelancer-profile-page {

  main {
    display: flex;
    padding: 0 !important;
  }

  .freelancer-profile-main {
    -ms-flex: 1;
    flex: 1;
    padding: 25px 40px 20px 40px;
  }

  .freelancer-profile-sidebar {
    $freelancer-profile-sidebar-width: 740px;
    $freelancer-profile-sidebar-width-1: 600px;
    $freelancer-profile-sidebar-width-2: 450px;

    width: $freelancer-profile-sidebar-width;
    flex: 0 0 $freelancer-profile-sidebar-width;

    background: #ffffff;
    border-left: 1px solid $gray-300;
    padding: 30px;

    @include media-breakpoint-down(xxl) {
      width: $freelancer-profile-sidebar-width-1 !important;
      flex: 0 0 $freelancer-profile-sidebar-width-1 !important;
    }

    @include media-breakpoint-down(xl) {
      width: $freelancer-profile-sidebar-width-2 !important;
      flex: 0 0 $freelancer-profile-sidebar-width-2 !important;
    }
  }

  .freelancer-profile-toolbar {
    display: flex;

    .back-to-overview {
      font-size: 16px;
      color: $red;
      font-weight: $font-weight-avenir-medium;

      svg-icon svg {
        font-size: 20px;
        vertical-align: -4px;
      }
    }

    .add-to-favourites {
      margin-left: auto;
      font-size: 16px;
      color: $red;
      font-weight: $font-weight-avenir-medium;
      cursor: pointer;

      &.disabled {
        pointer-events: none;
      }

      .heart-icon {
        svg {
          font-size: 18px;
          vertical-align: -2px;
        }
      }
    }
  }

  .freelancer-profile-heading {
    display: flex;
    align-items: center;
    margin-top: 30px;

    .avatar-container {
      width: 140px;
      flex: 0 0 140px;

      .avatar {
        color: $gray-500;

        svg {
          font-size: 140px;
        }
      }
    }

    .name-container {
      flex: 1;
      padding-left: 30px;
      padding-right: 30px;

      .freelancer-name {
        padding-top: 10px;
        line-height: 1;
        margin-bottom: 0;
      }

      .profile-name {
        font-size: 22px;
        font-weight: $font-weight-avenir-book;
      }
    }

  }

  .description {
    margin-top: 30px;
    font-size: 14px;
  }

  .details {
    margin-top: 30px;
  }

  .detail-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 10px;

    li {
      padding: 0 0.7rem;
      height: 30px;
      border-radius: 5px;
      display: flex;
      align-items: center;

      .detail-list-icon {
        width: 20px;
        margin-right: 0.25rem;
        font-size: 20px;
        color: $primary;

        svg {
          vertical-align: -0.25em;
        }
      }

      .detail-text {
        font-size: 14px;
        padding-left: 7px;
      }
    }

    li:nth-child(odd) {
      background-color: #ffffff;
    }
    li:nth-child(even) {
      background-color: transparent;
    }
  }

  .gighouse-opinion-card {

    .card-body {
      background-color: $gig-purple-light;

      @include media-breakpoint-up(xxl) {
        padding: 35px 45px;
      }
    }

    .header {
      display: flex;

      .title {
        font-size: 20px;
        flex: 1;
      }

      .score {
        width: 230px;
        flex: 0 0 230px;
        font-weight: $font-weight-avenir-black;
        text-align: right;
      }
    }

    .opinion {
      font-size: 14px;
    }
  }

  .gighouse-portfolio-card {

    .card-body {
      background-color: $gig-purple-light;

      @include media-breakpoint-up(xxl) {
        padding: 35px 45px;
      }
    }

    .header {
      display: flex;

      .title {
        font-size: 20px;
        flex: 1;
      }

      .score {
        width: 230px;
        flex: 0 0 230px;
        font-weight: $font-weight-avenir-black;
        text-align: right;
      }
    }

    .portfolio {
      font-size: 14px;
    }
  }

  .gighouse-referrals-card {

    .card-body {
      background-color: $gig-purple-light;

      @include media-breakpoint-up(xxl) {
        padding: 35px 45px;
      }
    }

    .header {
      display: flex;

      .title {
        font-size: 20px;
        flex: 1;
      }

      .score {
        width: 230px;
        flex: 0 0 230px;
        font-weight: $font-weight-avenir-black;
        text-align: right;
      }
    }

    .referral {
      font-size: 14px;
    }
  }

  .matches-card {
    .card-body {
      background-color: $gig-purple-light; // if browser doesn't support gradient
      background-image: linear-gradient($gig-purple-light, lighten($gig-purple-light, 0.5), #ffff);

      @include media-breakpoint-up(xxl) {
        padding: 35px 45px;
      }
    }

    .title {
      font-size: 20px;
    }

    .gig-table.project-matches {
      $acceptance-col-width: 120px;

      tr.spacer-row {
        th, td {
          height: 7px;
        }
      }

      .acceptance-col {
        width: $acceptance-col-width;
      }
    }

    .thumb-up-icon-circle, .thumb-down-icon-circle {
      display: inline-block;
      width: 38px;
      height: 38px;
      border: 2px solid #ffffff;
      border-radius: 50%;
      box-shadow: 0 0 8px $gray-300;
      cursor: pointer;
      transition: box-shadow 0.25s;

      &:hover {
        box-shadow: 0 0 12px $gray-500;
      }

      .thumb-icon {
        display: block;
        margin-left: 7px;
        font-size: 20px;
        color: #ffffff;
      }

      &.disabled {
        cursor: default;
        pointer-events: none;
        background-color: #F7F7F7;
        box-shadow: none;

        .thumb-icon {
          color: $gray-500;
        }
      }
    }

    .thumb-up-icon-circle {
      background-color: $green;

      &:hover {
        //background-color: darken($green, 5);
      }

      .thumb-icon {
        margin-top: 2px;
      }
    }

    .thumb-down-icon-circle {
      background-color: $red;

      &:hover {
        //background-color: darken($red, 5);
      }

      .thumb-icon {
        margin-top: 4px;
      }
    }

  }

}

.freelancer-profile-sidebar {

  .sidebar-title {
    font-size: 26px;
  }

  .main-card-title {
    flex: 1;
    font-weight: $font-weight-avenir-heavy;
  }

  .level-header {
    width: 216px;
    font-size: 14px;
  }

  .main-card {
    & > .card-body {
      background-color: #F7F7F7;
      padding-top: 23px;
      padding-bottom: 13px;
    }

    &.card-empty {
      & > .card-body {
        height: 115px;
        padding-top: 45px;
        padding-bottom: 45px;
        text-align: center;
      }
    }
  }

  .contactLanguage-line {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 8px 10px 8px 15px;
    margin-bottom: 10px;
    border-radius: 5px;

    .contactLanguage-name {
      flex: 1;
      color: $purple;
      font-size: 16px;

      @include media-breakpoint-down(xl) {
        font-size: 15px;
      }
    }

    .contactLanguage-level {
      width: 83px;
    }

  }

  .inner-card {
    margin-bottom: 10px;
    border: 0;

    .card-body {
      background: #ffffff;
      padding: 10px 15px 10px 15px;
      border-radius: 5px;
    }

    .skill-category-line {
      display: flex;
      align-items: center;
    }

    .toggler {
      svg-icon svg {
        transition: transform .3s ease-in-out;
      }
    }

    &.expanded {

      .toggler {
        svg-icon svg {
          transform: rotate(180deg);
        }
      }

      .skill-category-name {
        font-weight: $font-weight-avenir-black;
      }

      .skill-category-line {
        margin-bottom: 10px;
      }
    }

  }

  .skill-line {
    display: flex;
    align-items: center;
    background-color: #F7F7F7;
    padding: 8px 10px 8px 15px;
    border-radius: 5px;

    &:nth-child(even) {
      background-color: #ffffff;
    }

    .skill-name {
      flex: 1;
      font-size: 16px;
    }

    .skill-level {
      width: 168px;

      .skill-rating .star-icon {
        font-size: 20px;
        margin-right: 3px;
      }
    }

  }

}
