@import '../variables';

.freelancer-matches-page {
  $freelancer-matches-left-sidebar-width: 455px;

  .left-sidebar {
    width: $freelancer-matches-left-sidebar-width;
    flex: 0 0 $freelancer-matches-left-sidebar-width;
    background-color: transparent !important;
    padding: 40px 38px 40px 38px;
  }

  main {
    background-color: #ffffff;
  }

  &.left-sidebar-visible {
    main {
      margin-left: $freelancer-matches-left-sidebar-width;
    }
  }

  .page-title {
    svg.svg-icon-hug {
      font-size: 38px;
    }
  }
}

app-freelancer-matches-list {
  .no-freelancers-container {
    display: flex;
    justify-content: center;
    text-align: center;

    .inner {
      max-width: 450px;
      font-size: 14px;

      .icon-no-freelancers {
        margin-top: 30px;

        svg {
          font-size: 162px;
          color: $purple;
        }
      }
    }

    .inner-2 {
      padding-left: 20px;
      padding-right: 20px;
      margin-top: 15px;
    }

    ul.reasons-list {
      padding-left: 30px;
      text-align: left;
      list-style: none;
    }
  }
  .already-accepted-freelancer-container {
    display: flex;
    justify-content: center;
    text-align: center;

    .inner {
      max-width: 450px;
      font-size: 14px;

      .icon-already-accepted-freelancer {
        margin-top: 30px;

        svg {
          font-size: 162px;
          color: $purple;
        }
      }
    }

    .inner-2 {
      padding-left: 20px;
      padding-right: 20px;
      margin-top: 15px;
    }

    ul.reasons-list {
      padding-left: 30px;
      text-align: left;
      list-style: none;
    }
  }
}

.freelancer-rating {
  .rating-icon {
    color: $red;
    font-size: 20px;
    margin-right: 0.25rem;
  }
}
