
app-freelancer-card {
  display: block;
  padding-top: 25px; // Add padding so the avatar image is encapsulated in the container (it doesn't flow out)
}

app-freelancer-matches-list {
  app-freelancer-card {
    padding-bottom: 45px; // Add padding so Like and Reject buttons are encapsulated in the container (they don't flow out)
  }
}

.freelancer-card {
  margin: 1.25rem;
  background-color: $gig-purple-lighter;
  border-width: 0;

  &.card-light {
    background-color: #ffffff;
  }

  &.rejected {
    background-color: #FFEBF1;
  }

  .avatar {
    display: block;
    color: $gray-500;

    font-size: 74px;
    position: absolute;
    top: -55px;
    left: calc(50% - 36px); // 36px is half of the image size!
  }

  .top-info {
    margin-top: 24px;
    text-align: center;
    color: $dark;
  }

  .freelancer-name {
    font-size: 22px;
    color: $gig-black;
    margin-bottom: 0;
  }

  .freelancer-role {
    font-size: 14px;
  }

  .summary {
    font-size: 14px;
    height: 67px;
    overflow: hidden;
  }

  .heart-icon {
    display: block;
    position: absolute;
    right: 15px;
    top: 10px;
    color: $red;
    cursor: pointer;
    font-size: 21px;

    &.disabled {
      pointer-events: none;
    }
  }

  .detail-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 10px;

    li {
      padding: 0 0.5rem;
      height: 30px;
      border-radius: 5px;

      .detail-list-icon {
        display: inline-block;
        width: 20px;
        margin-right: 0.25rem;
        font-size: 18px;

        svg {
          vertical-align: -0.25em;
        }
      }

      .detail-text {
        font-size: 14px;
      }
    }

    li:nth-child(odd) {
      background-color: #ffffff;
    }
    li:nth-child(even) {
      background-color: transparent;
    }
  }

  &.card-light {
    .detail-list {
      li:nth-child(odd) {
        background-color: $gig-purple-lighter;
      }
      li:nth-child(even) {
        background-color: transparent;
      }
    }
  }

}

.has-shadow {
  .freelancer-card {
    box-shadow: 0 0 5px $gray-300;
  }
}

$skill-matching-card-height: 133px;

.skill-matching-card {
  height: $skill-matching-card-height;
  position: absolute;
  top: 235px;
  width: 100%;
  z-index: 100;
  border-radius: 0.25rem;
  padding: 1rem;
  background-color: $gig-purple-light;
  box-shadow: 0 0 5px $gray-300;

  .progress {
    height: 8px;
    background-color: #ffffff;
  }

  .match-percentage-container {
    display: flex;
    align-items: center;

    .match-progress {
      flex: 1;
    }

    .match-percentage {
      width: 40px;
      text-align: right;
    }
  }
}

.skill-matching-card-placeholder {
  height: $skill-matching-card-height + 7;
}

.freelancer-card-thumbs-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  margin-top: -26px;
  width: 100%;

  .thumb-up-icon-circle, .thumb-down-icon-circle {
    width: 78px;
    height: 78px;
    border: 10px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 8px $gray-300;
    margin: 6px;
    cursor: pointer;
    transition: box-shadow 0.25s;

    &:hover {
      box-shadow: 0 0 12px $gray-500;
    }

    .thumb-icon {
      display: block;
      margin-left: 14px;
      font-size: 32px;
      color: #ffffff;
    }

    &.disabled {
      cursor: default;
      pointer-events: none;
      background-color: #F7F7F7;
      box-shadow: none;

      .thumb-icon {
        color: $gray-500;
      }
    }
  }

  .thumb-up-icon-circle {
    background-color: $green;

    &:hover {
      //background-color: darken($green, 5);
    }

    .thumb-icon {
      margin-top: 5px;
    }
  }

  .thumb-down-icon-circle {
    background-color: $red;

    &:hover {
      //background-color: darken($red, 5);
    }

    .thumb-icon {
      margin-top: 8px;
    }
  }
}
