<ng-container *ngIf="participant">
    <div class="chat-window-header">
        <div class="name">{{participant === 'GIGHOUSEADMIN' ? 'Gighouse Account Manager' : participant.name}}</div>
        <div class="role">{{participant === 'GIGHOUSEADMIN' ? ('chat.gighouseChatParticipantRole'|translate) : participant.profileName}}</div>
    </div>

    <div class="chat-window-main" #chatWindow>
        <ng-container *ngIf="!(chatService.channelError$|async); else channelError">
            <ng-container *ngIf="!(chatService.loadingConversationMessages$|async); else loadingMessages">
                <ng-container *ngIf="chatService.chatMessagesByDay$|async as chatMessagesByDay">
                    <ng-container *ngIf="chatMessagesByDay.length; else noMessages">
                        <ng-container *ngFor="let messagesByDayItem of chatMessagesByDay">
                            <div class="day-row">{{messagesByDayItem.date | chatDate}}</div>

                            <app-chat-block
                                *ngFor="let messagesByAuthorItem of messagesByDayItem.chatMessagesByAuthor"
                                [messagesByAuthorItem]="messagesByAuthorItem"
                                [participant]="participant">
                            </app-chat-block>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </ng-container>

            <div class="typing-info" *ngIf="chatService.isTyping$|async">
                <fa-icon icon="user-circle" class="avatar"></fa-icon>
                <div class="dot-falling"></div>
            </div>

            <ng-template #loadingMessages>
                <app-loading class="page-loading"></app-loading>
            </ng-template>

            <ng-template #noMessages>
                <h4 class="page-no-items-message">
                    {{'chat.noMessagesInChat'|translate}}<br><br>
                    {{'chat.writeFirstMessage'|translate}}
                </h4>
            </ng-template>
        </ng-container>

        <ng-template #channelError>
            <h4 class="page-loading-failed">
                <span [innerHTML]="'chat.channelError'|translate"></span>
            </h4>
        </ng-template>
    </div>

    <app-chat-window-footer
        class="chat-window-footer"
        (typing)="typing()">
    </app-chat-window-footer>

</ng-container>
