<div class="selected-options">
    <h1>
        {{ title }}<span *ngIf="!loading">&nbsp;({{ options?.length || 0 }}/{{ maxCount }})</span>
    </h1>
    <ng-container *ngIf="!loading; else spinner"></ng-container>
    <div class="selected-options__option" *ngFor="let option of options">
        <div class="selected-option__option__info">{{ option }}</div>
    </div>
</div>

<ng-template #spinner>
    <fa-icon class="text-muted ml-2" icon="spinner" [spin]="true" style="font-size: 14px;"></fa-icon>
</ng-template>
