@import 'src/scss/variables';

@mixin h1-styling {
  h1 {
    color:#d4d4d4;
    font-weight: 900;
    font-size: 16px;
    margin: 0;
    margin-bottom: 8px;
  }
}

@mixin border {
  border-radius: $border-radius;
  border: 1px solid $border-color;
}

.selector {
  @include h1-styling();
  padding: 16px;
  background: #f5f6f8;
}

.selector-disabled {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 16px 48px;
  color: #53565a;
  text-align: center;
  ion-icon {
    margin-left: 8px;
  }
}

.selected-options {
  @include h1-styling();
  min-height: 32px;
  background: #ffffff;
  padding: 16px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  &__option {
    width: 100%;
    height: 40px;
    background: $background_color;
    border-radius: $border-radius;
    padding: 12px;
    padding-right: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  h1 {
    width: 100%;
    margin-bottom: 8px;
  }
}

