@import 'src/scss/variables';

@mixin suggestion-button {
  box-sizing: border-box;
  height: 40px;
  --padding-bottom: 0;
  --padding-top: 0;
  --padding-end: 8px;
  --padding-start: 8px;
  flex: 1;
  --border-color: #c8c8c8;
  --border-radius: #{1px};
  --color: $gig-black;
  display: inline-block;
}

@mixin button-icon {
  ion-icon {
    margin-left: 8px;
    color: $gig-red;
  }
}

.suggestions {
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  overflow-y: hidden;
  max-height: 96px;
  &.expanded {
    max-height: fit-content;
  }
  &.loading {
    align-items: center;
    justify-content: center;
    padding: 8px;
  }
  &__suggestion {

    margin-bottom: 8px;
    margin-right: 8px;
    @include suggestion-button();
    @include button-icon();
    &:active {
      ion-icon {
        color: $gig-purple;
      }
    }
    &[disabled] {
      pointer-events: none;
    }
  }
}
.expand-button {
  @include suggestion-button();
  width: 100%;
  @include button-icon();
}
