<!--<div class="card project-skills" [class.project-skills-empty]="isEmpty()">-->
<!--    <div class="card-body">-->

<!--        <ng-container *ngIf="!isEmpty()">-->

<!--            <ng-container *ngIf="needToHaveSkills.length">-->
<!--                <div class="d-flex">-->
<!--                    <h6 class="need-to-have-title">{{'projects.form.needToHave'|translate}}</h6>-->
<!--                    <div class="level-header">{{'projects.form.skillLevelHeader'|translate}}</div>-->
<!--                </div>-->

<!--                <div class="project-skill-line" *ngFor="let skill of needToHaveSkills; let index = index">-->
<!--                    <div class="skill-name">{{skill.name}}</div>-->
<!--                    <div class="skill-level">-->
<!--                        <app-skill-rating [rating]="skill.level"></app-skill-rating>-->
<!--                    </div>-->
<!--                    <div class="skill-remove">-->
<!--                        <svg-icon name="trash" class="fake-link" (click)="removeSkill(skill)"></svg-icon>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </ng-container>-->

<!--            <ng-container *ngIf="niceToHaveSkills.length">-->
<!--                <h6 class="nice-to-have-title">{{'projects.form.niceToHave'|translate}}</h6>-->

<!--                <div class="project-skill-line" *ngFor="let skill of niceToHaveSkills; let index = index">-->
<!--                    <div class="skill-name">{{skill.name}}</div>-->
<!--                    <div class="skill-level">-->
<!--                        <app-skill-rating [rating]="skill.level"></app-skill-rating>-->
<!--                    </div>-->
<!--                    <div class="skill-remove">-->
<!--                        <svg-icon name="trash" class="fake-link" (click)="removeSkill(skill)"></svg-icon>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </ng-container>-->
<!--        </ng-container>-->

<!--        <ng-container *ngIf="isEmpty()">-->
<!--            <div><svg-icon [name]="emptyIcon"></svg-icon></div>-->
<!--            <h4 class="empty-text">{{emptyText}}</h4>-->
<!--            <button [disabled]="!projectFormService.getExpertise()" class="btn btn-standard btn-outline-danger" (click)="openSkillsPanel.next()">{{emptyButtonText}}</button>-->
<!--        </ng-container>-->

<!--    </div>-->
<!--</div>-->
