<div class="modal-body">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()" [disabled]="rejecting$|async">
        <svg-icon name="close"></svg-icon>
    </button>

    <svg-icon name="thumbs-down" class="thumbs-down-icon"></svg-icon>

    <h4 class="title">{{'freelancers.rejectionModal.title'|translate}}</h4>

    <p class="let-us-know">{{'freelancers.rejectionModal.letUsKnow'|translate}}</p>

    <form [formGroup]="form">
            <div class="form-group reason-field">
            <textarea class="form-control" id="rejectionReason" name="rejectionReason" rows="1" formControlName="reason"></textarea>
        </div>

<!--        TODO: not needed in MVP1 -->
<!--        <div class="custom-control custom-checkbox">-->
<!--            <input type="checkbox"-->
<!--                   class="custom-control-input"-->
<!--                   id="customCheck-saveForOtherProjects"-->
<!--                   formControlName="save">-->
<!--            <label class="custom-control-label clickable" for="customCheck-saveForOtherProjects">-->
<!--                <span class="label-text">{{'freelancers.rejectionModal.saveForOtherProjects'|translate}}</span>-->
<!--            </label>-->
<!--        </div>-->
    </form>

    <div class="modal-actions">
        <button type="button"
                class="btn btn-standard btn-outline-danger mr-2"
                (click)="activeModal.dismiss()"
                [disabled]="rejecting$|async">
            {{'freelancers.rejectionModal.cancel'|translate}}
        </button>
        <button type="button"
                class="btn btn-standard btn-danger"
                (click)="confirm()"
                [disabled]="form.invalid || (rejecting$|async)">
            {{'freelancers.rejectionModal.confirm'|translate}}
        </button>

        <div class="alert alert-danger" role="alert" *ngIf="failed$|async">
            {{'freelancers.rejectionModal.failedToReject'|translate}}
        </div>
    </div>

</div>
