<div class="project-skills">
    <div class="project-skill-line" *ngFor="let language of getLanguages()">
        <div class="skill-name">{{language.language}}</div>
        <div class="skill-level">{{language.level}}</div>

    </div>
</div>

<span class="show-more-toggle" (click)="toggleShowAll()" *ngIf="showToggle()">
    <ng-container *ngIf="!showAll">{{showAllText}}</ng-container>
    <ng-container *ngIf="showAll">{{showLessText|translate}}</ng-container>
</span>
