<div class="row">
    <div class="col-5">
        <div class="field-label">{{'projects.details.sent'|translate}}</div>

        <div *ngIf="project.sentDate; else elseBlock1">
            <div class="field-value">{{project.sentDate|momentToDate}}</div>
        </div>
        <ng-template #elseBlock1>
            <div class="field-value">-</div>
        </ng-template>


    </div>

    <div class="col-7">
        <div class="field-label">{{'projects.details.requestedStartDate'|translate}}</div>

        <div *ngIf="project.sentDate; else elseBlock2">
            <div class="field-value">{{project.requestedStartDate|momentToDate}}</div>
        </div>
        <ng-template #elseBlock2>
            <div class="field-value">-</div>
        </ng-template>

    </div>

    <div class="col-12 mt-2">
        <div class="field-label">{{'projects.details.duration'|translate}}</div>
        <div class="field-value">
            {{'projects.details.durationWeeks'|translate:{durationWeeks: project.durationWeeks} }}
            ({{'projects.details.requiredDaysPerWeek'|translate:{requiredDaysPerWeek: project.requiredDaysPerWeek} }})
        </div>
    </div>
</div>

<hr class="h-separator h-separator-1">

<div class="row">
    <div class="col-5">
        <div class="field-label">{{'projects.details.budget'|translate}}</div>
        <div class="field-value">
            {{'projects.details.dailyRate'|translate:{dayFee: project.dayFee} }}
        </div>
    </div>

    <div class="col-7">
        <div class="field-label">{{'projects.details.location'|translate}}</div>
        <div class="field-value">{{project.getLocationDisplay()}}</div>
        <div class="homeworking-info" *ngIf="project.workFromHomePossible">
            <svg-icon name="home-alt"></svg-icon>
            {{'projects.details.homeworkingPossible'|translate}}
        </div>
    </div>

</div>



<ng-container *ngIf="project.positiveSkills.length || project.positiveSkills.length">
    <hr class="h-separator">
    <div class="skills-title">{{'projects.details.skillsTitle'|translate}}</div>


    <app-project-details-skills
        [title]="'projects.skillsPanel.selectedSkills'|translate"
        [selectedOptions]="project.positiveSkills"
        [maxCount]="25"
        [loading]="false">
    </app-project-details-skills>
</ng-container>

<!--<ng-container *ngIf="project.needToHaveTools.length || project.niceToHaveTools.length">-->
<!--    <hr class="h-separator">-->
<!--    <div class="tools-title">{{'projects.details.toolsTitle'|translate}}</div>-->

<!--    <app-project-details-skills [needToHaveSkills]="project.needToHaveTools"-->
<!--        [niceToHaveSkills]="project.niceToHaveTools" [showAllText]="'projects.details.tools-show-all'|translate"-->
<!--        [showLessText]="'projects.details.tools-show-less'|translate">-->
<!--    </app-project-details-skills>-->
<!--</ng-container>-->


<ng-container *ngIf="project.projectLanguages.length">
    <hr class="h-separator">
    <div class="tools-title">{{'projects.details.languagesTitle'|translate}}</div>

    <app-project-details-languages [projectLanguages]="project.projectLanguages"
                                 [showAllText]="'projects.details.languages-show-all'|translate"
                                [showLessText]="'projects.details.languages-show-less'|translate">
    </app-project-details-languages>
</ng-container>
