@import 'src/scss/variables';

/*  Large screen layout styles */
.layout-large {

  .root-container {
    // Flexbox with row direction
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    flex-grow: 1;
    overflow-x: hidden;
  }

  .root-left-container {
    position: fixed;
    height: 100vh;
    width: $lg-main-menu-width;
    z-index: 2000;

    .main-menu-container {
      position: fixed;
      height: 100vh;
      width: $lg-main-menu-width;
      flex: 0 0 $lg-main-menu-width;
      z-index: 2000;
      transition: width 0.1s;

      background: $gig-purple;
      color: #ffffff;

      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 0;
      list-style: none;
    }

    .secondary-menu {
      display: none;
      position: fixed;
      height: 100vh;
      width: $lg-secondary-menu-width;
      margin-left: $lg-main-menu-width;

      background: #ffffff;
      border-right: 1px solid $gray-300;
      padding: 40px 17px 20px 14px;
    }
  }

  .root-right-container {
    min-height: 100vh;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;

    margin-left: $lg-main-menu-width;

    .header-container {
      position: fixed;
      height: $lg-header-height;
      width: calc(100% - #{$lg-main-menu-width});
      flex: 0 0 $lg-header-height;
      padding: 0;
      margin: 0;
      z-index: 1020;

      -ms-flex-direction: row;
      flex-direction: row;

      background: #ffffff;
      border-bottom: 1px solid $gray-300;

      .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-align: center;
        align-items: center;
      }

      .nav-item {
        position: relative;
        min-width: 50px;
        margin: 0;
        text-align: center;
      }

      .nav-item .nav-link {
        padding-top: 0;
        padding-bottom: 0;
        background: 0;
        border: 0;
        font-size: 21px;
      }
    }

    .page-container {
      width: 100%;
      margin-top: $lg-header-height;

      // Flexbox with row direction
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
      flex-direction: row;
      flex-grow: 1;
      overflow-x: hidden;

      .left-sidebar {
        position: fixed;
        height: calc(100vh - #{$lg-header-height});
        order: -1;

        background: #ffffff;
        border-right: 1px solid $gray-300;
      }

      main {
        -ms-flex: 1;
        flex: 1;
        min-width: 0;
        min-height: calc(100vh - #{$lg-header-height});
        padding: 40px 30px 40px 30px;
      }
    }
  }

  .root-container.secondary-menu-show {
    $totalLeftMenusWidth: $lg-main-menu-width + $lg-secondary-menu-width;

    .root-left-container {
      width: $totalLeftMenusWidth;
    }

    .secondary-menu {
      display: flex;
      flex-direction: column;
    }

    .root-right-container {
      margin-left: $totalLeftMenusWidth;
    }

    .header-container {
      width: calc(100% - #{$totalLeftMenusWidth});
    }
  }

  .root-container.main-menu-expanded {
    .main-menu-container {
      width: $lg-main-menu-expanded-width;
      flex: 0 0 $lg-main-menu-expanded-width;
    }

    .root-left-container {
      width: $lg-main-menu-expanded-width;
    }

    // Uncomment to push away right container for the width of the expanded menu
    //.root-right-container {
    //  margin-left: $main-menu-expanded-width;
    //}

    .menu-item {
      padding: 0 10px;
    }
    .menu-item-label {
      display: inline-block;
    }
  }

  .menu-toggler {
    color: #ffffff;
    background-color: transparent;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 8px;

    .toggler-bar {
      background-color: #ffffff;
      height: 2px;
      width: 25px;
      border-radius: 10px;
      transition: width 0.1s;

      &:nth-child(1), &:nth-child(2) {
        margin-bottom: 5px;
      }
    }

    &:hover .toggler-bar {
      &:nth-child(1) {
        width: 10px;
      }

      &:nth-child(2) {
        width: 17px;
      }
    }
  }

  .menu-item {
    display: block;
    height: 54px;
    font-size: 18px;
    white-space: nowrap;
    color: #ffffff;
    cursor: pointer;

    &:hover:not(.active) {
      color: #ffffff;

      .menu-item-label {
        font-size: 20px;
        transition: font-size 0.1s;
      }

      .menu-item-icon {
        font-size: 26px;
        transition: font-size 0.1s;
      }

      svg-icon.menu-item-icon {
        font-size: 34px;
        transition: font-size 0.1s;
      }
    }
    &.active:hover {
      color: #ffffff;
    }

    &.active {
      background-color: $red;

      .menu-item-label {
        font-weight: bold;
      }

      // arrow on active menu item
      &:after {
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 6px solid $red;
        content: " ";
        position: fixed;
        margin-top: 21px;
      }
    }

    .menu-item-label {
      display: none;
      margin-left: 13px;
      position: relative;
      top: 3px;
    }

    .menu-item-icon {
      display: inline-block;
      text-align: center;
      width: $lg-main-menu-width;

      /* Specific size for custom svg icons (different than font-awesome) */
      font-size: 30px;

      svg {
        vertical-align: -.35em;
      }
    }

    &.sys-admin-menu-item .menu-item-label {
      top: 12px;
    }

    &.sys-admin-menu-item .menu-item-icon {
      font-size: 22px;

      svg {
        vertical-align: -.7em;
      }
    }

    &.admin-navs-title {
      font-size: 14px;
      height: 30px;
    }

  }

  // Hide arrow on active menu item if menu is for admin user because there are more items and scrolling is needed.
  // When user scrolls, the arrow doesn't follow the menu-item so we rather hide it.
  .main-menu-container.admin-menu {
    .menu-item:after {
      display: none;
    }
  }

  .secondary-menu-top {
    padding-bottom: 30px;
  }

  .secondary-menu-item {
    display: block;
    color: $purple;
    padding: 6px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 2px;
    font-weight: $font-weight-avenir-medium;

    svg-icon {
      font-size: 20px;

      &[ng-reflect-name="thumbs-down"] {
        vertical-align: -4px;
      }
    }

    &:hover {
      text-decoration: none;
      color: $purple;
      transition: font-size 0.1s;

      &:not(.active) {
        font-size: 17px;

        svg-icon {
          font-size: 22px;
          transition: font-size 0.1s;
        }
      }
    }

    &.active {
      background-color: $gig-purple-light;
      font-weight: $font-weight-avenir-black;
    }

    .secondary-menu-item-label {
      margin-left: 0.25rem;
    }
  }

  .secondary-menu-icon {
    text-align: center;
    color: $red;

    svg-icon {
      font-size: 30px;
    }
  }

  .secondary-menu-title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }

  .secondary-menu-h-line-box {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;

    .secondary-menu-h-line {
      height: 1px;
      background-color: $purple;
      width: 35px;
    }
  }

  .secondary-menu app-support-contact-info-card {
    margin-top: auto;
    padding-left: 26px;
    padding-right: 22px;

    .contact-id {
      display: flex;
      flex-direction: row;
      align-items: center;

      .contact-image-container {
        width: 50px;
      }

      .contact-name-container {
        flex: 1;

        color: $purple;
        font-size: 16px;
        line-height: 1;
        font-weight: $font-weight-avenir-black;
      }
    }

    .contact-image {
      font-size: 42px;
      color: $gray-500;
    }

    ul {
      list-style: none;
      padding-left: 0;
    }

    .contact-icon {
      font-size: 16px;
      width: 23px;
      display: inline-block;
    }
  }

  .header-logo {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 195px;
    height: $lg-header-height;
    padding: 0;
    margin-right: 0;
    background-color: transparent;
  }

}
