@import '../grid-breakpoint-variables';

/* Common layout styles */

body {
  background-color: $basic-bg-color; // if browser doesn't support gradient
  background-image: linear-gradient($basic-bg-color, #ffff);
}

body, app-root {
  // Flexbox with row direction
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

/* Uncomment this and if needed adapt it to show hide small layout and show large layout at certain breakpoint */
/*.layout-large {
  display: none;
}

@include media-breakpoint-up(md) {
  .layout-small {
    display: none;
  }

  .layout-large {
    display: block;
  }
}*/

/*
 * ON SCREENS SMALLER THAN 1200px, SHOW GUI WITH HORIZONTAL SCROLLBAR AND KEEP WIDTH 1200px!
 * THIS CAN BE REMOVED IF WE EVER IMPLEMENT A DEDICATED LAYOUT FOR SMARTPHONES AND TABLETS (app-layout-small component).
 */
@include media-breakpoint-down(lg) {
  .layout-large .root-container {
    width: map-get($grid-breakpoints, "xl");
  }
}
