<h6>
    {{'timesheets.freelancer'|translate}}
    <fa-icon class="text-muted ml-2" icon="spinner" [spin]="true" *ngIf="showTopSpinner(freelancers$|async, loading$|async)" style="font-size: 14px;"></fa-icon>
</h6>

<ng-container *ngIf="freelancers$|async as freelancers">
<!--    <form [formGroup]="freelancerFilterForm" *ngIf="!hideFreelancerSearchInput(freelancers)">-->
<!--        <input type="text"-->
<!--               class="form-control freelancer-search"-->
<!--               [formControlName]="'search'"-->
<!--               [placeholder]="'timesheets.freelancerSearchPlaceholder'|translate">-->
<!--    </form>-->

    <ng-container *ngIf="freelancers.length; else noFreelancers">
        <div class="freelancers-selection-wrapper">
            <div class="freelancers-selection"
                 infiniteScroll
                 [infiniteScrollDistance]="2"
                 [infiniteScrollThrottle]="50"
                 [infiniteScrollDisabled]="infiniteScrollDisabled$|async"
                 (scrolled)="loadMoreFreelancers()"
                 [scrollWindow]="false"
                 #selectionContainer>

                <div class="custom-control custom-checkbox" *ngFor="let freelancer of freelancers">
                    <input type="checkbox"
                           class="custom-control-input"
                           id="customCheck-freelancer-{{freelancer.id}}"
                           [checked]="isFreelancerSelected(freelancer)"
                           (change)="selectFreelancer(freelancer)">
                    <label class="custom-control-label clickable" for="customCheck-freelancer-{{freelancer.id}}">
                        <fa-icon icon="user-circle" class="avatar"></fa-icon>
                        <span class="name">{{freelancer.name}}</span>
                    </label>
                </div>
            </div>

            <ng-container *ngIf="{loading: loading$|async, loadingFailed: loadingFailed$|async} as overlayReason">
                <div class="overlay" *ngIf="overlayReason.loading || overlayReason.loadingFailed">
                    <div class="infinite-scroll-loading" *ngIf="overlayReason.loading">
                        <h5 class="loading-text mb-0">{{'global.infiniteScrollLoading'|translate}}</h5>
                        <app-loading [withDelay]="false"></app-loading>
                    </div>

                    <div class="infinite-scroll-loading-failed" *ngIf="overlayReason.loadingFailed">
                        <div class="text-danger mb-2">{{'global.infiniteScrollLoadingFailed'|translate}}</div>
                        <button class="btn btn-standard btn-success" (click)="retryLoadFreelancers()">{{'global.infiniteScrollLoadingRetry'|translate}}</button>
                    </div>
                </div>
            </ng-container>

        </div>
    </ng-container>

    <ng-template #noFreelancers>

        <!-- Failed to load freelancers message -->
        <h4 class="freelancers-loading-failed" *ngIf="loadingFailed$|async">
            {{'timesheets.freelancersLoadingFailed'|translate}}
        </h4>

        <!-- No freelancers message -->
        <h4 class="freelancers-no-items-message" *ngIf="!(loadingFailed$|async) && !(loading$|async)">
            {{getNoFreelancersMessage()}}
        </h4>

    </ng-template>

</ng-container>
