<div class="page-container profile-page">

    <!--  <div class="left-sidebar" [perfectScrollbar]="perfectScrollbarConfig">
                        <app-chat-freelancers-menu
                            [freelancers]="freelancers$|async"
                            [freelancersLoading]="freelancersLoading$|async"
                            [freelancersLoadingFailed]="freelancersLoadingFailed$|async"
                            [selectedChatParticipant]="selectedChatParticipant$|async"
                            [selectedProject]="selectedProject$|async"
                            (selectChatParticipant)="selectChatParticipant($event)">
                        </app-chat-freelancers-menu>
                    </div>-->

    <main>
        <!-- <app-loading class="page-loading" *ngIf="loadingProfile$|async"></app-loading> -->
        <!-- <h4 class="page-loading-failed" *ngIf="loadingUserProfileFailed$|async">
            {{'profiles.details.loadingUserProfileFailed'|translate}}</h4>
            <h4 class="page-loading-failed" *ngIf="loadingCompanyProfileFailed$|async">
                {{'profiles.details.loadingCompanyProfileFailed'|translate}}</h4>
                <h4 class="page-loading-failed" *ngIf="loadingCoworkersProfileFailed$|async">
                    {{'profiles.details.loadingCoworkersProfileFailed'|translate}}</h4> -->



        <h1>{{'profiles.myProfile'|translate}}</h1>


        <div class="row mt-4">
            <ng-container *ngIf="userProfile$|async">
                <div class="col-5 col-xxl-4 col-xxxl-3">
                    <div class="card actions-card">
                        <div class="card-body">
                            <ul class="ul-details">
                                <li class="li-details-first">{{userProfile.firstName + ' ' + userProfile.lastName}}</li>
                                <li class="li-details">{{userProfile.street}}</li>
                                <li class="li-details" *ngIf="userProfile.postalCode && userProfile.city">{{userProfile.postalCode + ' ' + userProfile.city}}</li>
                                <li class="li-details">{{userProfile.state}}</li>
                                <li class="li-details">{{userProfile.country}}</li>
                                <br>
                                <li class="li-details">{{userProfile.email}}</li>
                                <li class="li-details">T {{userProfile.phone}}</li>
                            </ul>

                            <!-- Todo: Open edit modal? -->
                            <a class="btn btn-standard btn-edit" (click)="editDetails(true)">
                                {{'profiles.profile-card.edit'|translate}}
                            </a>
                        </div>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="companyProfile$|async">
                <div class="col-5 col-xxl-4 col-xxxl-3">
                    <div class="card actions-card">
                        <div class="card-body">
                            <ul class="ul-details">
                                <li class="li-details-first">{{companyProfile.name}}</li>
                                <li class="li-details">{{companyProfile.street}}</li>
                                <li class="li-details" *ngIf="companyProfile.postalCode && companyProfile.city">{{companyProfile.postalCode + ' ' + companyProfile.city}}</li>
                                <li class="li-details">{{companyProfile.state}}</li>
                                <li class="li-details">{{companyProfile.country}}</li>
                                <li class="li-details">{{companyProfile.vatNumber}}</li>
                                <br>
                                <li class="li-details">{{companyProfile.invoiceEmail}}</li>
                                <li class="li-details">T {{companyProfile.phone}}</li>
                            </ul>

                            <!-- Todo: Open edit modal? -->
                            <a class="btn btn-standard btn-edit" (click)="editDetails(false)">
                                {{'profiles.company-card.edit'|translate}}
                            </a>

                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <br><br><br>

        <ng-container *ngIf="(coworkerProfiles$|async)?.length > 0">
            <h1>{{'profiles.coworkersProfitelsTitle'|translate}}</h1>
            <div class="row mt-4">
                    <div class="col-5 col-xxl-4 col-xxxl-3" *ngFor="let coworker of coworkerProfiles; let i = index">
                        <div class="card actions-card actions-card-other" >
                            <div class="card-body" >
                                <ul class="ul-details">
                                    <li class="li-details-first">{{coworker.name}}</li>
                                    <li class="li-details">{{coworker.street}}</li>
                                    <li class="li-details" *ngIf="coworker.postalCode && coworker.city">{{coworker.postalCode + ' ' + coworker.city}}</li>
                                    <li class="li-details">{{coworker.state}}</li>
                                    <li class="li-details">België</li>
                                    <br>
                                    <li class="li-details">{{coworker.email}}</li>
                                    <li class="li-details">T {{coworker.phone}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
            </div>
        </ng-container>

    </main>
</div>
