<div class="modal-body">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close()">
        <svg-icon name="close"></svg-icon>
    </button>

    <svg-icon name="paper-plane" class="paper-plane-icon"></svg-icon>

    <h4 class="title">{{'projects.projectSaveSuccessModal.title'|translate}}</h4>

    <div class="subtitle">
        {{'projects.projectSaveSuccessModal.subtitle'|translate}}
    </div>

    <div class="body-text">
        {{'projects.projectSaveSuccessModal.bodyText'|translate}}
    </div>

    <div class="modal-actions">
        <button type="button"
                class="btn btn-standard btn-danger"
                (click)="activeModal.close()">
            {{'projects.projectSaveSuccessModal.okBtn'|translate}}
        </button>
    </div>
</div>
