<ng-container [formGroup]="projectFormService.form">
    <h4 class="form-section-heading">{{'projects.form.duration'|translate}}</h4>

    <div class="form-group form-group-duration">
        <select class="form-control days-per-week" [formControlName]="projectFormFields.DAYS_PER_WEEK">
            <option *ngFor="let opt of projectFormService.daysPerWeekOptions" [ngValue]="opt">{{opt}}</option>
        </select>

        <span>{{'projects.form.durationDaysAWeekFor'|translate}}</span>

        <input type="number" class="form-control num-weeks" [formControlName]="projectFormFields.DURATION_WEEKS"
            [min]="projectFormService.durationWeeksMin">

        <span>{{'projects.form.durationWeeks'|translate}}</span>

        <div class="validation-msg" *ngIf="projectFormService.getDurationWeeksErrorMsg() as errorMsg">
            {{errorMsg}}
        </div>
    </div>

    <div class="form-group form-group-start-date" [class.invalid]="projectFormService.getStartDateControl().invalid"
        [class.touched]="projectFormService.getStartDateControl().touched">
        <label for="startDate">{{'projects.form.startDate'|translate}}</label>

        <div class="input-group field-append">
            <input type="text" class="form-control" id="startDate" [formControlName]="projectFormFields.START_DATE"
                ngbDatepicker #startDatePicker="ngbDatepicker" [placeholder]="guiDateFormat">
            <div class="input-group-append">
                <ng-template #popContent>
                    <app-datepicker [selectedDate]="projectFormService.getStartDateControl().value"
                        [popover]="startDatePopover" (selectDate)="projectFormService.setStartDate($event)">
                    </app-datepicker>
                </ng-template>

                <button class="btn btn-outline-secondary" [ngbPopover]="popContent" [autoClose]="'outside'"
                    placement="bottom" container="body" popoverClass="datepicker-popover" #startDatePopover="ngbPopover"
                    [disabled]="!projectFormService.form.enabled">
                    <svg-icon name="calendar"></svg-icon>
                </button>
            </div>
        </div>

        <div class="validation-msg" *ngIf="projectFormService.getStartDateErrorMsg() as errorMsg">
            {{errorMsg}}
        </div>

    </div>

    <hr class="project-sidebar-hr">

    <h4 class="form-section-heading">{{'projects.form.location'|translate}}</h4>

    <ng-container *ngIf="states$ | async as states">
        <label for="companyProfileStateControl">{{'profiles.company-profile-form.company-state'|translate}}</label>
        <select #states id="states" class="form-control" (change)="projectFormService.setNewState($event)"
            [formControlName]="projectFormFields.STATE">
            <option [ngValue]="null" disabled>Choose State</option>
            <option *ngFor="let state of states" [ngValue]="state.label">
                {{state.value}}
            </option>
        </select>
    </ng-container>


    <!-- <ng-container *ngIf="states$ | async as states">
        <label for="companyProfileStateControl">{{'profiles.company-profile-form.company-state'|translate}}</label>
        <select #states id="states" class="form-control" (change)="projectFormService.setNewState($event)">
            <option [ngValue]="null" disabled>Choose State</option>
            <option *ngFor="let state of states" [ngValue]="state.id" (selected)="projectFormService.selectedState">
                {{state.value}}
            </option>
        </select>
    </ng-container> -->
    <div class="form-group form-group-location">

        <label for="city">{{'projects.form.city'|translate}}</label>
        <div>
            <input type="text" class="form-control input-city" id="city"
                   [formControlName]="projectFormFields.CITY">
        </div>

        <div class="validation-msg" *ngIf="projectFormService.getCityErrorMsg() as errorMsg">
            {{errorMsg}}
        </div>
    </div>

    <div class="form-group form-group-location">

        <label for="postcode">{{'projects.form.postcode'|translate}}</label>
        <div>
            <input type="text" class="form-control input-postcode" id="postcode"
                [formControlName]="projectFormFields.POSTCODE">

            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck-workFromHome"
                    [formControlName]="projectFormFields.HOMEWORKING_ALLOWED">
                <label class="custom-control-label" for="customCheck-workFromHome">
                    <svg-icon name="home-alt" class="home-icon ml-1 mr-1"></svg-icon>
                    {{'projects.form.homeworkingInfo'|translate}}
                </label>
            </div>
        </div>

        <div class="validation-msg" *ngIf="projectFormService.getPostcodeErrorMsg() as errorMsg">
            {{errorMsg}}
        </div>
    </div>

    <hr class="project-sidebar-hr">

    <h4 class="form-section-heading">{{'projects.form.budget'|translate}}</h4>

    <div class="form-group form-group-budget" [class.invalid]="projectFormService.getBudgetControl().invalid"
        [class.touched]="projectFormService.getBudgetControl().touched">
        <label for="budget">{{'projects.form.totalBudget'|translate}}</label>

        <div class="input-group field-prepend">
            <div class="input-group-prepend">
                <span class="input-group-text">€</span>
            </div>
            <input type="number" class="form-control input-budget" id="budget"
                [formControlName]="projectFormFields.BUDGET" [min]="projectFormService.budgetMin">
        </div>

        <div class="validation-msg" *ngIf="projectFormService.getBudgetErrorMsg() as errorMsg">
            {{errorMsg}}
        </div>

    </div>

    <hr class="project-sidebar-hr">

    <div class="d-flex">
        <h4 class="form-section-heading">{{'projects.form.skillsTitle'|translate}}</h4>
        <div class="fake-link add-skills-link" *ngIf="hasSkills(projectFormService.formSkills$|async)"
            (click)="openSkillsPanel.next()">{{'projects.form.addSkills'|translate}}</div>
    </div>

        <app-project-form-skills [selectedSkills]="(projectFormService.formSkills$|async)"
            [emptyText]="'projects.form.emptySkillsText'|translate"
            [emptyButtonText]="'projects.form.emptySkillsButtonText'|translate" [emptyIcon]="'microphone'"
            (triggerRemove)="removeSkill($event)" (openSkillsPanel)="openSkillsPanel.next()">
        </app-project-form-skills>
</ng-container>
