<div class="chat-block" [class.your-chat-block]="messagesByAuthorItem.isCurrentUserAuthor" [class.their-chat-block]="!messagesByAuthorItem.isCurrentUserAuthor">
    <div class="chat-block-top">
        <fa-icon icon="user-circle" class="avatar"></fa-icon>
        <div class="name">{{getAuthorDisplayName()}}</div>
    </div>
    <div class="post" *ngFor="let message of messagesByAuthorItem.chatMessages">
        <div class="chat-balloon"
             [ngbTooltip]="message.dateCreated|chatMessageTimePipe"
             [placement]="messagesByAuthorItem.isCurrentUserAuthor ? 'left' : 'right'"
             [openDelay]="500"
             tooltipClass="chat-message-time">
            {{message.body}}
        </div>
    </div>
</div>
