<div class="page-container projects-list-page">

    <main>
        <ng-container *ngIf="projects$|async as projects; else loadingIndicator">
            <ng-container *ngIf="projects.length; else noProjectsMessage">
                <div class="title-bar">
                    <h3 class="page-title mb-0" style="vertical-align: middle;">
                        <ng-container *ngIf="isActiveProjectsPage$|async; else archiveTitle">
                            <svg-icon name="dot-circle"></svg-icon>
                            {{'projects.activeProjectsTitle'|translate}}
                        </ng-container>
                        <ng-template #archiveTitle>
                            <svg-icon name="archive"></svg-icon>
                            {{'projects.archivedProjectsTitle'|translate}}
                        </ng-template>
                    </h3>
                    <div class="ml-auto">
                        <ng-container *ngTemplateOutlet="newProjectButton"></ng-container>
                    </div>
                </div>

                <app-project-table
                    [projects]="projects"
                    [totalCount]="projectsTotalCount$|async"
                    [isActiveProjectsTable]="isActiveProjectsPage$|async"
                    [loading]="loading$|async"
                    [loadingFailed]="loadingFailed$|async"
                    (loadMore)="loadMoreProjects()"
                    (retry)="retryLoadProjects()">
                </app-project-table>
            </ng-container>
        </ng-container>

        <ng-template #noProjectsMessage>
            <!-- Failed to load projects message -->
            <h4 class="page-loading-failed" *ngIf="loadingFailed$|async">
                {{((isActiveProjectsPage$|async) ? 'projects.activeProjectsLoadingFailed' : 'projects.archivedProjectsLoadingFailed') | translate}}
            </h4>

            <!-- No projects message -->
            <div class="text-center" *ngIf="!(loadingFailed$|async)">
                <h1 class="mt-5 mb-4">
                    {{((isActiveProjectsPage$|async) ? 'projects.noActiveProjects' : 'projects.noArchivedProjects') | translate}}
                </h1>
                <ng-container *ngTemplateOutlet="newProjectButton"></ng-container>
            </div>
        </ng-template>

        <ng-template #newProjectButton>
            <a class="btn btn-danger btn-standard" [routerLink]="['/projects', 'new']">{{'projects.newProjectButton'|translate}}</a>
        </ng-template>

        <ng-template #loadingIndicator>
            <app-loading class="page-loading"></app-loading>
        </ng-template>

    </main>

    <app-workflow-sidebar class="d-none d-xxl-block"></app-workflow-sidebar>

</div>
