<div class="page-container freelancer-matches-page" [class.left-sidebar-visible]="(matchesProjects$|async)?.length">

    <ng-container *ngIf="matchesProjects$|async as projects">
        <div class="left-sidebar" *ngIf="projects.length" [perfectScrollbar]="perfectScrollbarConfig">
            <h3 class="page-title">
                <svg-icon name="hug" class="mr-2"></svg-icon>
                {{'freelancers.matchesTitle'|translate}}
            </h3>

             <div class="projects-match-list">
                <div class="projects-match-list-header">
                    <div class="project-name-header">{{'freelancers.matches.projectsSelectionHeader'|translate}}</div>
                    <div class="project-matches-count-header">{{'freelancers.matches.projectsSelectionMatchesCount'|translate}}</div>
                </div>

                <div class="project-item"
                     [class.active]="(selectedProject$|async).id === project.id"
                     *ngFor="let project of projects"
                     (click)="selectProject(project)">
                    <div class="project-name">
                        {{project.name}}
                    </div>
                    <div class="project-matches-count">
                        {{project.matchesCount}}
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <main>
        <ng-container *ngIf="(matchesProjects$|async)?.length === 0">
            <h3 class="page-title">
                <svg-icon name="hug" class="mr-2"></svg-icon>
                {{'freelancers.matchesTitle'|translate}}
            </h3>

            <h4 class="page-no-items-message text-primary">{{'freelancers.matches.noProjects'|translate}}</h4>

            <div class="text-center mt-4">
                <a class="btn btn-danger btn-standard" [routerLink]="['/projects', 'new']">
                    {{'freelancers.matches.newProjectButton'|translate}}
                </a>
            </div>
        </ng-container>

        <app-loading class="page-loading" *ngIf="loadingProjects$|async"></app-loading>
        <h4 class="page-loading-failed" *ngIf="loadingProjectsFailed$|async">{{'freelancers.matches.projectsLoadingFailed'|translate}}</h4>

        <app-freelancer-matches-list
            *ngIf="selectedProject$|async"
            [selectedProject]="selectedProject$|async"
            [freelancerCardContainerClass]="'col-12 col-xxl-6 col-xxxl-4'">
        </app-freelancer-matches-list>
    </main>

</div>
