<div class="root-container"
     [ngClass]="{
        'main-menu-expanded': mainMenuExpanded,
        'secondary-menu-show': secondaryMenuNavItems
     }">

    <div class="root-left-container">
        <app-main-menu (toggleMenu)="toggleMenu()" [mainMenuExpanded]="mainMenuExpanded"></app-main-menu>
        <app-secondary-menu
            *ngIf="secondaryMenuNavItems"
            [secondaryMenuNavItems]="secondaryMenuNavItems"
            [activeMainMenuNavItem]="activeMainMenuNavItem">
        </app-secondary-menu>
    </div>

    <div class="root-right-container">
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
    </div>
</div>
