<div class="project-item"
     (click)="selectProject.next(project)"
     [class.active]="selectedProject && project.id === selectedProject.id">
    <span class="project-name">{{project.name}}</span>
    <span class="project-unread-msg-indicator" *ngIf="unreadMessages$|async"></span>
</div>
