<div class="toggle-filter-bar" (click)="toggleExpanded.next()">
    <svg-icon name="filter" class="icon-filter"></svg-icon>
    <svg-icon name="chevron-bold" class="icon-chevron-bold" [class.chevron-left]="expanded" [class.chevron-right]="!expanded"></svg-icon>
</div>
<div class="timesheets-filter" [class.d-none]="!expanded">
    <h6 class="title-period">{{'timesheets.period'|translate}}</h6>

    <div class="period-selection">
        <div class="custom-control custom-radio" *ngFor="let option of periodOptions">
            <input type="radio"
                   id="customRadio-{{option.id}}"
                   name="customRadio"
                   class="custom-control-input"
                   [value]="option.id"
                   [checked]="option.id === selectedPeriod"
                   (change)="selectPeriodOption(option.id)">
            <label class="custom-control-label clickable" for="customRadio-{{option.id}}" (click)="selectPeriodOption(option.id)">
                <span>{{option.label|translate}}</span>
            </label>
        </div>
    </div>

    <app-datepicker
        [selectedDate]="selectedDate"
        [rangeFromDate]="rangeFromDate"
        [rangeToDate]="rangeToDate"
        [selectedDateNoHighlight]="true"
        (selectDate)="onSelectDateInCalendar($event)">
    </app-datepicker>

    <hr class="mt-0">

    <app-timesheets-freelancers-filter
        (changeSelectedFreelancers)="changeSelectedFreelancers.next($event)">
    </app-timesheets-freelancers-filter>
</div>
