<div class="card project-skills" [class.project-skills-empty]="isEmpty()">
    <div class="card-body">

        <ng-container *ngIf="!isEmpty()">
            <app-selected-options
                [title]="'projects.skillsPanel.selectedSkills'|translate"
                [selectedOptions]="selectedSkills"
                [maxCount]="maxCount"
                [loading]="false"
                [editable]="false"
                (deleteOption)="handleDeleteOption($event)"
            ></app-selected-options>
        </ng-container>

        <ng-container *ngIf="isEmpty()">
            <div><svg-icon [name]="emptyIcon"></svg-icon></div>
            <h4 class="empty-text">{{emptyText}}</h4>
            <button  [disabled]="!projectFormService.getExpertise()" class="btn btn-standard btn-outline-danger" (click)="openSkillsPanel.next()">{{emptyButtonText}}</button>
<!--            <button [disabled]="!projectFormService.getExpertise()" class="btn btn-standard btn-outline-danger" (click)="openSkillsPanel.next()">{{emptyButtonText}}</button>-->
        </ng-container>

    </div>
</div>
