<div class="suggestions">

    <button
        *ngFor="let suggestion of suggestions"
        [disabled]="disabled || checkIfOptionIsSelected(suggestion)"
        class="btn btn-danger suggestions__suggestion "
        fill="outline"
        (click)="handleSelect(suggestion)"
    >

        <span>{{ suggestion }}</span>
        <span name="add"></span>
    </button>
</div>
<div class="loading" *ngIf="loading">
    <fa-icon  class="text-muted ml-2" icon="spinner" [spin]="true" style="font-size: 14px;"></fa-icon>
    <span class="loading-text">{{'projects.skillsPanel.suggestionsLoading'|translate}}</span>
</div>
