@import 'src/scss/variables';

@mixin suggestion-button {
  box-sizing: border-box;
  height: auto;
  --padding-bottom: 0;
  --padding-top: 0;
  --padding-end: 8px;
  --padding-start: 8px;
  flex: 1;
  --border-color: #c8c8c8;
  --border-radius: #{1px};
  --color: $gig-black;
  display: inline-block;
}


.button-icon {
  margin-left: 8px;
  margin-right: 8px;
}


.autocomplete {
  margin-bottom: 3rem;
}

.loading {
  width: 100%;
  margin-bottom: 3rem;
}

.loading-text {
  margin-left: 2rem;
}

.suggestions {
  margin-top: 1rem;
  margin-bottom: 3rem;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  overflow-y: hidden;

  &.expanded {
    max-height: fit-content;
  }

  &.loading {
    align-items: center;
    justify-content: center;
    padding: 8px;
  }

  &__suggestion {
    margin-bottom: 8px;
    margin-right: 8px;
    @include suggestion-button();

    &:active {
      button-icon {
        color: $gig-purple;
      }
    }

    &[disabled] {
      pointer-events: none;
    }
  }
}

.expand-button {
  @include suggestion-button();
  width: 100%;
}
