<div class="card project-skills" [class.project-skills-empty]="isEmpty()">
    <div class="card-body">

        <ng-container *ngIf="!isEmpty()">

            <ng-container *ngIf="projectLanguages.length">
                <div *ngFor="let projectLanguage of projectLanguages; let index = index">
                    <div class="project-skill-line" *ngIf="projectLanguage.level !== 'none'" >
                        <div class="skill-name">{{projectLanguage.language}}</div>
                        <div class="skill-level">{{projectLanguage.level}}</div>
                    </div>
                </div>

            </ng-container>
        </ng-container>

        <ng-container *ngIf="isEmpty()">
            <div><svg-icon [name]="emptyIcon"></svg-icon></div>
            <h4 class="empty-text">{{emptyText}}</h4>
            <button class="btn btn-standard btn-outline-danger" (click)="openLanguagesPanel.next()">{{emptyButtonText}}</button>
        </ng-container>

    </div>
</div>
