<div class="page-container freelancer-profile-page">

    <main>
        <div class="freelancer-profile-main">
            <ng-template #noFreelancer>
                <app-loading class="page-loading" *ngIf="!(loadingFailed$|async)"></app-loading>
                <h4 class="page-loading-failed"
                    *ngIf="loadingFailed$|async">{{'freelancers.profile.loadingFailed'|translate}}</h4>
            </ng-template>

            <ng-container *ngIf="freelancer$|async as freelancer; else noFreelancer">
                <div class="freelancer-profile-toolbar">
                    <a *ngIf="(fromUrl$ | async) as fromUrl"
                       (click)="back(fromUrl)"
                       class="back-to-overview">
                        <svg-icon name="arrow-left" class="mr-1"></svg-icon>
                        <span>{{'freelancers.profile.backToOverview'|translate}}</span>
                    </a>

                    <div class="add-to-favourites"
                         (click)="toggleFavourite(freelancer)"
                         [class.disabled]="freelancer.isFavouriteUpdating">
                        <svg-icon
                            class="heart-icon"
                            [name]="freelancer.isFavourite ? 'heart-full' : 'heart'">
                        </svg-icon>

                        <span *ngIf="!freelancer.isFavourite"
                              class="ml-2">{{'freelancers.profile.addToFavourites'|translate}}</span>
                        <span *ngIf="freelancer.isFavourite"
                              class="ml-2">{{'freelancers.profile.removeFromFavourites'|translate}}</span>
                    </div>
                </div>

                <div class="freelancer-profile-heading">
                    <div class="avatar-container">
                        <fa-icon class="avatar" [icon]="['fas', 'user-circle']"></fa-icon>
                    </div>

                    <div class="name-container">
                        <div class="row">
                            <div class="col-6">
                                <h1 class="freelancer-name">{{freelancer.name}}</h1>
                            </div>
                        </div>
                        <h4 class="profile-name mt-3">{{freelancer.profileName}}</h4>
                    </div>
                </div>

                <div class="description">
                    {{freelancer.description}}
                </div>

                <div class="row details">
                    <div class="col-12 col-xxl-6">
                        <ul class="detail-list">
                            <li *ngIf="freelancer.state">
                                <svg-icon name="home" class="detail-list-icon"></svg-icon>
                                <span class="detail-text">
                                    {{freelancer.state}}
                                </span>
                            </li>
                            <li *ngIf="freelancer.availabilityDate">
                                <svg-icon name="rocket" class="detail-list-icon"></svg-icon>
                                <span class="detail-text" *ngIf="freelancer.availabilityDate">
                                    {{'freelancers.availableFrom'|translate}} {{freelancer.availabilityDate}}
                                </span>
                            </li>
                            <li *ngIf="freelancer.rateRequestedByFreelancer || freelancer.rateProposedToCustomer">
                                <svg-icon name="euro" class="detail-list-icon"></svg-icon>
                                <span class="detail-text"
                                      *ngIf="freelancer.rateRequestedByFreelancer && freelancer.rateProposedToCustomer">
                                    {{'freelancers.minFeeBoth'|translate:{
                                    rateProposedToCustomer: freelancer.rateProposedToCustomer,
                                    rateRequestedByFreelancer: freelancer.rateRequestedByFreelancer
                                } }}
                                </span>
                                <span class="detail-text"
                                      *ngIf="freelancer.rateRequestedByFreelancer && !freelancer.rateProposedToCustomer">
                                    {{'freelancers.minFeeExclFee'|translate:{rateRequestedByFreelancer: freelancer.rateRequestedByFreelancer} }}
                                </span>
                                <span class="detail-text"
                                      *ngIf="!freelancer.rateRequestedByFreelancer && freelancer.rateProposedToCustomer">
                                    {{'freelancers.minFeeInclFee'|translate:{rateProposedToCustomer: freelancer.rateProposedToCustomer} }}
                                </span>
                            </li>
                            <li *ngIf="freelancer.availableDaysPerWeek">
                                <svg-icon name="calendar" class="detail-list-icon"></svg-icon>
                                <span class="detail-text" *ngIf="freelancer.availableDaysPerWeek">
                                    {{availableDaysPerWeek(freelancer)}}
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card gighouse-opinion-card mt-4">
                    <div class="card-body">
                        <div class="header">
                            <h5 class="title">{{'freelancers.profile.opinionTitle'|translate}}</h5>
                            <span class="score">
                                <span class="mr-2">{{'freelancers.profile.score'|translate}}</span>
                                <app-freelancer-rating [rating]="freelancer.getRatingInt()"></app-freelancer-rating>
                            </span>
                        </div>


                        <div class="opinion mt-3">
                            <quill-view [content]="freelancer.gighouseOpinion"></quill-view>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="card gighouse-portfolio-card mt-4">
                        <div class="card-body">
                            <div class="header">
                                <h5 class="title">{{'freelancers.profile.portfolio.title'|translate}}</h5>
                            </div>

                            <div *ngFor="let portfolio of freelancer.portfolios" class="portfolio mt-3">
                                <div><a href="{{portfolio.linkToSource}}">{{portfolio.name}}</a></div>
                                <div>{{portfolio.description}}</div>
                                <div>{{'freelancers.profile.portfolio.type'|translate}}: {{portfolio.type}}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="card gighouse-referrals-card mt-4">
                        <div class="card-body">
                            <div class="header">
                                <h5 class="title">{{'freelancers.profile.referrals.title'|translate}}</h5>
                            </div>
                            <div *ngFor="let referral of freelancer.referrals" class="referral mt-3">
                                <div class="header">
                                    <div class="title">
                                        {{referral.profile}}
                                    </div>
                                    <div class="score">
                                        <app-skill-rating  [rating]="referral.rating" [canSetRating]="false"></app-skill-rating>
                                    </div>
                                </div>
                                <div>{{'freelancers.profile.referrals.quote'|translate}}: {{referral.quote}}</div>


                            </div>
                        </div>
                    </div>
                </div>


                <div class="card matches-card mt-4"
                     *ngIf="freelancer.matchingProjects && freelancer.matchingProjects.length > 0">
                    <div class="card-body">
                        <h5 class="title mb-4">{{'freelancers.profile.projectMatchesTitle'|translate}}</h5>

                        <div class="gig-table project-matches">
                            <table class="table table-borderless mb-0">
                                <tbody>
                                <ng-container *ngFor="let project of freelancer.matchingProjects; let last = last">
                                    <tr>
                                        <td class="name-col">
                                            <a [routerLink]="['/projects', 'details', project.id]">{{project.name}}</a>
                                        </td>
                                        <td class="acceptance-col">
                                            <div class="thumb-down-icon-circle mr-2" (click)="reject(freelancer)"
                                                 [class.disabled]="freelancer.isAccepted() || freelancer.isRejected()"
                                                 [hidden]="freelancer.isAccepted()">
                                                <svg-icon class="thumb-icon" name="thumbs-down"></svg-icon>
                                            </div>
                                            <div class="thumb-up-icon-circle" (click)="accept(freelancer)"
                                                 [class.disabled]="freelancer.isAccepted() || freelancer.isRejected()"
                                                 [hidden]="freelancer.isRejected()">
                                                <svg-icon class="thumb-icon" name="thumbs-up"></svg-icon>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr class="spacer-row" *ngIf="!last">
                                        <td colspan="2"></td>
                                    </tr>
                                </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </ng-container>
        </div>

        <div class="freelancer-profile-sidebar">
            <app-freelancer-profile-sidebar [freelancer]="freelancer$|async"></app-freelancer-profile-sidebar>
        </div>
    </main>

</div>
