<div>
    <div class="header-container navbar">
        <!-- Right side nav items -->
        <ul class="nav navbar-nav ml-auto">
            <!-- User dropdown -->
            <li class="nav-item gig-dropdown account-dropdown pointer mr-4" display="dynamic" ngbDropdown
                placement="bottom-right">
                <a class="nav-link" ngbDropdownToggle role="button" tabindex="0">
                    <svg-icon name="user"></svg-icon>
                    <div class="d-inline-block ml-1">
                        <svg-icon class="chevron" name="chevron"></svg-icon>
                    </div>
                </a>
                <ul aria-labelledby="languagesnavBarDropdown"
                    class="dropdown-menu gig-dropdown-menu account-dropdown-menu" ngbDropdownMenu>
                    <li *ngFor="let language of languages">
                        <a (click)="changeLanguage(language);"
                           [appActiveLangMenu]="language"
                           class="dropdown-item"
                           href="javascript:void(0);">
                            {{ language | findLanguageFromKey }}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-md-center mt-5">
            <div class="col-12 col-md-9 col-lg-7 col-xl-5 col-xxl-4">
                <div class="text-center">
                    <img class="header-logo-full mb-3" src="/assets/img/GigHouseLogo.png" width="170" height="25"
                         alt="GigHouse Logo">

                    <p class="mb-1 text-primary">
                        {{(accountService.identity()|async).email}}
                        <span class="ml-1 clickable text-danger" jhiTranslate="global.menu.account.logout"
                              (click)="logout()">Sign out</span>
                    </p>
                </div>

                <div class="card">
                    <div class="card-body">

                        <form [formGroup]="this.form">
                            <ng-container *ngIf="currentRegistrationStep === registrationSteps.PROFILE">
                                <div class="form-group">
                                    <label
                                        for="userProfileNameControl">{{'profiles.user-profile-form.user-name'|translate}}</label>
                                    <input type="text" class="form-control" id="userProfileNameControl"
                                           formControlName="userProfileNameControl">
                                    <span class="validation-msg" *ngIf="this.getUserProfileNameErrorMsg() as errorMsg">
                    {{errorMsg}}
                </span>
                                </div>

                                <div class="form-group">
                                    <label
                                        for="userProfileSurnameControl">{{'profiles.user-profile-form.user-surname'|translate}}</label>
                                    <input type="text" class="form-control" id="userProfileSurnameControl"
                                           formControlName="userProfileSurnameControl">
                                    <span class="validation-msg" *ngIf="getUserProfileSurnameErrorMsg() as errorMsg">
                    {{errorMsg}}
                </span>
                                </div>

                                <div class="form-group">
                                    <label
                                        for="userProfilePhoneControl">{{'profiles.user-profile-form.user-phone'|translate}}</label>
                                    <input type="text" class="form-control" id="userProfilePhoneControl"
                                           formControlName="userProfilePhoneControl">
                                    <span class="validation-msg" *ngIf="getUserProfilePhoneErrorMsg() as errorMsg">
                    {{errorMsg}}
                </span>
                                </div>

                                <div class="form-group">
                                    <label
                                        for="userProfilePhoneControl">{{'profiles.register.company-name'|translate}}</label>
                                    <input type="text" class="form-control" id="userProfileCompanyNameControl"
                                           formControlName="userProfileCompanyNameControl">
                                    <span class="validation-msg"
                                          *ngIf="getUserProfileCompanyNameErrorMsg() as errorMsg">
                    {{errorMsg}}
                </span>
                                </div>

                                <div class="form-group">
                                    <label
                                        for="userProfilePhoneControl">{{'profiles.company-profile-form.company-vat'|translate}}</label>
                                    <input type="text" class="form-control" id="userProfileVatControl"
                                           formControlName="userProfileVatControl">
                                    <span class="validation-msg" *ngIf="getUserProfileVatErrorMsg() as errorMsg">
                    {{errorMsg}}
                </span>
                                </div>

                                <div class="custom-control custom-checkbox newsletter-checkbox">
                                    <input type="checkbox"
                                           class="custom-control-input"
                                           id="customCheck-newsletter"
                                           formControlName="userProfileNewsletter">
                                    <label class="custom-control-label" for="customCheck-newsletter">
                                        {{'profiles.register.subscribeNewsletter'|translate}}
                                    </label>
                                </div>

                            </ng-container>

                            <ng-container *ngIf="currentRegistrationStep === registrationSteps.TERMS">
                                <div class="acceptance-text" [innerHTML]="userAgreement$|async"></div>
                                <hr class="mt-0">

                                <div class="custom-control custom-checkbox newsletter-checkbox">
                                    <input type="checkbox"
                                           class="custom-control-input"
                                           id="customCheck-acceptTerms"
                                           formControlName="userProfileAcceptTermsControl">
                                    <label class="custom-control-label" for="customCheck-acceptTerms">
                                        {{'profiles.register.accept'|translate}}
                                    </label>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="currentRegistrationStep === registrationSteps.PRIVACY">
                                <div class="acceptance-text" [innerHTML]="privacyPolicy$|async"></div>
                                <hr class="mt-0">

                                <div class="custom-control custom-checkbox newsletter-checkbox">
                                    <input type="checkbox"
                                           class="custom-control-input"
                                           id="customCheck-acceptPrivacy"
                                           formControlName="userProfileAcceptPrivacyControl">
                                    <label class="custom-control-label" for="customCheck-acceptPrivacy">
                                        {{'profiles.register.accept'|translate}}
                                    </label>
                                </div>
                            </ng-container>
                        </form>

                        <div class="text-right">
                            <button type="button"
                                    class="btn btn-standard btn-outline-primary mr-2"
                                    *ngIf="currentRegistrationStep !== registrationSteps.PROFILE"
                                    (click)="goToPreviousStep()"
                                    [disabled]="actionRunning$|async">
                                {{'profiles.register.back-btn'|translate}}
                            </button>

                            <button type="button"
                                    class="btn btn-standard btn-success"
                                    (click)="next()"
                                    [disabled]="confirmDisabled()">
                                {{'profiles.register.confirm-btn'|translate}}
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
