<div class="page-container project-form-page">

    <main>

        <app-loading class="page-loading" *ngIf="(loadingProject$|async) || (loadingSkills$|async)"></app-loading>
        <h4 class="page-loading-failed" *ngIf="loadingDataFailed$|async">{{'projects.form.dataLoadingFailed'|translate}}
        </h4>

        <ng-container *ngIf="projectFormService.form">
            <app-project-toolbar [project]="project" [isReadOnlyProject]="false"
                [isSaving]="projectFormService.saving$|async" (saveProject)="saveProject(true)"
                (saveAsDraft)="saveProject()">
            </app-project-toolbar>

            <form [formGroup]="projectFormService.form" [class.submitted]="projectFormService.submitted$|async"
                *ngIf="projectFormService.form">
                <div class="project-view-main">

                    <div class="project-view-left">
                        <h3 class="new-project-title" *ngIf="isFormCreateMode() || isFormCopyMode()">
                            {{'projects.newProjectTitle'|translate}}
                        </h3>
                        <h3 class="edit-project-title" *ngIf="isFormEditMode()">
                            {{projectFormService.getJobTitle()}}
                        </h3>

                        <div class="project-summary-container">
                            <div class="phone-preview-container">
                                <app-project-smartphone-preview [projectName]="projectFormService.getJobTitle()"
                                    [projectDescription]="projectFormService.getJobDescription()"
                                    [projectBudget]="projectFormService.getBudget()"
                                    [projectStartDate]="projectFormService.getStartDate()"
                                    [projectDaysPerWeek]="projectFormService.getDaysPerWeek()"
                                    [projectState]="projectFormService.getState()"
                                    [projectPostcode]="projectFormService.getPostcode()"
                                    [projectCity]="projectFormService.getCity()"
                                    [projectTeasers]="projectFormService.getTeasers()"
                                    [projectSkills]="projectFormService.getFormSkills()"
                                    [projectTools]="projectFormService.getFormTools()">
                                </app-project-smartphone-preview>
                            </div>

                            <div class="project-summary">
                                <app-project-form-summary></app-project-form-summary>
                            </div>
                        </div>
                    </div>

                    <div class="project-right-sidebar">
                        <app-project-form-sidebar (openSkillsPanel)="openSkillsPanel()"
                            (openToolsPanel)="openToolsPanel()" (openLanguagesPanel)="openLanguagesPanel()">
                        </app-project-form-sidebar>
                    </div>

                    <app-project-skills-panel [mode]="skillPanelMode" (triggerClose)="closeSkillsPanel()"
                        *ngIf="skillPanelMode">
                    </app-project-skills-panel>

                    <app-project-languages-panel  (triggerClose)="closeLanguagesPanel()"
                                              *ngIf="languagesPanel">
                    </app-project-languages-panel>

                </div>
            </form>
        </ng-container>
    </main>

</div>
