<ng-container [formGroup]="projectFormService.form">
    <div class="form-group">
        <label for="jobTitle">{{'projects.form.jobTitle'|translate}}</label>
        <input type="text" class="form-control" id="jobTitle" [formControlName]="projectFormFields.JOB_TITLE">
        <span class="validation-msg" *ngIf="projectFormService.getJobTitleErrorMsg() as errorMsg">
            {{errorMsg}}
        </span>
    </div>

    <div class="form-group">
        <label for="expertise">{{'projects.form.expertise'|translate}}</label>
        <select
            #expertise
            class="form-control"
            id="expertise"
            (change)="projectFormService.expertiseSelected($event)"
            [formControlName]="projectFormFields.EXPERTISE">

            <option [ngValue]="null" disabled>{{'projects.form.selectExpertise'|translate}}</option>
            <option *ngFor="let expertise of projectFormService.expertises" [ngValue]="expertise.id +';' + expertise.name">
                {{expertise.name}}
            </option>
        </select>

    </div>

    <div class="form-group">
        <label for="description">{{'projects.form.jobDescription'|translate}}</label>
        <quill-editor
            id ="description"
            [formControlName]="projectFormFields.JOB_DESCRIPTION"
            [placeholder]="''"
            [modules]="quillConfiguration"
            [styles]="{'min-height': '120px'}"
            class="content-editor"
        >
        </quill-editor>
<!--        <textarea class="form-control" id="jobDescription" name="" rows="10"-->
<!--                  [formControlName]="projectFormFields.JOB_DESCRIPTION"></textarea>-->
        <span class="validation-msg" *ngIf="projectFormService.getJobDescriptionErrorMsg() as errorMsg">
            {{errorMsg}}
        </span>
    </div>

    <h4 class="form-section-heading teasers-title">{{'projects.form.teasers'|translate}}</h4>
    <p class="teasers-subtext">{{'projects.form.teasersSubText'|translate}}</p>

    <ul class="project-tags" [formArrayName]="projectFormFields.TEASERS">
        <li *ngFor="let teaser of projectFormService.getTeasersFormArray().controls; let index = index">
            <span class="tag-number">{{index + 1}}.</span>
            <span class="tag-text">
                <input type="text" class="form-control" [formControlName]="index">
                <span class="validation-msg" *ngIf="projectFormService.getTeaserErrorMsg(index) as errorMsg">
                    {{errorMsg}}
                </span>
            </span>
        </li>
    </ul>
</ng-container>
