<div class="page-container home-page">
    <main>
        <h1>
            <ng-container *ngIf="account && !account.firstName">{{'home.title'|translate}}</ng-container>
            <ng-container *ngIf="account && account.firstName">{{'home.titleWithFirstName'|translate:{
                name:
                account.firstName
            } }}</ng-container>
            <ng-container *ngIf="!account">{{'home.noUserTitle'|translate}}</ng-container>
        </h1>

        <!-- User info  -->
        <div class="row">
            <div class="col-6 col-xxl-8 col-xxxl-9">
                <div class="user-info-title">{{'home.accountInfoHeading'|translate}}</div>

                <ul class="user-info-list mt-2 mb-2">
                    <li> {{brokersfee}}% {{'home.brokersfee'|translate}}</li>
                    <li>{{'home.directDebit'|translate}}</li>
                </ul>
            </div>

            <!-- GigHouse highlights  -->
            <div class="col-6 col-xxl-4 col-xxxl-3">
                <div class="gighouse-info-title">{{'home.highlights.title'|translate}}</div>

                <div class="gighouse-info-row mt-2">
                    <svg-icon name="check" class="gig-info-check"></svg-icon>
                    <span class="gighouse-info-text">{{'home.highlights.highlight1'|translate}}</span>
                </div>
                <div class="gighouse-info-row">
                    <svg-icon name="check" class="gig-info-check"></svg-icon>
                    <span class="gighouse-info-text">{{'home.highlights.highlight2'|translate}}</span>
                </div>
                <div class="gighouse-info-row">
                    <svg-icon name="check" class="gig-info-check"></svg-icon>
                    <span class="gighouse-info-text">{{'home.highlights.highlight3'|translate}}</span>
                </div>
                <div class="gighouse-info-row">
                    <svg-icon name="check" class="gig-info-check"></svg-icon>
                    <span class="gighouse-info-text">{{'home.highlights.highlight4'|translate}}</span>
                </div>
            </div>
        </div>

        <div class="row mt-4" *ngIf="allLoaded$|async">
            <!-- Actions card  -->
            <div class="col-6 col-xxl-5 col-xxxl-4">
                <div class="card actions-card" *ngIf="actionItems$|async as actionItems">
                    <div class="card-body">
                        <svg-icon name="todo-list" class="card-title-icon"></svg-icon>

                        <div class="total-circle" *ngIf="!(actionItemsLoadingFailed$|async)">
                            <div class="total-number">{{getActionsTotal(actionItems)}}</div>
                        </div>

                        <h4 class="mt-4 mb-4">{{'home.actionsCard.title'|translate}}</h4>

                        <div class="actions-list">
                            <a class="action-item" [routerLink]="actionItem.routerLink"
                               *ngFor="let actionItem of actionItems">
                                <div class="action-label" >
                                    {{actionItem.label}}
                                    <span *ngIf="!(actionItemsLoadingFailed$|async)">({{actionItem.count}})</span>
                                </div>
                                <div class="arrow">
                                    <svg-icon name="chevron" class="chevron-right text-danger"></svg-icon>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Active projects card  -->
            <div class="col-6 col-xxl-5 col-xxxl-4">
                <div class="card projects-card" *ngIf="projects$|async as projects">
                    <div class="card-body">
                        <svg-icon name="clipboard-plus" class="card-title-icon"></svg-icon>

                        <div class="total-circle">
                            <div class="total-number">{{projects.length}}</div>
                        </div>

                        <h4 class="mt-4 mb-4">
                            <ng-container *ngIf="projects.length">{{'home.projectsCard.currentProjectsTitle'|translate}}
                            </ng-container>
                            <ng-container *ngIf="!projects.length">{{'home.projectsCard.noProjectsTitle'|translate}}
                            </ng-container>
                        </h4>

                        <div class="projects-list">
                            <a class="project-item" [routerLink]="['/projects/details', project.id]"
                               *ngFor="let project of projects">
                                <div class="project-label">
                                    {{project.name}}
                                </div>
                                <div class="arrow">
                                    <svg-icon name="chevron" class="chevron-right text-danger"></svg-icon>
                                </div>
                            </a>
                        </div>

                        <a class="btn btn-standard btn-danger w-100 mt-4" [routerLink]="['projects/new']">
                            {{'home.projectsCard.newProject'|translate}}
                        </a>
                    </div>
                </div>
            </div>

            <!-- Interesting profiles card  -->
            <div class="col-6 col-xxl-5 col-xxxl-4">
                <!-- Placeholder for Interesting Profiles card -->
            </div>
        </div>
    </main>

    <app-workflow-sidebar [showHelpInfo]="true"></app-workflow-sidebar>

</div>
