<div class="modal-body">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()" [disabled]="actionRunning$|async">
        <svg-icon name="close"></svg-icon>
    </button>

    <div class="confirmation-body" [innerHTML]="body"></div>

    <div class="modal-actions">
        <button type="button"
                class="btn btn-standard btn-outline-danger mr-2"
                (click)="activeModal.dismiss()"
                [disabled]="actionRunning$|async">
            {{'global.modalConfirm.cancel'|translate}}
        </button>
        <button type="button"
                class="btn btn-standard btn-danger"
                (click)="confirm()"
                [disabled]="actionRunning$|async">
            <ng-container *ngIf="confirmBtnText">{{confirmBtnText}}</ng-container>
            <ng-container *ngIf="!confirmBtnText">{{'global.modalConfirm.confirm'|translate}}</ng-container>
        </button>
    </div>

</div>
