<app-loading class="page-loading" *ngIf="loading"></app-loading>
<h4 class="page-loading-failed" *ngIf="loadingFailed">{{'invoices.noActiveInvoices'|translate}}</h4>

<ng-container *ngIf="showInvoicesTable()">

    <div class="title-bar">
        <h3 class="page-title mb-0" style="vertical-align: middle;">
            <svg-icon name="contract"></svg-icon>
            {{'invoices.title'|translate}}
        </h3>
    </div>

    <div class="gig-table invoices-table" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50">
        <table class="table table-borderless">
            <thead>
            <tr>
                <th class="number-col first-col"> {{'invoices.invoicesTable.numberHeader'|translate}}</th>
                <th class="freelancer-col">{{'invoices.invoicesTable.freelancerHeader'|translate}}</th>
                <th class="date-col">{{'invoices.invoicesTable.dateHeader'|translate}}</th>
                <th class="due-col">{{'invoices.invoicesTable.dueDateHeader'|translate}}</th>
                <th class="amount-col">{{'invoices.invoicesTable.amountHeader'|translate}}</th>
                <th class="status-col ">{{'invoices.invoicesTable.statusHeader'|translate}}</th>
                <th class="open-col last-col">{{'invoices.invoicesTable.actionsHeader'|translate}}</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let invoice of invoices">
                <tr>
                    <td class="number-col first-col">
                        {{invoice.number}}
                    </td>

                    <td class="freelancer-col" *ngIf="invoice.freelancersConcat; else elseBlock1">
                        {{invoice.freelancersConcat}}
                    </td>
                    <ng-template #elseBlock1>
                        <td class="freelancer-col">
                            -
                        </td>
                    </ng-template>

                    <td class="date-col" *ngIf="invoice.date; else elseBlock2">
                        {{invoice.date|momentToDate}}
                    </td>
                    <ng-template #elseBlock2>
                        <td class="date-col">
                            -
                        </td>
                    </ng-template>

                    <td class="due-col"
                        *ngIf="'invoice.periodStartDate' && 'invoice.periodEndDate'; else elseBlock3">
                        {{invoice.periodStartDate|momentToDate}} - {{invoice.periodEndDate|momentToDate}}
                    </td>
                    <ng-template #elseBlock3>
                        <td class="due-col">
                            -
                        </td>
                    </ng-template>

                    <td class="amount-cell" *ngIf="invoice.totalAmountWithVAT; else elseBlock4">
                        €{{invoice.totalAmountWithVAT}}
                    </td>
                    <ng-template #elseBlock4>
                        <td class="amount-col">
                            -
                        </td>
                    </ng-template>

                    <td class="status-col">
                        <div class="badge status-badge {{invoice.statusConfig.statusCssClass}}"
                             [ngbTooltip]="invoice.statusConfig.translateLabel|translate">
                            <svg-icon [name]="invoice.statusConfig.icon" class="status-icon"
                                      *ngIf="invoice.statusConfig.icon">
                            </svg-icon>
                            <div class="status-icon custom-status-icon" *ngIf="!invoice.statusConfig.icon"></div>
                            <span class="status-label">{{invoice.statusConfig.translateLabel|translate}}</span>
                        </div>
                    </td>

                    <td class="open-col last-col">
                        <a (click)="getInvoicePdf(invoice.number)" class="badge open-badge">
                            <svg-icon name="download" class="open-icon"></svg-icon>
                        </a>
                    </td>
                </tr>
                <tr class="spacer-row">
                    <td colspan="5"></td>
                </tr>
            </ng-container>
            </tbody>
        </table>
    </div>

</ng-container>

<!-- <div class="infinite-scroll-loading" *ngIf="loading">
    <h5 class="loading-text mb-0">{{'global.infiniteScrollLoading'|translate}}</h5>
    <app-loading [withDelay]="false"></app-loading>
</div>

<div class="text-center mt-2" *ngIf="loadingFailed">
    <div class="text-danger mb-2">{{'global.infiniteScrollLoadingFailed'|translate}}</div>
    <button class="btn btn-standard btn-success"
        (click)="retry.next()">{{'global.infiniteScrollLoadingRetry'|translate}}</button>
</div> -->

<!-- Load More button in case initial data is not enough for showing a scrollbar - (scrolled) event never triggers  -->
<!-- <div *ngIf="showLoadMoreBtn(viewInitialized$|async)" class="text-center mt-2">
    <button class="btn btn-standard btn-success"
        (click)="loadMore.next()">{{'global.infiniteScrollLoadMore'|translate}}</button>
</div> -->
